

<app-main-user-settings *ngIf="userSettingsModel" [userSettingsModel]="userSettingsModel"></app-main-user-settings>
<app-location-language-user-settings *ngIf="userSettingsModel" [userSettings]="userSettingsModel"></app-location-language-user-settings>
<app-education-user-settings *ngIf="userSettingsModel" [userSettings]="userSettingsModel"></app-education-user-settings>
<app-additional-education-user-settings *ngIf="userSettingsModel" [userSettings]="userSettingsModel"></app-additional-education-user-settings>
<button type="submit" class="btn save-all" (click)="updateSettings()" *ngIf="userSettingsModel">сохранить изменения</button>


<div class="done-message" *ngIf="succesMessage">
    <div class="done-message__info-block">
        <div class="done-message__icon"><img src="/assets/images/svg/done.svg" alt=""></div>
        <div class="done-message__text">
            <p class="accent">Изменения успешно сохранены</p>
        </div>
        <div class="btns-wrapper">
        </div>
        <div class="done-message__close" (click)="closePopUp()"></div>
    </div>
</div>
  

