.wrapper {
  max-width: 1045px;
  margin: 0 auto;
  font-family: Source Sans Pro;
}
.nav-wrapper {
  width: 100%;
  position: relative;
  height: 50px;
}
.navigation_page {
  background: #fafbfc;
  box-shadow: 0px 4px 4px rgba(128, 152, 213, 0.1);
  position: absolute;
  width: 100%;
  top: 113px;
  &.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-variant: small-caps;
    color: #323c47;
    text-transform: uppercase;
    padding: 15px 0;
    cursor: pointer;
    &:hover {
      // font-style: normal;
      // font-weight: 600;
      // font-size: 16px;
      color: #3c7eea;
    }
  }
}

.content {
  padding-top: 50px;
}
.back-to-list {
  padding-top: 25px;
  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #323c47;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 53%;
      left: 0;
      transform: translateY(-50%);
      height: 10px;
      width: 8px;
      background-image: url(/assets/images/svg/user/arrow-left-black.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.general-information {
  &__avatar {
    width: 107px;
    height: 107px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: 130%;
      border-radius: 50%;
    }
  }
}
