<app-main-header></app-main-header>
<app-categories-header></app-categories-header>

<nav class="navigation_page" #stickyMenu [class.sticky] = "sticky">
  <div class="wrapper">
    <ul>
      <li (click)="scrollTo('about')">О фрилансере</li>
      <li (click)="scrollTo('education')">Образование</li>
      <li (click)="scrollTo('rating')">рейтинг</li>
      <li (click)="scrollTo('description')">услуги</li>
      <li (click)="scrollTo('comments')">отзывы</li>
    </ul>
  </div>
</nav>

<div class="wrapper" *ngIf="userData">
  <div class="content">
    <div class="back-to-list">
      <a>Вернуться к списку фрилансеров</a>
    </div>
    <div class="general-information">
      <div class="general-information__avatar">
        <img [src]="userData.avatar" alt="user avatar">
      </div>
      <div class="general-information__wrapper">
        <div class="general-information__name"><span>{{userData.name}} {{userData.surname}}</span> </div>
        <!-- <div class="general-information__online"><span [ngClass]="{online: userData.online}">{{userData.online}}</span></div> -->
        <div class="general-information__lvl">Уровень: </div>
      </div>
      <div class="general-information__wrapper">
        <!-- <div class="general-information__available">Статус доступности: <span [ngClass]="{load: userData.load}">загружен(-а)</span></div> -->
        <div class="general-information__inProces">Проектов в работе: <span>2</span></div>
        <div class="general-information__awaiting">Проектов в очереди: <span>3</span></div>
      </div>
      <div class="general_iformations__actions">

      </div>
    </div>
  </div>
</div>
