<app-main-header></app-main-header>
<app-categories-header></app-categories-header>

<nav class="navigation-page" #stickyMenu [class.sticky]="sticky">
  <div class="navigation-page__wrapper">
    <ul>
      <li (click)="scrollTo('about')">О фрилансере</li>
      <li (click)="scrollTo('aducation')" *ngIf="userTypeFreelancer">Образование</li>
      <li (click)="scrollTo('rating')">рейтинг</li>
      <li (click)="scrollTo('services')">услуги</li>
      <li (click)="scrollTo('comments')">отзывы</li>
    </ul>
  </div>
</nav>

<div class="wrapper" *ngIf="userData">
  <div class="content">
    <section class="general-information" id="about"> 
      <div class="general-information__avatar">
        <img [src]="userData.avatar" alt="user avatar">
      </div>
      <div class="general-information__wrapper">
        <div class="general-information__name"><span>{{userData.name}} {{userData.surname}}</span> </div>
        <!-- <div class="general-information__online"><span [ngClass]="{online: userData.online}">{{userData.online}}</span></div> -->

        <div class="general-information__online">
          <span class="online" *ngIf="userData.online">Oнлайн</span>
          <span class="offline" *ngIf="!userData.online">Офлайн</span>
        </div>

        <div class="general-information__lvl">Уровень: <span class="value">{{userData.rank_id}}</span></div>
      </div>
      <div class="general-information__wrapper" *ngIf="userTypeFreelancer">
        <div class="general-information__available">Статус доступности: 
          <span class="value free" *ngIf="!userData.busy">не загружен(-а)</span>
          <span class="value" *ngIf="userData.busy">загружен(-а)</span>
        </div>
        <div class="general-information__inProces">Проектов в работе: <span class="value">{{userData.dealsCounts.inProgressOffers}}</span></div>
        <div class="general-information__awaiting">Проектов в очереди: <span class="value">{{userData.dealsCounts.QueuedOffers}}</span></div>
      </div>
      <div class="general-information__actions">

        <div class="action tooltip" data-title="Написать сообщение" (click)="openChat(userData.id)" >
          <a >
            <img src="assets/images/svg/service-page/envelope.svg" alt="" class="default-img">
            <img src="assets/images/svg/service-page/envelope-hov.svg" alt="" class="hover-img">
          </a>
        </div>
        <div class="action tooltip" data-title="Добавить к избранным" *ngIf="userTypeFreelancer">
          <a href="">
            <img src="assets/images/svg/service-page/heart.svg" alt="" class="default-img">
            <img src="assets/images/svg/service-page/heart-hov.svg" alt="" class="hover-img">
          </a>
        </div>
        <div class="action tooltip" data-title="Пожаловаться">
          <a href="">
            <img src="assets/images/svg/service-page/auction.svg" alt="" class="default-img">
            <img src="assets/images/svg/service-page/auction-hov.svg" alt="" class="hover-img">
          </a>
        </div>

      </div>
    </section>
    <section class="switching-user-types">
      <div class="btns-wrapper">
        <div class="btn btn-user-type" [ngClass]="{active: userTypeFreelancer}" (click)=chouseUser(0) >Профиль филансера</div>
        <div class="btn btn-user-type" [ngClass]="{active: !userTypeFreelancer}" (click)=chouseUser(1)>профиль заказчика</div>
      </div>
      <div class="switching-user-types__text">*Каждый пользователь данной биржи может быть одновременно исполнителем и заказчиком, в зависимости от потребности. </div>
    </section>
    <section class="about-user">
      <div class="about-user__wrapper">
        <div class="about-user__info-block">
          <div class="about-user__title">Страна, город</div>
          <div class="about-user__value">{{userData.country}} <br> {{userData.city}}</div>
        </div>
        <div class="about-user__info-block">
          <div class="about-user__title">На сайте с</div>
          <div class="about-user__value">{{convertDateToDMY(userData.email_verified_at)}}</div>
        </div>
        <div class="about-user__info-block fixed-width-block" *ngIf="userTypeFreelancer">
          <div class="about-user__title">Исполненных проектов</div>
          <div class="about-user__value">{{userData.dealsCounts.EndedWorks}}</div>
        </div>
        <div class="about-user__info-block fixed-width-block" *ngIf="!userTypeFreelancer">
          <div class="about-user__title">Количество заказов</div>
          <div class="about-user__value">{{userData.dealsCounts.dealsAsCustomer}}</div>
        </div>
        <div class="about-user__info-block" *ngIf="userTypeFreelancer">
          <div class="about-user__title">Обращений в арбитраж</div>
          <div class="about-user__value">{{userData.arbitration.freelancer}}</div>
        </div>
        <div class="about-user__info-block" *ngIf="!userTypeFreelancer">
          <div class="about-user__title">Обращений в арбитраж</div>
          <div class="about-user__value">{{userData.arbitration.customer}}</div>
        </div>
        <div class="about-user__info-block">
          <div class="about-user__title">Время ответа</div>
          <div class="about-user__value">{{userData.answerTime}}</div>
        </div>
      </div>
      <div class="about-user__description" *ngIf="userTypeFreelancer">
        <p>{{userData.description}}</p>
      </div>
    </section>
    <section class="languages">
      <div class="section-title">Знание языков</div>
      <ul class="languages__wrapper">
        <li class="languages__info-block" *ngFor="let language of userData.language">
          <div class="languages__name">{{ language.langName}} </div>
          <div class="languages__lvl"> - {{ academicDegreesTranslations[language.langLevel-1]}}</div>
        </li>
      </ul>
    </section>
    <section class="aducation" id="aducation" *ngIf="userTypeFreelancer">
      <div class="section-title">Высшее образование</div>
      <div class="aducation__wrapper">
        <div class="aducation__info-block" *ngFor="let education of userData.education; let thisArr = index">

          <div class="aducation__img-list" *ngIf="education.diploma_files.length; let i = index">
            <ng-container *ngFor="let img of education.diploma_files; let i = index">
              <div class="img-item"  (click)="showPopUp(i, thisArr, 'img')" [ngClass]="{open_popUp: clickedEducationImgs === thisArr && clickedSinglImg === i}">
                <img src="{{img.link}}" alt="">
                <div class="close-popUp" ></div>
              </div>
            </ng-container>
          </div>

          <div class="text-wrapper">
            <div class="aducation__institution">{{ education.institution}}</div>
            <div class="aducation__group">
              <div class="aducation__specialty">{{ education.specialty}}</div>
              <div class="aducation__years">{{ education.startEducation}} - {{ education.finishEducation}}</div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="aducation" *ngIf="userTypeFreelancer">
      <div class="section-title">Дополнительное образование</div>
      <div class="aducation__wrapper">
        <div class="aducation__info-block" *ngFor="let education of userData.additionalEducation">

          <div class="aducation__img-list" *ngIf="education.aditional_diploma_files.length; let i = index">
            <ng-container *ngFor="let img of education.aditional_diploma_files; let i = index">
              <div class="img-item"  (click)="showPopUp(i, thisArr, 'img')" [ngClass]="{open_popUp: clickedEducationImgs === thisArr && clickedSinglImg === i}">
                <img src="{{img.link}}" alt="">
                <div class="close-popUp" ></div>
              </div>
            </ng-container>
          </div>

          <div class="text-wrapper">
            <div class="aducation__institution">{{ education.additionalInstitution}}</div>
            <div class="aducation__group">
              <div class="aducation__specialty">{{ education.courseName}}</div>
              <div class="aducation__years">{{ education.startStudyYear}} - {{ education.endStudyYear}}</div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="raiting" id="rating">
      <div class="section-title">Общий рейтинг</div>
      <div class="raiting__wrapper"  *ngIf="userTypeFreelancer">
        <div class="raiting__info-block">
          <div class="raiting__name">Качество услуг</div>
          <div class="star-raiting">{{ userData.averageRaiting.freelancer.qualityMark}}</div>
        </div>
        <div class="raiting__info-block">
          <div class="raiting__name">Срок исполнения</div>
          <div class="star-raiting">{{ userData.averageRaiting.freelancer.termMark}}</div>
        </div>
        <div class="raiting__info-block">
          <div class="raiting__name">Вежливость фрилансера</div>
          <div class="star-raiting">{{ userData.averageRaiting.freelancer.politenessMark}}</div>
        </div>
        <div class="raiting__info-block">
          <div class="raiting__name">Средняя оценка</div>
          <div class="star-raiting">{{ userData.averageRaiting.freelancer.averageMark}}</div>
          <span class="comments-count">( {{ userData.comments_freelancer_count}} отзывов):</span>
        </div>
      </div>
      <div class="raiting__wrapper"  *ngIf="!userTypeFreelancer">
        <div class="raiting__info-block">
          <div class="raiting__name">Постановка задачи</div>
          <div class="star-raiting">{{ userData.averageRaiting.customer.taskClarity}}</div>
        </div>
        <div class="raiting__info-block">
          <div class="raiting__name">Чёткость требований</div>
          <div class="star-raiting">{{ userData.averageRaiting.customer.requirementsClarity}}</div>
        </div>
        <div class="raiting__info-block">
          <div class="raiting__name">Контактность</div>
          <div class="star-raiting">{{ userData.averageRaiting.customer.contactLevel}}</div>
        </div>
        <div class="raiting__info-block">
          <div class="raiting__name">Средняя оценка</div>
          <div class="star-raiting">{{ userData.averageRaiting.customer.averageMark}}</div>
          <span class="comments-count">( {{ userData.comments_freelancer_count}} отзывов):</span>
        </div>
      </div>
    </section>
    <app-user-page-services *ngIf="userData" [userData] = userData id="services"></app-user-page-services>
    <app-user-page-comments *ngIf="userData" [userData] = userData [userTypeFreelancer]=userTypeFreelancer id="comments"></app-user-page-comments>
  </div>
</div>

