.wrapper {
  width: 100%;
  margin: 0 auto;
  background: #f1f2f4;
  font-family: Source Sans Pro;
  font-weight: normal;
}
.section-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #323c47;
}

.nav-wrapper {
  width: 100%;
  position: relative;
  height: 50px;
}

.navigation-page {
  background: #fafbfc;
  box-shadow: 0px 4px 4px rgba(128, 152, 213, 0.1);
  position: absolute;
  width: 100%;
  // top: 137px;
  &.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 2000;
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-variant: small-caps;
    color: #323c47;
    text-transform: uppercase;
    padding: 15px 0;
    cursor: pointer;
    &:hover {
      // font-style: normal;
      // font-weight: 600;
      // font-size: 16px;
      color: #3c7eea;
    }
  }
  &__wrapper {
    max-width: 1045px;
    margin: 0 auto;
  }
}

.content {
  max-width: 1045px;
  margin: 0 auto;
  background-color: #fff;
  padding: 80px 30px 1px;
}

.back-to-list {
  padding-top: 25px;
  margin-bottom: 60px;
  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #323c47;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 53%;
      left: 0;
      transform: translateY(-50%);
      height: 10px;
      width: 8px;
      background-image: url(/assets/images/svg/user/arrow-left-black.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.general-information {
  height: 90px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  font-size: 16px;
  line-height: 18px;
  color: #4e5051;
  &__avatar {
    width: 107px;
    height: 107px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 60px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: 130%;
      border-radius: 50%;
    }
  }
  &__wrapper {
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
    .value {
      padding-left: 14px;
    }
  }
  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #323c47;
    // margin-bottom: 2px;
  }
  &__online {
    color: #ff647c;
    font-weight: normal;
    padding-left: 22px;
    position: relative;
    margin-bottom: 22px;
    span::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-35%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ff647c;
    }
    .online{
      color: #38CB8E;
      &::before{
        background-color: #38CB8E;
      }
    }
    .offline{
      color: #ff647c;
      &::before{
        background-color: #ff647c;
      }
    }
  }
  // &__lvl {}
  &__available {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    .value {
      color: #ff647c;
      font-weight: 600;
      &.free {
        color: #38cb8e;
      }
    }
  }
  &__inProcess {
    margin-top: 16px;
  }
  // &__awaiting {}
  &__actions {
    display: flex;
    .action {
      width: 40px;
      height: 40px;
      border: 1px solid #bfc5d1;
      border-radius: 4px;
      box-sizing: border-box;
      margin-right: 17px;
      position: relative;
      cursor: pointer;
      z-index: 10;
      &.tooltip {
        opacity: 1;
        &:before {
          display: block;
          position: absolute;
          bottom: 55px;
          left: 50%;
          transform: translateX(-50%);
          padding: 9px 26px 8px;
          white-space: nowrap;
          width: auto;
          text-align: center;
          box-shadow: 0px 15px 21px rgba(128, 152, 213, 0.5);
          border-radius: 8px;
          content: attr(data-title);
          box-sizing: border-box;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.7s;
          color: #323c47;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          background-color: #fff;
        }
        &:hover {
          &:before {
            opacity: 1;
            visibility: visible;
          }
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.7s;
          bottom: 45px;
          left: 50%;
          transform: translateX(-50%);
          border-top: 10px solid #fff;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          box-shadow: 0px 15px 21px rgba(128, 152, 213, 0.5);
        }
        &:hover {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.default-img {
          display: block;
        }
        &.hover-img {
          display: none;
        }
      }
      &:hover {
        border: 1px solid #3c7eea;
        img {
          &.default-img {
            display: none;
          }
          &.hover-img {
            display: block;
          }
        }
      }
    }
  }
}

.switching-user-types{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  .btns-wrapper{
    display: flex;
  }
  .btn-user-type{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 12px 20px;
    height: max-content;  

    background-color: #fff;
    color: #3C7EEA;
    border: 1px solid #3C7EEA;
    margin-right: 15px;
    box-sizing: border-box;

    &.active{
      background-color: #3C7EEA;
      color: #fff;
      box-sizing: border-box;
      &:hover{
        background-color: #5695fd;
      }
    }
  }
  &__text{
    width: 50%;
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #99ACB7;
  }
}

.about-user {
  margin-bottom: 30px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  &__info-block {
    display: flex;
    flex-direction: column;

    color: #4e5051;
    font-size: 16px;
    line-height: 17px;
    &.fixed-width-block{
      min-width: 170px;
    }
  }
  &__title {
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__value {
    line-height: 21px;
  }
  &__description {
    padding-bottom: 30px;
    border-bottom: 1px solid #f1f2f4;

    font-size: 18px;
    line-height: 23px;
    color: #4e5051;
    p {
      margin: 0;
    }
  }
}

.languages {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 29px;
    border-bottom: 1px solid #f1f2f4;
    margin-bottom: 40px;
  }
  &__info-block {
    display: flex;
    width: 31%;

    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #4e5051;

    padding-left: 12px;
    margin-bottom: 16px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #4e5051;
      top: 56%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  &__name {

    margin-right: 3px;

  }
  &__lvl {
    font-weight: normal;
  }
}

.education{
  margin-bottom: 35px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f1f2f4;

    font-size: 16px;
    line-height: 17px;
    color: #4e5051;
  }
  &__info-block {
    margin-bottom: 22px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
    .text-wrapper{
      margin-top: 15px;
    }
  }
  &__institution {
    font-weight: 600;
    margin-bottom: 6px;
    margin-right: 5px;
    width: fit-content;
  }
  &__group {
    display: flex;
    width: fit-content;
  }
  &__specialty {
    color: #707683;
    margin-right: 30px;
  }
  &__years {
    color: #99acb7;
  }
  &__img-list{
    display: flex;
    flex-wrap: wrap;
    .img-item{
      position: static;
      width: 160px;
      height: 160px;
      cursor: pointer;
      margin-right: 15px;
      img{
        object-fit: contain;
        width: auto;
        height: 100%;
        max-height: 160px;
        max-width: 160px;
      }
      &.open_popUp{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(244, 247, 252, 0.7);
        z-index: 9;
        img{
          position: fixed;
          top: 50%;
          left: 50%;
          height: 100%;
          width: 100%;
          transform: translate(-50%, -50%);
          max-width: 500px;
          max-height: 500px;
        }
        .close-popUp{
          display: block;
        }
      }
      .close-popUp{
        display: none;
        position: absolute;
        top: 50px;
        right: 50px;
        width: 55px;
        height: 55px;
        font-size: 25px;
        cursor: pointer;
        background-color: transparent;
        z-index: 9;
        &::before{
          content: "";
          width: 25px;
          height: 3px;
          background-color: #3F60FB;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after{
          content: "";
          width: 25px;
          height: 3px;
          background-color: #3F60FB;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}

.rating {
  margin-bottom: 30px;
  border-bottom: 1px solid #f1f2f4;
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 330px;
  }
  &__info-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    font-size: 16px;
    line-height: 17px;
    &:nth-child(3) {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #f1f2f4;
    }
  }
  &__name {
    width: 220px;
    margin-right: 20px;

    font-weight: 600;
    color: #707683;
  }
  &__comments {
    font-weight: normal;
    color: #99ACB7;
    line-height: 20px;
  }
}

.comments-count{
  position: absolute;
  right: -110px;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 20px;
  color: #99ACB7;
}

@media (max-width: 1499px) {
  .content {
    max-width: 1110px;
  }
}

@media (max-width: 1360px) {
  .content {
    max-width: 1010px;
  }
  .general-information {

    &__avatar {
      margin-right: 30px;
    }
    &__online {
      span::before {
        width: 9px;
        height: 9px;
      }
    }
    // &__lvl {}
    &__available {
      font-size: 14px;
      line-height: 18px;
    }
    &__inProcess {
      font-size: 14px;
      line-height: 18px;
    }
    &__awaiting {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .switching-user-types{
    &__text{
      font-size: 14px;
      line-height: 18px;
    }
  }
}