<div class="inform_section">
  <div class="inform_section__title">
    <h3>О себе</h3>
  </div>
  <div class="inform_section__fields">
    <div class="top-block">
      <div class="user-avatar" >
        <div class="block-title">Аватар</div>
        <form #form="ngForm" >
          <div>
            <input type="file" id="file" class="input-file" #fileInput (change)="avatarUpload($event)" >
            <label for="file" class="img-wrapper">
              <div class="ava-block">
                <div class="img-block">
                    <img [src]="'https://www.thecubetest.site/Backend/storage/app/' + dashboardSettings.avatar" alt="">
                  </div>
                  <div class="sub-btn"></div>
              </div>
            </label>
          </div>
        </form>
      </div>
      <div class="full-name-block">
        <div class="fields">
          <h5 class="fields-title">Имя</h5>
          <input class="fields-value" type="text" [(ngModel)]="dashboardSettings.name">
        </div>
        <div class="fields">
          <h5 class="fields-title"> Фамилия</h5>
          <input class="fields-value" type="text" [(ngModel)]="dashboardSettings.surname">
        </div>
      </div>
    </div>
    <div class="gender-block">
      <div class="block-title">Пол</div>
      <input type="radio" id="male"
      name="gender" value="male" [(ngModel)]="dashboardSettings.gender">
      <label for="male">Мужской</label>

      <input type="radio" id="female"
      name="gender" value="female" [(ngModel)]="dashboardSettings.gender">
      <label for="female">Женский</label>
    </div>
    <div class="birthday-block">
      <div class="block-title">Дата рождения</div>
      <!-- <input class="fields-value" type="text" [(ngModel)]="dashboardSettings.description"> -->
    </div>
    <div class="about_me-block">
      <!-- <div class="block-title">Расскажите о  себе</div> -->
      <h5 class="fields-title">Расскажите о  себе</h5>
      <textarea class="fields-value" [(ngModel)]="dashboardSettings.description" cols="45"></textarea>
    </div>
  </div>
</div>

