.nav-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}

.auth-pg {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;

  &.login {
    .login-form {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .registr-form {
      display: none;
    }
  }

  .log {
    width: 500px;
    margin: auto;
  }

  &.registr {
    justify-content: flex-end;

    .registr-form {
      width: 60%;
      display: flex;
    }

    .login-form {
      display: none;
    }
  }

  .reg {
    margin: auto;
    width: 500px;
  }

  .swipe-block {
    height: 100%;
    background: #f5f6fa;
    position: absolute;
    width: 40%;
    z-index: 2;
    overflow: hidden;

    h2 {
      color: #000000;
      font-size: 36px;
      font-weight: 800;
      font-family: "Open Sans"
    }

    &.left {
      left: 0;
      animation: move_left 0.8s;

      // & + .docs {
      //   animation: docsAnimation 0.8s;
      // }
      &:before {
        transform: rotate(65deg);
        animation: rotate_back-f 1.2s;
      }

      &:after {
        transform: rotate(45deg);
        animation: rotate_back-s 0.9s;
      }

      .inform:before {
        animation: rotate_forvard 1s;
        transform: rotate(315deg);
      }

      .login-txt {
        animation: info_txt_show 1s;
      }

      .registr-txt {
        position: absolute;
        color: transparent;
        animation: info_txt_hide_l 1s;
      }
    }

    &.right {
      right: 0;
      animation: move_right 0.8s;

      // & + .docs {
      //   animation: docsAnimation 0.8s;
      // }
      &:before {
        transform: rotate(245deg);
        animation: rotate_forvard-f 1.2s;
      }

      &:after {
        transform: rotate(-135deg);
        animation: rotate_forvard-s 0.9s;
      }

      .inform:before {
        animation: rotate_back 1s;
        transform: rotate(135deg);
      }

      .registr-txt {
        animation: info_txt_show 1s;
      }

      .login-txt {
        position: absolute;
        color: transparent;
        animation: info_txt_hide_r 1s;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .inform {
      margin-top: 270px;
      text-align: center;
      position: relative;

      h2 {
        color: #000000;
        font-size: 36px;
        font-weight: 800;
        font-family: "Open Sans"
      }

      p {
        width: 375px;
        color: #585858;
        font-size: 21px;
        font-weight: 300;
        line-height: 32px;
        margin: 25px auto 60px;
        font-family: "Open Sans";
      }
    }

    .swap-btn {
      height: 53px;
      background: #3C7EEA;
      box-shadow: 0px 10px 20px rgba(80, 123, 252, 0.5);
      border-radius: 8px;
      border: none;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      outline: none;
      cursor: pointer;

      span {
        outline: none;
      }

      &.registr-btn {
        padding: 0 25px;
        animation: btn_right 1.2s;

        .login-btn-txt {
          position: absolute;
          color: transparent;
        }
      }

      &.login-btn {
        padding: 0 70px;
        animation: btn_left 1.2s;

        .registr-btn-txt {
          position: absolute;
          color: transparent;
        }
      }
    }
  }
}

.docs {
  position: absolute;
  bottom: 40px;
  width: 60%;
  text-align: center;
  // z-index: -1;

  .links {
    margin-bottom: 7px;

    a {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      margin-right: 23px;
      color: #707683;
      cursor: pointer;

      &:hover {
        color: #55585d;
      }
    }
  }

  .copyr {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #99ACB7;
  }
}

// --------------materials changes --------------------//

:host::ng-deep {
  form {

    .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background: #3C7EEA
    }

    display: flex;
    flex-direction: column;

    .mat-form-field {
      height: 95px;

      // position: relative;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-warn .mat-input-element,
    .mat-form-field-invalid .mat-input-element {
      border: 1px solid red
    }

    .pass-erorrs {
      display: none;
    }

    .mat-focused {
      .pass-erorrs {
        width: 100%;
        margin-top: 5px;
        background: #FFFFFF;
        background: #FFFFFF;
        box-shadow: 0px 15px 21px rgba(128, 152, 213, 0.25);
        border-radius: 0px 0px 8px 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        z-index: 3;
        padding: 2px 0 9px;
        

        span {
          width: 19%;
          border-radius: 2px;
          height: 5px;
          // margin-bottom: 8px;
          &.unvalidated {
            background: rgba(100, 154, 243, 0.4);
            order: 1;
          }

          &.validated {
            background: #649AF3;
          }
        }
      }

      .description {
        width: 100%;
        order: 3;
        padding-left: 15px;
        margin: 0;
        li {
          list-style: none;
          margin: 8px 0 0;
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          color: #4285F4;
          padding-left: 15px;
          position: relative;
          &:last-of-type{
            margin-bottom: 0;
          }
          &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background: #4285F4;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
}
        }
      }
    }

    label {
      line-height: 44px;
      padding: 0 10px;
    }

    input {
      padding: 0 10px;
      box-sizing: border-box;
    }

    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      line-height: normal;
    }

    .pass.mat-icon-button.mat-button-base {
      position: absolute;
      right: 0;
      top: -37px;
      font-size: 25px;
    }
  }

  .social-login {
    margin: 50px 0 36px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    span {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #707683;
      margin-bottom: 30px;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        width: 79px;
        height: 1px;
        background: #707683;
        left: -92px;
        top: 52%;
        transform:   translateY(-50%)  ;
        -webkit-transform:   translateY(-50%)  ;
        -moz-transform:   translateY(-50%)  ;
        -ms-transform:   translateY(-50%)  ;
        -o-transform:   translateY(-50%)  ;
  }
      &:after {
        position: absolute;
        content: '';
        width: 79px;
        height: 1px;
        background: #707683;
        top: 52%;
        transform:   translateY(-50%)  ;
        -webkit-transform:   translateY(-50%)  ;
        -moz-transform:   translateY(-50%)  ;
        -ms-transform:   translateY(-50%)  ;
        -o-transform:   translateY(-50%)  ;
        right: -92px;
      }
    }
  
    .social {
      display: flex;
      justify-content: center;
      button {
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        box-shadow: none;
        margin: 0 13px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
        &.gl {
          background-image: url(/assets/images/icons/google.png);
        
        }
        &.fb {
          background-image: url(/assets/images/icons/icon.png);
        }
        &.lin {
          background-image: url(/assets/images/icons/linkedin.png);
        }
      }
    }
  }
}

// move global navigation-block
@keyframes move_left {
  0% {
    left: 60%;
    width: 40%;
  }

  50% {
    width: 55%;
  }

  100% {
    left: 0;
    width: 40%;
  }
}

@keyframes move_right {
  0% {
    right: 60%;
    width: 40%;
  }

  50% {
    width: 55%;
  }

  100% {
    right: 0;
    width: 40%;
  }
}

// -------- docs animation --------------------//

// @keyframes docsAnimation {
//   0%{
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }

// // --------------swap-btn-animation--------------//
// @keyframes btn_right {
//   0% {
//       color: transparent;
//       // display: none;
//   }

//   50% {
//       color: #fff;
//       display: block;
//       padding-left: 120px;
//   }

//   100% {
//       color: #fff;
//   }
// }

// @keyframes btn_left {
//   0% {
//       color: transparent;
//       // display: none;
//   }

//   50% {
//       color: #fff;
//       display: block;
//       padding-right: 250px;
//   }

//   100% {
//       color: #fff;
//   }
// }


// // -------------------swipe_title_text---------------//
// @keyframes info_txt_show {
//   0% {
//       color: transparent;
//       position: absolute;
//   }

//   50% {
//       color: transparent;
//   }

//   100% {
//       color: #000000;
//   }
// }

// @keyframes info_txt_hide_l {
//   0% {
//       color: #000000;
//       position: relative;
//   }

//   50% {
//       color: transparent;

//   }

//   100% {
//       color: transparent;
//       display: none;
//   }
// }

// @keyframes info_txt_hide_r {
//   0% {
//       color: #000000;
//       position: relative;
//       // margin-left: -240px;
//   }

//   50% {
//       color: transparent;
//       // margin-left: -240px;

//   }

//   100% {
//       color: transparent;
//       position: absolute;
//       display: none;
//   }
// }

// // -----------------rotate square-top -----------//

// @keyframes rotate_forvard {
//   0% {
//       transform: rotate(135deg);
//   }

//   100% {
//       transform: rotate(315deg);
//   }
// }

// @keyframes rotate_back {
//   0% {
//       transform: rotate(315deg);
//   }

//   100% {
//       transform: rotate(135deg);
//   }
// }

// // -------------------rotate square -bottom ---------------//

// // =============fiert==============//
// @keyframes rotate_forvard-f {
//   0% {
//       transform: rotate(65deg);
//   }

//   100% {
//       transform: rotate(245deg);
//   }
// }

// @keyframes rotate_back-f {
//   0% {
//       transform: rotate(245deg);
//   }

//   100% {
//       transform: rotate(65deg);
//   }
// }

// // =============second=============//
// @keyframes rotate_forvard-s {
//   0% {
//       transform: rotate(45deg);
//   }

//   100% {
//       transform: rotate(-135deg);
//   }
// }

// @keyframes rotate_back-s {
//   0% {
//       transform: rotate(-135deg);
//   }

//   100% {
//       transform: rotate(45deg);
//   }
// }
