.nav-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}

.auth-pg {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background: #fff;

  &.login {
    .login-form {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
    }

    .registr-form {
      display: none;
      // background: #fff;
    }

    .text-butns.login{
        display: none!important;
    }
  }

  .log {
    width: 500px;
    margin: auto;
  }

  &.registr {
    justify-content: flex-end;

    .registr-form {
      width: 60%;
      display: flex;
      background: #fff;
    }

    .login-form {
      display: none;
      background: #fff;
    }

    .text-butns.registrate{
        display: none!important;
      }

  }

  .reg {
    margin: auto;
    width: 500px;
  }

  .swipe-block {
    height: 100%;
    background: #3C7DE9;
    position: absolute;
    width: 40%;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 21;
    h2 {
      color: #FFFFFF;
      font-size: 36px;
      font-weight: 800;
      font-family: "Source Sans Pro", sans-serif;
      text-align: center;
      margin: 0 0 14px;
    }

    &.left {
      left: 0;
      animation: move_left 0.8s;

      // & + .docs {
      //   animation: docsAnimation 0.8s;
      // }
      &:before {
        transform: rotate(65deg);
        animation: rotate_back-f 1.2s;
      }

      &:after {
        transform: rotate(45deg);
        animation: rotate_back-s 0.9s;
      }

      .inform:before {
        animation: rotate_forvard 1s;
        transform: rotate(315deg);
      }

      .login-txt {
        animation: info_txt_show 1s;
      }

      .registr-txt {
        position: absolute;
        color: transparent;
        animation: info_txt_hide_l 1s;
      }
    }

    &.right {
      right: 0;
      animation: move_right 0.8s;

      // & + .docs {
      //   animation: docsAnimation 0.8s;
      // }
      &:before {
        transform: rotate(245deg);
        animation: rotate_forvard-f 1.2s;
      }

      &:after {
        transform: rotate(-135deg);
        animation: rotate_forvard-s 0.9s;
      }

      .inform:before {
        animation: rotate_back 1s;
        transform: rotate(135deg);
      }

      .registr-txt {
        animation: info_txt_show 1s;
      }

      .login-txt {
        position: absolute;
        color: transparent;
        animation: info_txt_hide_r 1s;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .inform {
      text-align: center;
      position: relative;
      height: 700px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h2 {
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 800;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        margin: 0 0 14px;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          background-image: url(/assets/images/home-page/pseudo-elements3.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          top: -420px;
          left: -120%;

          width: 800px;
          height: 350px;
          transform: rotate(15deg);
        }
        &::after{
          content: "";
          position: absolute;
          background-image: url(/assets/images/home-page/blue-dots.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          top: -150px;
          left: -80%;

          width: 152.42px;
          height: 176.33px;
        }
      }

      p {
        color: #FFFFFF;
        font-size: 21px;
        font-weight: 300;
        line-height: 32px;
        margin: 0 auto 40px;
        max-width: 355px;
        font-family: "Source Sans Pro", sans-serif;
      }

      &::after{
        content: "";
        position: absolute;
        background-image: url(/assets/images/images/pseudo-elements.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 650px;
        height: 100%;
        bottom: -60%;
        left: -110%;
        z-index: 0;
      }
      &::before{
        content: "";
        position: absolute;
        background: linear-gradient(235.85deg, rgba(255, 255, 255, 0.62) 22.19%, rgba(255, 255, 255, 0.2) 89.43%);
        opacity: 0.1;
        border-radius: 96px;
        transform: matrix(0, -1, 1, 0, 0, 0);
        width: 370px;
        height: 390px;
        top: -10%;
        right: -100%;
        z-index: 0;
      }
    }

    .swap-btn {
      height: 53px;
      background: #3c7eea;
      border-radius: 4px;
      border: 1px solid #fff;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      outline: none;
      cursor: pointer;
      width: max-content;
      margin: 0 auto;
      font-family: 'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      span {
        outline: none;
      }

      &.registr-btn {
        padding: 0 25px;
        animation: btn_right 1.2s;

        .login-btn-txt {
          position: absolute;
          color: transparent;
        }
      }

      &.login-btn {
        padding: 0 70px;
        animation: btn_left 1.2s;

        .registr-btn-txt {
          position: absolute;
          color: transparent;
        }
      }
    }

  }

  .slides-wrapper{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn-switch{
      display: block;
      border: none;
      background-color: transparent;
      position: absolute;
      left: 0;
      top: 0;
      border-bottom: 20px;
      outline: none;
      img{
        object-fit: cover;
        width: 40px;
        height: 40px;
      }

    }
    .text-butns {
      display: none;
      width: max-content;
      overflow: hidden;

      line-height: 1em;
      left: 50px;
      top: 0;

      border: 1px solid #323C47;
      padding: 13px 73px;
      border-radius: 8px;
      margin-top: 30px;
    }

  }


}

.docs {
  position: absolute;
  bottom: 40px;
  width: 60%;
  text-align: center;
  // z-index: -1;

  .links {
    margin-bottom: 7px;

    a {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      margin-right: 23px;
      color: #707683;
      cursor: pointer;

      &:hover {
        color: #55585d;
      }
    }
  }

  .copyr {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #99acb7;
  }
}

// --------------materials changes --------------------//

:host::ng-deep {
  form {
    width: 416px;
    margin: auto;
    font-family: "Source Sans Pro", sans-serif;
    .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
      .mat-ripple-element,
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background: #3c7eea;
    }

    display: flex;
    flex-direction: column;

    .mat-form-field {
      width: 100%;
      // position: relative;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-warn .mat-input-element,
    .mat-form-field-invalid .mat-input-element {
      border: 1px solid red;
    }
    .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
      margin-top: -3px;
      padding-left: 10px;
    }

    .pass-erorrs {
      // z-index: -20;
      display: none;
    }

    .mat-focused {
      .pass-erorrs {
        width: 100%;
        margin-top: 5px;
        background: #ffffff;
        background: #ffffff;
        // border-radius: 0px 0px 8px 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        z-index: 3;
        padding: 2px 0 9px;
        span {
          width: 19%;
          border-radius: 2px;
          height: 5px;
          &.unvalidated {
            background: rgba(100, 154, 243, 0.4);
            order: 1;
          }

          &.validated {
            background: #649af3;
          }
        }
      }

      .description {
        width: 100%;
        order: 3;
        padding-left: 0;
        margin: 0;
        position: absolute;
        top: 15px;
        box-shadow: 0px 15px 21px rgba(128, 152, 213, 0.25);
        background: #fff;
        border-radius: 0px 0px 8px 8px;

        li {
          list-style: none;
          margin: 8px 0 0 15px;
          font-family: "Source Sans Pro", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          color: #4285f4;
          padding: 0 15px;
          position: relative;

          &:last-of-type {
            margin-bottom: 12px;
          }

          &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background: #4285f4;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
        }
      }




      .mat-form-field-label-wrapper {
        line-height: normal;
      }
    }

    .ng-valid {

      .mat-form-field-label-wrapper {
        line-height: normal;
      }
    }
    label {
      line-height: 40px;
      padding: 0 14px;
      font-family: "Source Sans Pro", sans-serif;
      color: #99acb7;
      font-size: 17.5px;
      font-weight: 400;
    }
 .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-label {
      line-height: normal;
    }
    input {
      padding: 0 14px;
      box-sizing: border-box;
      font-family: "Source Sans Pro", sans-serif;
      color: #707683;
      .pass {
        padding: 0 44px 0 14px;
      }
    }



    .pass.mat-icon-button.mat-button-base {
      position: absolute;
      right: 0;
      top: -37px;
      font-size: 25px;
      width: 50px;
    }
  }

  .social-login {
    margin: 50px 0 37px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    span {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #707683;
      margin-bottom: 30px;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        width: 79px;
        height: 1px;
        background: #707683;
        left: -92px;
        top: 52%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }

      &:after {
        position: absolute;
        content: "";
        width: 79px;
        height: 1px;
        background: #707683;
        top: 52%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        right: -92px;
      }
    }

    .social {
      display: flex;
      justify-content: center;

      button {
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        box-shadow: none;
        margin: 0 13px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;

        &.gl {
          background-image: url(/assets/images/icons/google.png);
        }

        &.fb {
          background-image: url(/assets/images/icons/icon.png);
        }

        &.lin {
          background-image: url(/assets/images/icons/linkedin.png);
        }
      }
    }
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #99acb7;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #99acb7;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #99acb7;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: #99acb7;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

// move global navigation-block
@keyframes move_left {
  0% {
    left: 60%;
    width: 40%;
  }

  50% {
    width: 55%;
  }

  100% {
    left: 0;
    width: 40%;
  }
}

@keyframes move_right {
  0% {
    right: 60%;
    width: 40%;
  }

  50% {
    width: 55%;
  }

  100% {
    right: 0;
    width: 40%;
  }
}

@media (max-width: 1499px) {
  .auth-pg{
    .swipe-block {
      .inform{
        height: auto;
      }
    }
  }

  .social-login{
    display: none;
  }
}

@media (max-width: 1360px) {
  .auth-pg{
    .swipe-block{
      .inform{
        h2{
          font-size: 24px;
        }
        p{
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .auth-pg{
    .swipe-block{
      .inform{
        h2{
          font-size: 28px;
          line-height: 1em;
          margin: 0 0 18px;
        }
        p{
          font-size: 18px;
          line-height: 25px;
          margin: 0 0 30px;
        }
        .swap-btn{
          height: 43px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  p.text{
    margin: 0;
  }

  .auth-pg{
    min-height: 700px;
    .slides-wrapper{
      width: 100%;
      display: flex;
      .text-butns{
        display: block;
      }
    }
    .reg{
      width: 320px;
    }
  }


  .swipe-btn-wrap {
    height: 42px;
    width: 100%;
    position: relative;

  }
  .auth-pg{
    &.login .login-form{
      width: 100%;
    }
    .swipe-block.right{
      display: none;
    }

  }
  .auth-pg{
    &.registr .registr-form{
      width: 100%;
    }
    .swipe-block.left{
      display: none;
    }

  }
  :host::ng-deep {
    form {
      .controls{
        label{
          font-size: 12px;
        }
      }
      label{
        white-space: normal;
      }
    }
    .mat-form-field-infix{
      border-top: 0;
    }

  }

  .to-right.animation {
    .btn-switch{
      -webkit-animation:forvard 3s linear;
      animation-delay: 1s;
    }
    // .text-butns.login {
    //   animation: textAnimation 1s;
    // }
    // .text-butns.registrate {
    //   animation: textAnimation 1s;
    // }
  }

  .auth-pg.registr .text-butns.registrate{
    color: transparent;
  }
  .auth-pg.login .text-butns.login{
    color: transparent;
  }

  .to-left.animation .btn-switch{
    -webkit-animation:back 3s linear reverse;

  }

  @-webkit-keyframes forvard {
    0% {
        -webkit-transform: rotate(0deg);
        left: 0;
    }
    25% { /* note that rotation from 0 to 20 deg happens in 25% time = 0.45 seconds. */
        -webkit-transform: rotate(180deg);
    }
    50% {
      -webkit-transform: rotate(360deg);
    }
    75% {
        -webkit-transform: rotate(540deg);
    }
    100% {
      -webkit-transform: rotate(720deg);
      left: calc(100% - 40px);
      opacity: 0;
    }
}
@-webkit-keyframes back {
  0% {
      -webkit-transform: rotate(0deg);
      left: 0;
  }
  25% { /* note that rotation from 0 to 20 deg happens in 25% time = 0.45 seconds. */
      -webkit-transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
  75% {
      -webkit-transform: rotate(540deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
    left: calc(100% - 40px);
    opacity: 0;
  }
}

@keyframes textAnimation {
  from {
    width: 100px;
  }
  to {
    width: 0;
  }
}

}
