<div class="file-upload-wrapper">
    <span class="close" (click)="closeWindow()"></span>
    <div class="inform">
        <div class="img"></div>
        <div>
            <h6>{{'file-loader.load-file' | translate}}</h6>
            <p>{{'file-loader.put-file-here' | translate}}</p>
        </div>

    </div>
    <div class="file-input">
        <div class="dr-dp" appDragDrop (onFileDropped)="fileProgress($event)">
            <div class="upload"></div>
            <span>.JPG .PNG .GIF </span>
            <span>{{'file-loader.drop-files' | translate}}&nbsp;</span>
            <input type="file" id="file" multiple="true" class="input-file" #fileInput (change)="fileProgress($event.target.files)" />
            <label for="file">{{'file-loader.click-here' | translate}}</label>
        </div>
    </div>
    <div class="files-list" *ngIf="files">
        <div class="file" *ngFor="let file of files">
            <div class="file-img">
                <img src="/assets/images/icons/files-type/{{ file.fileType | fileType }}.png" alt="">
            </div>
            <div class="file-info">
                <p class="name">{{ file.fileName }}</p>
                <p class="size">{{ file.size | fileSize }}</p>
                <span class="delete-file"></span>
            </div>
        </div>
    </div>
    <div class="files-btn">
        <button class="btn-sec" (click)="closeWindow()"><span>{{'file-loader.cancel' | translate}}</span></button>
        <button class="btn" (click)="sendMessage()"> <span>{{'file-loader.load' | translate}}</span></button>
    </div>
</div>
