<div class="files-folder">
    <div class="folder-btn" (click)="showFiles()" [ngClass]="{ active: isUploadFilesVisible }"></div>
    <div class="files-list" *ngIf="isUploadFilesVisible">
        <div class="list-wrap">
            <p class="empty" *ngIf="files.length === 0">{{'chat.file.empty' | translate}}</p>
            <div class="list">
                <div class="file" *ngFor="let file of files">
                    <span class="type"> <img src="/assets/images/icons/files-type/{{file.fileType | fileType }}.png" alt=""> </span>
                    <div class="inform">
                        <span class="name">{{ file.filename }}</span>
                        <span class="date">{{ file.created_at | date:'dd.MM.yyyy &#8226; HH:MM' }} &#8226; {{ file.size | fileSize }} </span>
                    </div>
                    <a href={{file.link}} [download] target="_blank"><span class="download"></span></a>
                </div>
            </div>
        </div>

    </div>
</div>
