<div class="step-wrapper">
    <form #form="ngForm" (ngSubmit)="nextStep(form)">
        <h3>{{'dashboard.create-service.fifth-step.title' | translate}}</h3>

        <h5>{{'dashboard.create-service.fifth-step.subtitle' | translate}}</h5>
        <div class="brief-item" *ngFor="let item of userService.offerbrief; let i = index" [style.border]="showedItem !== i+1 && !brief.valid ? '1px solid #f44336': 'none'" [ngClass]="{ hiddenItem: showedItem !== i+1 }">
            <form #brief="ngForm">
                <div class="el">
                    <h6>{{ i+1 }}.
                        <ng-container *ngIf="userService.offerbrief[i].briefTitle">
                            {{ userService.offerbrief[i].briefTitle.substr(0, 55) }}</ng-container> <span *ngIf="userService.offerbrief[i].briefTitle && userService.offerbrief[i].briefTitle.length > 54">...</span>
                    </h6>
                    <div class="item-options">
                        <button type="button" class="change"><i class="material-icons create"
                (click)="changeBriefItem(i+1)">create</i></button>
                        <button type="button" class="delete"><i class="material-icons delete-pack"
                (click)="deleteBriefItem(i)">delete</i></button>
                    </div>
                    <div class="fields">
                        <div class="title" [style.borderColor]="(title.invalid && submitted )? '#f44336' : '#dce0e6'">
                            <textarea name="briefTtitle-{{i}}" placeholder="{{'dashboard.create-service.fifth-step.title-placehilder' | translate}}" required #title="ngModel" maxlength="500" [(ngModel)]="userService.offerbrief[i].briefTitle" outsideTooltip="{{'dashboard.create-service.fifth-step.tool-tip.title-field-title' | translate}}"
                                outsideTooltipDescription="{{'dashboard.create-service.fifth-step.tool-tip.title-field-subtitle' | translate}}" placement="right"></textarea>
                            <span class="title-controls" *ngIf="title.pristine"> 500
                &nbsp;{{'dashboard.create-service.fifth-step.symbols' | translate}}</span>
                            <span class="title-controls" *ngIf="userService.offerbrief[i].briefTitle && userService.offerbrief[i].briefTitle.length < 500">
                {{userService.offerbrief[i].briefTitle.length}}/500
                &nbsp;{{'dashboard.create-service.fifth-step.symbols' | translate}}</span>
                            <span class="title-controls" *ngIf="userService.offerbrief[i].briefTitle && userService.offerbrief[i].briefTitle.length >= 500">
                {{'dashboard.create-service.fifth-step.to-many' | translate}}</span>
                        </div>
                        <div class="options service-selects">
                            <label for="answer-type">{{'dashboard.create-service.fifth-step.answer-type' | translate}}</label>
                            <mat-form-field appearance="outline">
                                <mat-select id="answer-type-{{i}}" name="answer_type{{i))" required [(ngModel)]="userService.offerbrief[i].briefAnswerType" (ngModelChange)="onFiltersChange($event, i)">
                                    <mat-option [value]="type.value" *ngFor="let type of answerTypes"> {{ type.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <input type="checkbox" [(ngModel)]="userService.offerbrief[i].briefAnwerRequired" class="tgl tgl-classic" name="requered-{{i}}" id="required-{{i}}">
                            <label for="required-{{i}}"></label>
                            <span>{{'dashboard.create-service.fifth-step.answer-required' | translate}}</span>
                        </div>
                        <div class="multi" *ngIf="userService.offerbrief[i].briefAnswerType === 'radio'">
                            <div class="brief-question-item" [style.borderColor]="checkboxFields.invalid && submitted && userService.offerbrief[i].briefAnswerType === 'radio'? '#f44336' : '#dce0e6'" *ngFor="let el of userService.offerbrief[i].briefAnswerVariants, let j = index">

                                <input type="text" [(ngModel)]="userService.offerbrief[i].briefAnswerVariants[j].answerVariant" #checkboxFields="ngModel" name="answerVariant-{{j}}" placeholder="{{'dashboard.create-service.fifth-step.extra-answer' | translate}}" required maxlength="80">
                                <button class="clear"> <i class="material-icons"
                    *ngIf="userService.offerbrief[i].briefAnswerVariants.length > 2" (click)="removeAnswer(i , j)">
                    close
                  </i></button>
                            </div>
                            <div class="add-question">
                                <button class="add btn-third" type="button" [disabled]="form.invalid" (click)="addBriefAnswers(i)">
                  <i class="material-icons">
                    add_circle_outline
                  </i>
                  <span>{{'dashboard.create-service.fifth-step.add-answer' | translate}}</span>

                </button>
                                <div class="comment">
                                    <input type="checkbox" [(ngModel)]="userService.offerbrief[i].briefMultianswers" class="tgl tgl-classic" name="multi-{{i}}" checkbox="" id="multi-answer">
                                    <label for="multi-answer"></label>
                                    <p>
                                        {{'dashboard.create-service.fifth-step.succes-many-answer' | translate}}
                                        <span>
                      ({{'dashboard.create-service.fifth-step.succes-many-answer-description' | translate}})
                    </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item-controls">
                            <button class="btn-sec" type="button" [disabled]="userService.offerbrief.length === 1" (click)="showedItem = null">{{'dashboard.create-service.fifth-step.cancel' | translate}}</button>
                            <button class="btn" type="button" [disabled]="form.invalid" (click)="showedItem = null">Добавить</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="add-brief">
            <button class="add btn-third" type="button" [disabled]="!form.valid" (click)="addBriefItem()">
        <i class="material-icons">
          add_circle_outline
        </i>
        <span>{{'dashboard.create-service.fifth-step.add-requirement' | translate}}</span>
      </button>
        </div>

        <div class="form-butons">
            <button class="back" type="button">{{'general.exit' | translate}}</button>
            <button class="save" type="submit">{{'dashboard.create-service.save-and-next' | translate}}</button>
        </div>
    </form>
</div>