// @import "@material/select/mdc-select";

.wrapper {
  max-width: 1499px;
  margin: 0 auto;
}

.filters-list {
  display: flex;
}

.filter {
  background: #FFFFFF;
  border: 1px solid rgba(220, 224, 230, 0.1);
  box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
  border-radius: 3px;

  position: relative;
  width: 214px;
  margin-right: 40px;
  height: fit-content;

  &.includes {
    width: 286px;
  }

  &-title {
    position: relative;
    cursor: pointer;

    p {
      margin: 0;
      padding: 16px;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #323C47;
    }

    .filter-title-arrow {
      display: block;
      width: 12px;
      height: 8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      right: 26px;
      background-image: url('/assets/images/icons/arrow.png');
      cursor: pointer;
      transition: transform .3s;

      &.open {
        transform: translateY(-50%) rotate(0);
      }
    }
  }

  .filter-values {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: all .3s;

    background: #FFFFFF;
    border: 1px solid rgba(220, 224, 230, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
    border-radius: 3px;

    overflow: hidden;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;

    .filter-values-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
    }

    .filter-text {
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #707683;
      display: block;
    }

    .filter-btns {
      display: flex;
      justify-content: space-between;
      margin: 0 14px 13px;
      padding-top: 10px;
      border-top: 1px solid #F4F7FC;

      .f-btn {
        cursor: pointer;
        font-family: Source Sans Pro;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #99ACB7;
      }
    }

    h5 {
      font-family: Source Sans Pro;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #323C47;
      padding: 15px;
      margin: 0;
    }

    &.open {
      top: 60px;
      opacity: 1;
      z-index: 9;
    }
    &.f-other {
      width: 403px;
    }

    &.f-price {
      .filter-values-wrapper {
        flex-direction: row;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 67%;
          right: 46%;
          transform: translate(-50%, -50%);
          height: 1px;
          width: 8px;
          background-color: #111;
        }
      }

      .filter-section {
        width: 80px;
      }

      .filter-text {
        margin-bottom: 7px;
      }

      .inputs {
        border: 1px solid #DCE0E6;
        box-sizing: border-box;
        border-radius: 2px;
        font-size: 14px;
        padding: 12px 5px;
        width: 100%;
      }
    }

    &.f-term {
      display: flex;
      flex-direction: column;
    }

    &.f-other {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .f-other-wrapper {
        width: 50%;

        .filter-values-wrapper {
          height: auto;
        }
      }

      .filter-btns {
        width: 100%;
      }
    }
  }



}
.filter-switch {

  .pckg-swap {
    display: flex;
    justify-content: center;
    align-items: center;
    .filter-title p{
      white-space: nowrap;
      color: #707683;
    }
  }
  [ng-reflect-model=true] + .filter-title p {
    color: red;
  }
}
.f-radio {
  .filter-text {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  ::ng-deep {
    .mat-radio-container {
      width: 16px;
      height: 16px;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color: #3C7EEA;
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle {
      background-color: #3C7EEA;
      height: 16px;
      width: 16px;
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle,
    .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
    .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
      background-color: #649AF3;
    }

    .mat-radio-outer-circle {
      height: 16px;
      width: 16px;
      border-radius: 50%;
    }

    .mat-radio-button .mat-radio-ripple {
      position: absolute;
      left: calc(50% - 16px);
      top: calc(50% - 16px);
      height: 32px;
      width: 32px;
      z-index: 1;
      pointer-events: none;
      border-radius: 50%;
    }
  }
}
.f-checkboxs {
  .filter-text {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ::ng-deep {

    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #3C7EEA;
    }

    .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
    .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
      background-color: #3C7EEA;
    }
  }
}

.filter-chips{
  margin: 30px 0 40px;
  &-list{
    display: flex;
    flex-wrap: wrap;
  }
  &-val{
    position: relative;
    background: #ECF3FF;
    border-radius: 3px;
    padding: 7px 36px 7px 13px;
    margin-right: 23px;

    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4C88EA;
    cursor: default;
    .close {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      }
      .close:hover {
      opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        left: 0;
        top: -1px;
        content: " ";
        height: 11px;
        width: 2px;
        background-color: #5A91EA;
      }
      .close:before {
      transform: rotate(45deg);
      }
      .close:after {
      transform: rotate(-45deg);
    }
  }
}
