<div class="wrapper">
  <div class="filters-list">
    <div class="filter-item f-price">
      <div class="title" (click)="showFullFilter()">
        <p>Бюджет</p>
        <div class="btn-show-full" [ngClass]="fliterOpen? 'open': ''"></div>
      </div>
      <div class="filter price" [ngClass]="fliterOpen? 'open': ''">
        <div class="filter-section">
          <label for="price-mn">От</label>
          <input
            class="inputs"
            matInput
            number
            placeholder="UAH"
            [(ngModel)]="filterData.minPrice"
            (ngModelChange)="onFilterChange()"
            type="text"
            name="price-min"
            id="price-mn"
          >
        </div>
        <div class="filter-section">
          <label for="price-mx">До</label>
          <input
            class="inputs"
            matInput
            number
            placeholder="UAH"
            [(ngModel)]="filterData.maxPrice"
            (ngModelChange)="onFilterChange()"
            type="text"
            name="price-max"
            id="price-mx"
          >
        </div>
      </div>
    </div>
    <div class="filter-item f-term">

      <mat-form-field>
        <mat-label>Срок выполнения</mat-label>
        <mat-select [(ngModel)]="filterData.maxTerm" (ngModelChange)="onFilterChange()">
          <mat-option value="">None</mat-option>
          <mat-option value="1" >Экспресс за 24 часа</mat-option>
          <mat-option value="3" >До 3 дней</mat-option>
          <mat-option value="7" >До 7 дней</mat-option>
          <mat-option value="30">До месяца</mat-option>
          <mat-option value="99">Любое время</mat-option>
        </mat-select>
      </mat-form-field>

    </div>


    <!-- <div class="mdc-select">
      <div class="mdc-select__anchor demo-width-class">
        <i class="mdc-select__dropdown-icon"></i>
        <div class="mdc-select__selected-text"></div>
        <span class="mdc-floating-label">Pick a Food Group</span>
        <div class="mdc-line-ripple"></div>
      </div>

      <div class="mdc-select__menu mdc-menu mdc-menu-surface demo-width-class">
        <ul class="mdc-list">
          <li class="mdc-list-item mdc-list-item--selected" data-value="" aria-selected="true"></li>
          <li class="mdc-list-item" data-value="grains">
            Bread, Cereal, Rice, and Pasta
          </li>
          <li class="mdc-list-item" data-value="vegetables">
            Vegetables
          </li>
          <li class="mdc-list-item" data-value="fruit">
            Fruit
          </li>
        </ul>
      </div>
    </div> -->

  </div>
</div>
