<section class="comments" *ngIf="userData">
    <div class="comments__top">
      <div class="section-title">Рейтинг и отзывы <span>({{ userData.comments_freelancer_count }})</span></div>
  
      <div class="tabs">
        <ng-container *ngFor=" let tab of tabs, let i = index">
            <div class="tab" (click)="toggleTab(tab)" [ngClass]="{active: currentTab.id === i}">
                {{ tab.name }} ({{ userData[tab.value + '_comments_count'] }}) <span></span>
            </div>
        </ng-container>


      </div>
    </div>
    <ng-container  *ngIf="userData.negativeComments.length != 0">
        <div class="comment" *ngFor="let comment of userData[currentTab.value + 'Comments']; let parrentCommentIndex = index">
          <h5 class="comment__service-name" >
              <a [routerLink]="'/service'| localize" [queryParams]="{ offerId: comment.offers.id }"> {{comment.offers.title}}</a>
          </h5>
          <button class="comment__answer" (click)="openComentForm(comment.id)"></button>
          <div class="comment__wrapp">
            <div class="comment__wrapp_parrent">
              <div class="comment__img">
                <div class="comment__img-wrapper">
                    <a [routerLink]="'/service'| localize" [queryParams]="{ offerId: comment.offers.id }">
                     <img [src]="comment.offers.mainImage"  alt="service img">   
                    </a>
                </div>
              </div>
  
              <a class="comment__avatar" [routerLink]="['/user', comment.author.id] | localize">
                <img [src]="comment.author.avatar" alt="user avatar">
              </a>
              <div class="comment__text-wrapper">
                <div class="comment__top">
                  <a class="comment__name" [routerLink]="['/user', comment.author.id] | localize">{{comment.author.name}}
                    {{comment.author.surname}}</a>
                  <div class="comment__date">{{converDateToDMY(comment.created_at)}}</div>
                </div>
                <div class="comment__message">{{comment.commentText}}</div>
                <div class="comment__raiting">
                  <div class="comment__raiting-item">
                    <span>Качество</span>
                    <div class="star-raiting">{{comment.offers.averageRaiting.qualityMark}}</div>
                  </div>
                  <div class="comment__raiting-item">
                    <span>Срок</span>
                    <div class="star-raiting">{{comment.offers.averageRaiting.termMark}}</div>
                  </div>
                  <div class="comment__raiting-item">
                    <span>Вежливость</span>
                    <div class="star-raiting">{{comment.offers.averageRaiting.politenessMark}}</div>
                  </div>
                </div>
                <form #form="ngForm" class="comment-form" action="" *ngIf="commentFormOpen && commentFormOpen === comment.id" (clickOutside)="closeForm()" [exclude]="'button.comment__answer'">
                  <label for="answer-area">Напишите ответ</label>
                    <textarea name="comment" [(ngModel)]="commentForm.commentText" id="answer-area" cols="30" rows="10"></textarea>

                  <button class="btn" type="submit" (click)="sendComment(parrentCommentIndex, currentTab.value + 'Comments')">Отправить</button>
                </form>
              </div>
            </div>

            <div class="comment_child__wrapper" *ngIf="comment.childs.length !== 0">
              <ng-container *ngFor="let comment_child of comment.childs; let i = index">
                <div class="comment__wrapp_child" *ngIf="i === 0 || showAllchildComments === parrentCommentIndex">
                  <a class="comment__avatar" [routerLink]="['/user', comment_child.author.id] | localize">
                    <img [src]="comment_child.author.avatar" alt="ava">
                  </a>
                  <div class="comment__text-wrapper">
                    <div class="comment__top">
                      <a class="comment__name" [routerLink]="['/user', comment_child.author.id] | localize">
                        {{comment_child.author.name}} {{comment_child.author.surname}}
                    </a>
                        <div class="comment__date">{{converDateToDMY(comment.created_at)}}</div>
                    </div>
                    <div class="comment__message">{{comment_child.commentText}}</div>
                  </div>
                </div>
              </ng-container>
              <div class="btn-show_more_comments" *ngIf="comment.childs.length > 1"
                (click)="showMoreChileComments(parrentCommentIndex)"
                [ngClass]="{open: showAllchildComments === parrentCommentIndex}">читать ответы</div>
            </div>
          </div>
        </div>
    </ng-container>
  </section>
  