<div class="inform_section">
  <form [formGroup]="myForm" (ngSubmit)="updateSettings(myForm)">
    <div class="inform_section__title">
      <h3>Смена пароля</h3>
    </div>
    <div class="inform_section__fields">
      <div class="inputs-wrapper">

        <div class="fields">
          <div class="field-wrapper">
            <h5 class="fields-title">Старый пароль</h5>
            <input class="fields-value" type="password" formControlName='oldPassword' maxlength="50">
          </div>
        </div>

        <form class="fields" formGroupName="passwords">
          <h5 class="fields-title">Новый пароль (если необходимо изменить)</h5>
          <input class="fields-value new-passrord" placeholder="New password" formControlName="newPassword" required >
          <div class="pass-erorrs">
            <span [ngClass]="myForm.get('passwords.newPassword').hasError('required') || myForm.get('passwords.newPassword').hasError('hasNumber') ? 'unvalidated': 'validated'"></span>
            <span [ngClass]="myForm.get('passwords.newPassword').hasError('required') || myForm.get('passwords.newPassword').hasError('hasCapitalCase') ? 'unvalidated': 'validated'"></span>
            <span [ngClass]="myForm.get('passwords.newPassword').hasError('required') || myForm.get('passwords.newPassword').hasError('hasSmallCase') ? 'unvalidated': 'validated'"></span>
            <span [ngClass]="myForm.get('passwords.newPassword').hasError('required') || myForm.get('passwords.newPassword').hasError('hasSpecialCharacters') ? 'unvalidated': 'validated'"></span>
            <span [ngClass]="myForm.get('passwords.newPassword').hasError('required') || myForm.get('passwords.newPassword').hasError('minLengthCharacters') ? 'unvalidated': 'validated'"></span>
            <ul class="description" *ngIf="myForm.get('passwords.newPassword').invalid">
              <li *ngIf="myForm.get('passwords.newPassword').hasError('hasNumber')">Должна быть минимум одна цифра</li>
              <li *ngIf="myForm.get('passwords.newPassword').hasError('hasSmallCase')">Должна быть минимум одна маленькая буква a-z</li>
              <li *ngIf="myForm.get('passwords.newPassword').hasError('hasCapitalCase')">Должна быть минимум одна большая буква A-Z</li>
              <li *ngIf="myForm.get('passwords.newPassword').hasError('hasSpecialCharacters')">Должна быть минимум один спец символ</li>
              <li *ngIf="myForm.get('passwords.newPassword').hasError('minLengthCharacters')">Пароль не меньше 8 символов</li>
            </ul>
          </div>
        </form>

        <div class="fields" formGroupName="passwords">
          <h5 class="fields-title">Повторите новый пароль</h5>
          <input class="fields-value" placeholder="Confirm password" formControlName="confirmPassword" >
          <div class="error-message" *ngIf="myForm.hasError('notSame', 'passwords')" >
            Ответ отрицательный. Пароли не совпадают
          </div>
        </div>


      </div>
    </div>

    <div class="inform_section__title">
      <h3>Изменение E-mail адреса</h3>
    </div>
    <div class="inform_section__fields">
      <div class="inputs-wrapper">

        <div class="fields">
          <h5 class="fields-title">Ваш текущий e-mail</h5>
          <input class="fields-value" type="text" formControlName="oldMail"  maxlength="15">
        </div>

        <div class="fields">
          <h5 class="fields-title">Ваш новый e-mail</h5>
          <input class="fields-value" type="text" formControlName="newMail" maxlength="15">
        </div>

        <div class="fields">
          <h5 class="fields-title">Введите текущий пароль</h5>
          <input class="fields-value" type="text" formControlName="copyNewMail" maxlength="15">
        </div>

      </div>
    </div>

  <div class="form-butons">
    <button class="save-all" type="submit">сохранить изменения</button>
  </div>
  </form>
</div>
