.inform_section{
  // border-bottom: 1px solid #EBEEFF;
  &__title{
    width: 31%;
    box-sizing: border-box;
    padding: 50px 30px;
    border-bottom: 1px solid #EBEEFF;
    h3{
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 143%;
      text-transform: uppercase;
      color: #323C47;
    }
  }
  &__fields{
    padding: 40px 0 20px;
    width: 69%;
    border-bottom: 1px solid #EBEEFF;
  }
  form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.inputs-wrapper{
  max-width: 630px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-title{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #707683;
}
.fields-title{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #323C47;
  margin: 0;
  margin-bottom: 3px;
}

.fields{
  margin-bottom: 15px;
  width: 100%;
  &-title{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #323C47;
    margin: 0;
    margin-bottom: 3px;

  }
  &-value{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    color: #707683;
    padding: 12px;
    box-sizing: border-box;
    background: #F4F7FC;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
}


.inputs-wrapper{
  max-width: 630px;
  position: relative;
  .field-block{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
}

.form-butons{
  margin: 0 auto;
}
.save-all{
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;

  color: #FFFFFF;
  background: #3C7EEA;
  box-shadow: 0px 2px 4px rgba(60, 9, 179, 0.3);
  border-radius: 4px;
  border: none;
  margin: 30px auto 20px;
  padding: 17px 35px 15px;
  text-transform: uppercase;

}
