<div class="inform_section">
  <form [formGroup]="myForm">
    <div class="inform_section__title">
      <h3>Смена пароля</h3>
    </div>
    <div class="inform_section__fields">
      <div class="inputs-wrapper">

        <div class="fields">
          <h5 class="fields-title">Старый пароль</h5>

          <input class="fields-value" type="password"  name="oldPassword" maxlength="25">
        </div>

        <div class="fields">
          <mat-form-field>
            <h5 class="fields-title">Новый пароль (если необходимо изменить)</h5>
            <input class="fields-value" matInput  formControlName="password" required>
            <mat-error *ngIf="myForm.hasError('required', 'password')">
                Please enter your new password
            </mat-error>
          </mat-form-field>
        </div>

        <div class="fields">
          <mat-form-field>
            <h5 class="fields-title">Повторите новый пароль</h5>
            <input class="fields-value" matInput  formControlName="confirmPassword" [errorStateMatcher]="matcher">
            <mat-error *ngIf="myForm.hasError('notSame')">
                Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="fields" >
          <h5 class="fields-title">Новый пароль (если необходимо изменить)</h5>
          <input class="fields-value" type="password" matInput placeholder="New password" formControlName="password" required >
          <div *ngIf="myForm.hasError('required', 'password')">
            Please enter your new password
          </div>
        </div>

        <div class="fields" >

            <h5 class="fields-title">Повторите новый пароль</h5>
            <input class="fields-value" type="password" matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher"  >
            <div *ngIf="myForm.hasError('notSame')">
              Passwords do not match
            </div>

        </div> -->

      </div>
    </div>

    <div class="inform_section__title">
      <h3>Изменение E-mail адреса</h3>
    </div>
    <div class="inform_section__fields">
      <div class="inputs-wrapper">
<!--
        <div class="fields">
          <h5 class="fields-title">Ваш текущий e-mail</h5>
          <input class="fields-value" type="text" [(ngModel)]="userSettings.oldMail" name="oldMail" maxlength="15">
        </div>

        <div class="fields">
          <h5 class="fields-title">Ваш новый e-mail</h5>
          <input class="fields-value" type="text" [(ngModel)]="userSettings.newMail" name="newMail" maxlength="15">
        </div>

        <div class="fields">
          <h5 class="fields-title">Введите текущий пароль</h5>
          <input class="fields-value" type="text" [(ngModel)]="userSettings.copyNewMail" name="copyNewMail" maxlength="15">
        </div> -->

      </div>
    </div>

  <div class="form-butons">
    <button class="save-all" type="submit">сохранить изменения</button>
  </div>
  </form>

  <!-- <form [formGroup]="myForm">
    <mat-form-field>
      <input matInput placeholder="New password" formControlName="password" required>
      <mat-error *ngIf="myForm.hasError('required', 'password')">
          Please enter your new password
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
      <mat-error *ngIf="myForm.hasError('notSame')">
          Passwords do not match
      </mat-error>
    </mat-form-field>
  </form> -->
</div>
