.subcategories{
  display: flex;
  flex-wrap: wrap;
}
// .subcategory{
//   width: 30%;
//   // padding: 30px;
// }

.wrapper{
  max-width: 1499px;
  margin: 0 auto;
}

.catalog-categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category{
  margin: 0;
  list-style-type: none;
  padding: 20px 15px 0;
  width: 20%;
  box-sizing: border-box;
  &-name{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #323c47;
    margin: 0 0 16px;
  }
  .subcategory-name{
    margin-bottom: 12px;
    a{
      font-family: "Source Sans Pro", sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #707683;
      text-decoration: none;
      width: fit-content;
      
    }
    &:hover{
      a{
        color: #3C7EEA;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1499px) {
  .wrapper{
    max-width: 1110px;
    margin: 0 auto;
  }
  .category{
    padding: 15x 15px 0;
    &-name{
      font-size: 16px;
      margin: 0 0 10px;
    }
    .subcategory-name{
      margin-bottom: 6px;
      a{
        font-size: 14px;
        line-height: 18px;
        
      }
    }
  }
}
@media (max-width: 1360px) {
  .wrapper{
    max-width: 1010px;
  }
}