<app-main-header></app-main-header>
<app-categories-header></app-categories-header>
<div class="wrapper">
  <div class="catalog-categories" *ngIf="categoriesList">
    <ul class="category" *ngFor="let category of categoriesList.category">
      <h3 class="category-name">{{category.name}}</h3>

      <li class="subcategory-name"*ngFor="let sub_category of category.sub_categories">
        <a [routerLink]="['/catalog', category.link, sub_category.link] | localize" class="subcategory">
          {{sub_category.name}}
        </a>
      </li>

    </ul>
  </div>
</div>

