.block-title{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #707683;
}
.fields-title{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #323C47;
  margin: 0;
  margin-bottom: 3px;
}

.fields{
  margin-bottom: 15px;
  &-title{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #323C47;
    margin: 0;
    margin-bottom: 8px;
  }
  &-value{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    color: #707683;
    padding: 15px;
    box-sizing: border-box;
    background: #F4F7FC;
    border-radius: 5px;
    border: none;
    width: 100%;
    &.not_Valid{
      border: 1px solid #FF647C;
    }
  }
}
.field-block-multiple{
  position: relative;
  .field-block{
    margin-bottom: 25px;
    .alert-danger{
      position: absolute;
      p{
        font-size: 14px;
        color: #FF647C;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: normal;
        margin: 0;
      }
    }
  }
}

.studyPeriod{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 530px;
  position: relative;
  .period-wrapper{
    display: flex;
    align-items: flex-end;
    .field-block{
      width: 115px;

      &:first-child{
        margin-right: 22px;
      }
    }
  }
  &::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 1px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



//--------------------------- selects styling -----------------------------
.service-selects ::ng-deep{
  mat-select {
    border-radius: 3px;
    font-size: 16px;
    line-height: 21px;
    color: #323c47;
    padding: 14px 20px 15px;
    box-sizing: border-box;
    border: 1px solid rgba(220, 224, 230, 0.1);
    box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
  }
  .mat-select-arrow{
    border: none;
    width: 12px;
    height: 8px;
    background-image: url(/assets/images/svg/settings-page/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .ng-star-inserted{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #323C47;
  }
  .mat-form-field {
    .ng-star-inserted {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #323c47;
      &.mat-error {
        color: #f44336;
      }
    }
  }
}
::ng-deep .cdk-overlay-container {
  .mat-option {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #707683;
  }
  .mat-option:hover:not(.mat-option-disabled),
  .mat-option:focus:not(.mat-option-disabled) {
    background: #3c7eea;
    color: #fff;
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #323c47;
  }
}
//---------------------------end selects styling -----------------------------
.add-photos{
  width: auto;
  display: flex;
  margin-bottom: 10px;
  position: relative;
  color: #3C7EEA;
  &::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 18px;
    width: 19px;
    background-image: url(/assets/images/svg/settings-page/clip.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:hover{
    color: #5695fd;
  }

  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      cursor: pointer;
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 33px;
      text-align: center;
      color: #3c7eea;
      padding-left: 30px;
    }
    &:hover{
      label {
        color: #5695fd;
      }
    }
  }
}
.format-files{
    font-size: 16px;
    line-height: 20px;
    color: #323C47;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 15px;
    width: 100%;
}

.add-education{
  color: #3C7EEA;
  span{
    padding-left: 10px;
    white-space: nowrap;
  }
  i{
    font-size: 20px;
    position: relative;
  }
  &:hover{
    color: #5695fd;
  }
}
.delete-education{
  position: absolute;
  top: 35px;
  right: -50px;
  cursor: pointer;
}

.single-additional-education-block{
  position: relative;
  padding-bottom: 30px;
  .toggle_block{
    height: auto;
    // margin-bottom: 5px;
    &.hidden{
      height: 0;
      overflow: hidden;
    }
  }
  &::after{
    content: "";
    position: absolute;
    bottom: 25px;
    height: 1px;
    width: 130%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F4F7FC;
  }
  &:last-child{
    .delete-education, .add-education{
      display: block;
    }
  }
}


button {
  border: none;
  background: none;
  margin-right: 22px;
  color: #C2CFE0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  &>i {
    font-size: 17px;
  }
  &.change{
    outline: none;
    top: 40px;
    right: -70px;
    &:hover {
      color: #3C7EEA;
    }
  }
  &.delete-education{
    outline: none;
    top: 38px;
    right: -115px;
    &>i {
      font-size: 22px;
    }
    &:hover {
      color: #FF647C;
    }
  }
}

// ---------------------------file upload form ---------------------------
.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .img-item {
    width: 197px;
    height: 197px;
    margin-right: 3%;
    margin-bottom: 20px;
    position: relative;
    .delete-photo {
      position: absolute;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-color: #fff;
      border: none;
      box-shadow: none;
      right: 13px;
      top: 13px;
      outline: none;
      padding: 0;
      cursor: pointer;
      outline: none;
      margin-right: 0;
      &:before {
        position: absolute;
        content: "\e900";
        font-size: 18px;
        font-family: "icomoon";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: red;
      }
    }
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border: 2px dashed #dce0e6;
    }
  }
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 2px;
  }
}

@media (max-width: 1499px) {
  .studyPeriod{
    width: 490px;
    flex-direction: column;
    align-items: flex-start;
    &:before{
      display: none;
    }
    .period-wrapper{
      .field-block{
        width: 105px;

        &:first-child{
          margin-right: 22px;
        }
      }
    }
  }
}
// @media (max-width: 1360px) {
//   .inform_section{
//     &__title{
//       width: 23%;
//     }
//     &__fields{
//       width: 77%;
//     }
//   }
// }

@media (max-width: 1024px) {
  .fields{
    &-value{
      padding: 9px;
    }
  }
  .add-education{
    height: 20px;
    position: relative;
  }
  .items {
    .img-item {
      width: 167px;
      height: 167px;
    }
  }
}

@media (max-width: 767px) {
  .fields{
    margin-bottom: 15px;
    &-title{
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 4px;
    }
    &-value{
      font-size: 14px;
      padding: 11px;
      &.institution-name{
        max-width: calc(100% - 100px);
      }
    }
  }

  button {
    &.change{
      top: 33px;
      right: 35px;
    }
    &.delete-education{
      top: 31px;
      right: -10px;
    }
  }
  .field-block{
    margin-bottom: 15px;
  }
  .academicBlock{
    flex-direction: column;
  }

  //--------------------------- selects styling -----------------------------
  .service-selects ::ng-deep{
    mat-select {
      font-size: 14px;
      line-height: 18px;
      padding: 10px 15px 10px;
    }

    .ng-star-inserted{
      font-size: 14px;
      line-height: 18px;
    }
    .mat-form-field {
      .ng-star-inserted {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  ::ng-deep .cdk-overlay-container {
    .mat-option {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .items {
    .img-item {
      width: 159px;
      height: 159px;
    }
  }
  .single-additional-education-block::after{
    width: 100%;
  }
}
