<div class="inform_section">
  <div class="inform_section__title">
    <h3>Дополнительное Образование</h3>
  </div>
  <div class="inform_section__fields">
    <div class="field-block-multiple">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="single-additional-education-block"
          *ngFor="let arrayItem of userSettings.additionalEducation; let i = index">

          <div class="field-block">
            <h5 class="fields-title">Учебное заведение</h5>
            <input
              class="fields-value"
              type="text"
              required
              #institution="ngModel"
              minlength="4"
              name="institution-{{i}}"
              placeholder="Учебное заведение"
              [(ngModel)]="userSettings.additionalEducation[i].additionalInstitution"
              [ngClass] = "{not_Valid: !institution.valid }"
            >
            <div *ngIf="!institution.valid " class="alert-danger">
              <p>institution must be at least 4 characters long.</p>
            </div>
          </div>

          <div class="toggle_block" [ngClass]="{ hidden: openItem !== i+1 }">
            <div class="field-block">
              <h5 class="fields-title">Название курсов</h5>
              <input
                class="fields-value"
                type="text"
                required
                #specialty="ngModel"
                minlength="4"
                name="specialty-{{i}}"
                placeholder="Название курсов"
                [(ngModel)]="userSettings.additionalEducation[i].courseName"
                [ngClass] = "{not_Valid: !specialty.valid}"
              >
              <div *ngIf="!specialty.valid" class="alert-danger">
                <p>specialty must be at least 4 characters long.</p>
              </div>
            </div>

            <div class="studyPeriod">
              <div class="period-wrapper">
                <div class="field-block service-selects ">
                  <label class="block-title" for="startEducation">Начало
                  </label>
                  <mat-select name="startEducationMonth" id="startEducationMonth"
                    [(ngModel)]="userSettings.additionalEducation[i].startStudyMonth">
                    <ng-container *ngFor="let startEducationMonth of month">
                      <mat-option [value]="startEducationMonth">{{ monthTranslate[startEducationMonth - 1] }}</mat-option>
                    </ng-container>
                  </mat-select>
                </div>
                <div class="field-block service-selects">
                  <mat-select name="startEducationYear" id="startEducationYear"
                    [(ngModel)]="userSettings.additionalEducation[i].startStudyYear" (selectionChange)="createFinishYearArray($event.value)">
                    <ng-container *ngFor="let startYear of yearsArr">
                      <mat-option [value]="startYear">{{ startYear }}</mat-option>
                    </ng-container>
                  </mat-select>
                </div>
              </div>

              <div class="period-wrapper">
                <div class="field-block service-selects monthes">
                  <label class="block-title" for="startEducation">Окончание
                  </label>
                  <mat-select name="endEducationMonth" id="endEducationMonth"
                    [(ngModel)]="userSettings.additionalEducation[i].endStudyMonth">
                    <ng-container *ngFor="let endStudyMonth of month">
                      <mat-option [value]="endStudyMonth">{{ monthTranslate[endStudyMonth - 1] }}</mat-option>
                    </ng-container>
                  </mat-select>
                </div>
                <div class="field-block service-selects">
                  <mat-select name="endEducationYear" id="endEducationYear"
                    [(ngModel)]="userSettings.additionalEducation[i].endStudyYear" (selectionChange)="createYearArray($event.value)">
                    <mat-option [value] = 0> - </mat-option>
                    <ng-container *ngFor="let endStudyYear of yearsFinishArr">
                      <mat-option [value]="endStudyYear">{{ endStudyYear }}</mat-option>
                    </ng-container>
                  </mat-select>
                </div>
              </div>
            </div>

            <div class="items" >
              <ng-container *ngFor="let diplomaPhoto of userSettings.additionalEducation[i].additionalDiploma; let x = index">
                <div  class="img-item" *ngIf="diplomaPhoto != null" >
                  <img  [src]="diplomaPhoto" height="300" />
                </div>
              </ng-container>
            </div>

            <div class="add-photos">
              <input type="file" id="additionalDiplomaFiles-{{i}}" class="input-file" #file name="file"
                (change)="fileProgress($event.target.files, userSettings.additionalEducation[i].id, i)" />
              <label for="additionalDiplomaFiles-{{i}}">Загрузить файл/фото диплома</label>
            </div>

            <button type="button" class="delete-education">
              <i class="material-icons" (click)="deleteEducation(userSettings.additionalEducation[i].id, i)">delete</i>
            </button>

            <button type="button" class="change"><i class="material-icons create"
                (click)="chooseItem(i+1)">create</i></button>
          </div>

        </div>

        <button class="add-education add btn-third" type="submit">
          <i class="material-icons">
            add_circle_outline
          </i>
          <span>Добавить образование</span>
        </button>

      </form>
    </div>
  </div>
</div>
