<section class="questions" *ngIf="offerData">
  <h4 class="section-title">
    Часто задаваемые вопросы
  </h4>
  <div class="question-list">
    <mat-accordion>
      <mat-expansion-panel class="question-item" *ngFor="let question of offerData.offer_faq;" hideToggle>
        <mat-expansion-panel-header class="question-item__title">
          <mat-panel-title >
            {{question.question}}
            <div class="element-plus"></div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="question-item__text">{{question.answer}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</section>
