<div class="inform_section">
  <div class="inform_section__title">
    <h3>Высшее Образование</h3>
  </div>
  <div class="inform_section__fields">
    <div class="field-block-multiple">

      <div class="single-education-block" *ngFor="let arrayItem of userSettings.education; let i = index" >

        <div class="field-block">
          <h5 class="fields-title">Учебное заведение</h5>
          <input class="fields-value" type="text" [(ngModel)]="userSettings.education[i].institution">
        </div>

        <div class="toggle_block" [ngClass]="{ hidden: openItem !== i }">
          <div class="academicBlock">
            <div class="field-block academic-degrees service-selects">
              <label class="block-title" for="academicDegree">Учёная степень</label>
              <mat-select name="academicDegree" id="academicDegree" [(ngModel)]="userSettings.education[i].academicDegree">
                <ng-container *ngFor="let academicDegree of academicDegrees">
                  <mat-option [value]="academicDegree">{{ academicDegree }}</mat-option>
                </ng-container>
              </mat-select>
            </div>
            <div class="field-block">
              <h5 class="fields-title">Специальность</h5>
              <input class="fields-value" type="text" [(ngModel)]="userSettings.education[i].specialty">
            </div>
          </div>

          <div class="studyPeriod">
            <div class="field-block service-selects">
              <label class="block-title" for="startEducation">Год старта</label>
              <mat-select name="startEducation" id="startEducation" [(ngModel)]="userSettings.education[i].startEducation" (ngModelChange)="setMaxYear(i)">
                <ng-container *ngFor="let startEducation of createYears()">
                  <mat-option [value]="startEducation" *ngIf="startEducation < minYear">{{ startEducation }}</mat-option>
                </ng-container>
              </mat-select>
            </div>
            <div class="field-block service-selects">
              <label class="block-title" for="startEducation">Год окончания</label>
              <mat-select name="startEducation" id="startEducation" [(ngModel)]="userSettings.education[i].finishEducation" (ngModelChange)="setMinYear(i)">
                <ng-container *ngFor="let finishEducation of createYears()">
                  <mat-option [value]="finishEducation" *ngIf="finishEducation > maxYear">{{ finishEducation }}</mat-option>
                </ng-container>
              </mat-select>
            </div>
          </div>

          <div class="items">
            <ng-container *ngIf="previewUrl">
              <div class="img-item" *ngFor="let imgUrl of previewUrl, let i = index">
                <button class="delete-file" (click)="deleteAttachment(imgUrl.id)">

                </button>
                <img [src]="'https://www.thecubetest.site/Backend/storage/app/' + imgUrl.diploma" height="300" />
              </div>

            </ng-container>
          </div>

          <div class="add-photos">
            <input type="file" id="diplomaFiles" multiple="true" class="input-file" #fileInput
            (change)="fileProgress($event.target.files)" />
            <label for="diplomaFiles">Загрузить файл/фото диплома</label>

            <!-- <button class="add btn-tetraty">
              <span>Загрузить файл/фото диплома</span>
            </button> -->
          </div>

          <button type="button" class="change"><i class="material-icons create"
            (click)="chooseItem(i)">create</i></button>
        </div>


        <div class="add-education">
          <button class="add btn-tetraty" (click)="addEducation(i+1)" >
            <i class="material-icons">
              add_circle_outline
            </i>
            <span>Добавить образование</span>
          </button>
        </div>
        <button type="button" class="delete-education">
          <i class="material-icons" (click)="deleteEducation(i)">delete</i>
        </button>

      </div>

    </div>
  </div>
</div>
