.inform_section{
  display: flex;
  border-bottom: 1px solid #EBEEFF;
  &__title{
    padding: 50px 30px;
    width: 25%;
    h3{
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 143%;
      text-transform: uppercase;
      color: #323C47;
    }
  }
  &__fields{
    padding: 50px 0 90px;
    width: 75%;
  }
}

.inputs-wrapper{
  max-width: 630px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-title{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #707683;
  margin-bottom: 4px;
}
.fields-title{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #323C47;
  margin: 0;
  margin-bottom: 3px;
}

.fields{
  margin-bottom: 15px;
  &-title{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #323C47;
    margin: 0;
    margin-bottom: 3px;
  }
  &-value{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    color: #707683;
    padding: 15px;
    box-sizing: border-box;
    background: #F4F7FC;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
}
.field-block{
  margin-bottom: 25px;
  width: 100%;
}
.field-block-multiple{
  max-width: 630px;
}
.academicBlock{
  display: flex;
  justify-content: space-between;
  // margin-bottom: 35px;
  width: 100%;
  .academic-degrees{
    width: 100%;
    max-width: 160px;
    margin-right: 30px;
  }
  .field-block{
    width: 100%;
    // margin-bottom: 35px;
  }
}
.studyPeriod{
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  width: 100%;
  .field-block{
    max-width: 106px;
  }
}
.single-education-block{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 25px;
  .toggle_block{
    height: auto;
    margin-bottom: 5px;
    &.hidden{
      height: 0;
      overflow: hidden;
    }
  }

  &:last-child{
    .add-education, .delete-education{
      display: block;
    }
  }
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 130%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F4F7FC;
  }
}
//--------------------------- selects styling -----------------------------
.service-selects ::ng-deep{
  mat-select {
    border-radius: 3px;
    font-size: 16px;
    line-height: 21px;
    color: #323c47;
    padding: 14px 20px 15px;
    box-sizing: border-box;
    border: 1px solid rgba(220, 224, 230, 0.1);
    box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
  }
  .mat-select-arrow{
    border: none;
    width: 12px;
    height: 8px;
    background-image: url(/assets/images/svg/settings-page/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .ng-star-inserted{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #323C47;
  }
  .mat-form-field {
    .ng-star-inserted {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #323c47;
      &.mat-error {
        color: #f44336;
      }
    }
  }
}
::ng-deep .cdk-overlay-container {
  .mat-option {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #707683;
  }
  .mat-option:hover:not(.mat-option-disabled),
  .mat-option:focus:not(.mat-option-disabled) {
    background: #3c7eea;
    color: #fff;
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #323c47;
  }
}
//---------------------------end selects styling -----------------------------

.add-photos{
  width: auto;
  display: flex;
  margin-bottom: 10px;
  // margin-left: 30px;
  button {
    padding-left: 30px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 18px;
      width: 19px;
      background-image: url(/assets/images/svg/settings-page/clip.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.add-education{
  display: none;
  position: absolute;
  bottom: -50px;
  left: 0;
  span{
    padding-left: 10px;
  }
}
.delete-education{
  display: none;
  position: absolute;
  top: 35px;
  right: -50px;
  cursor: pointer;
}

.change{
  display: block;
  position: absolute;
  top: 40px;
  right: -60px;
}

button {
  border: none;
  background: none;
  margin-right: 22px;
  color: #C2CFE0;
  padding: 0;
  cursor: pointer;
  &>i {
    font-size: 17px;
  }
  &.change:hover {
    color: #3C7EEA;
  }
  &.delete:hover {
    color: #FF647C;
  }
}
