<div class="rait-wrapper">
  <form class="raite" #form="ngForm" [formGroup]="rateForm" (ngSubmit)="submitRaite()">
    <h5>Пожалуйста оцените работу фрилансера</h5>
    <p>Выберите необходимое кол-во звёзд</p>
    <div class="stars">
      <div class="reait-item">
        <div class="title">Качество услуг</div>
        <div (mouseenter)="isHover = true" (mouseleave)="isHover = false">
          <span class="star" *ngFor="let el of starsArr, let i = index" (click)="getQuolity(i+1)"
          [ngClass]="{ 'full-star': quolityRait >=i+1 }"
          ></span>
        </div>
      </div>
      <div class="reait-item">
        <div class="title">Срок исполнения</div>
        <div (mouseenter)="isHover = true" (mouseleave)="isHover = false">
          <span class="star" *ngFor="let el of starsArr, let i = index" (click)="getTerm(i+1)"
          [ngClass]="{ 'full-star': termRait >=i+1 }"
          ></span>
        </div>
      </div>
      <div class="reait-item">
        <div class="title">Вежливость фрилансера</div>
        <div (mouseenter)="isHover = true" (mouseleave)="isHover = false">
          <span class="star" *ngFor="let el of starsArr, let i = index" (click)="getCivility(i+1)"
          [ngClass]="{ 'full-star': civilityRait >=i+1 }"
          ></span>
        </div>
      </div>
    </div>
    <div class="comment">
      <label for="comment">Нам важно услышать ваше мнение</label>
      <textarea name="comment" id="comment" cols="30" rows="10" formControlName="comment" placeholder="Ваш комментарий"></textarea>
    </div>

    <button class="btn" type="submit">отправить</button>
  </form>
</div>
