<div class="rait-wrapper">
    <section class="raite">
        <h5>Пожалуйста оцените работу фрилансера</h5>
        <p>Выберите необходимое кол-во звёзд</p>
        <div class="stars">
            <div class="reait-item">
                <div class="title">Качество услуг</div>
                <div>
                    <span class="star" *ngFor="let el of starsArr, let i = index"></span>
                </div>
            </div>
            <div class="reait-item">
                <div class="title">Срок исполнения</div>
                <div></div>
            </div>
            <div class="reait-item">
                <div class="title">Вежливость фрилансера</div>
                <div></div>
            </div>
        </div>
        <label for="comment">нам важно услышать ваше мнение</label>
        <textarea name="" id="comment" cols="30" rows="10"></textarea>
        <button class="btn">отправить</button>
    </section>
</div>