.tabs {
  font-family: "Source Sans Pro", sans-serif;
  .tabs-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    height: 53px;
  }
  .tabContentContainer{
    margin-bottom: 7px;
    box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
  }
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
    z-index: 5;
    box-shadow: 0px 0px 16px rgba(128, 152, 213, 0.2);

    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 0.8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #323c47;
    text-align: center;
    text-transform: uppercase;

    transition: all 0.2s;
    top: 0;
    &:hover {
      top: -2px;
    }
    &.active {
      background: #3c7eea;
      border: 1px solid #3c7eea;
      box-shadow: 0px 0px 16px rgba(128, 152, 213, 0.2);
      border-radius: 3px;
      font-weight: 600;
      color: #fff;
      transition: all 0.3s;
    }
    &.disabled{
      cursor: default;
      background-color: #C2CFE0;
      color: #fff;
      &:hover {
        top: 0;
      }
    }
  }
  .tabContent {
    background: #ffffff;
    border: 1px solid rgba(220, 224, 230, 0.1);
    // box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 40px 55px;
    // margin-bottom: 7px;

    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    .main-info {
      .title-price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h4 {
          margin: 0;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 30px;
          color: #707683;
        }
        span {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
          color: #323c47;
          position: relative;
          &::after {
            content: " ₴";
          }
        }
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: #4e5051;
        margin: 0;
        margin-bottom: 20px;
      }
      .changes-term {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 23px;
          color: #4e5051;
          position: relative;
          padding-left: 32px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
          }
          &:first-child {
            &::before {
              background-image: url(/assets/images/svg/service-page/changes.svg);
              width: 23px;
              height: 23px;
              top: 60%;
            }
          }
          &:last-child {
            &::before {
              background-image: url(/assets/images/svg/service-page/calendar.svg);
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      .option-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-bottom: 35px;
        li {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 117%;
          color: #707683;
          opacity: 0.3;

          padding-left: 30px;
          position: relative;
          margin-bottom: 12px;
          &.active {
            opacity: 1;
          }
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 10px;
            height: 7px;
            background-image: url(/assets/images/svg/service-page/check.svg);
            background-repeat: no-repeat;
          }
        }
      }
    }
    .extra-features{
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      .show-extra-features{
        font-family: "Source Sans Pro", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 117%;
        color: #3C7EEA;
        text-transform: uppercase;
        border: none;
        background: transparent;
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        position: relative;
        &::before{
          content: '';
          background-image: url(/assets/images/svg/user/blue-arrow-down.svg);
          position: absolute;
          top: 50%;
          right: -20px;
          transform: translateY(-50%);
          width: 12px;
          height: 7px;
          transition: all .5s;
        }
        &.open{
          &::before{
            transform: translateY(-50%) rotate(180deg);
            transition: all .5s;
          }
        }
      }

      &__list{
        padding: 0 15px 0;
        margin: 0 -15px;
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow-y: hidden;
        transition: max-height .4s, padding .6s;
        label{
          width: 100%;
        }
        &.open{
          transition: max-height .6s, padding .6s;
          max-height: 700px;
          padding: 15px 15px 0;
          margin: 0 -15px;
        }
      }
      &__item{
        display: flex;
        margin-bottom: 10px;
        width: auto;
        ::ng-deep {

          .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
          .mat-checkbox-checked.mat-accent .mat-checkbox-background {
            background-color: #3C7EEA;
          }

          .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
          .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
            background-color: #3C7EEA;
          }
        }
      }

      &__text{
        width: 100%;
        margin-left: 0px;
        padding-left: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
      }
      &__title{
        font-family: "Source Sans Pro", sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 117%;
        color: #707683;
      }
      &__price{
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #323C47;
      }
      mat-checkbox{
        width: 100%;
        ::ng-deep{
          .mat-checkbox-layout{
            width: 100%!important;
            .mat-checkbox-label{
              width: 100%;
            }
          }
        }
      }
    }
  }
  // .hide {
  //   display: none;
  // }
  // .show {
  //   display: block;
  // }

  .btn-order-service {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #4285f4;
    text-align: center;
    text-transform: uppercase;

    width: 100%;
    border: 1px solid #4285F4;
    border-radius: 4px;
    padding: 16px 0;
    cursor: pointer;
    span{
      font-weight: 700;
    }
  }
}

.btn-options{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 117%;
  color: #3C7EEA;
  text-align: center;

  background: #FFFFFF;
  border: 1px solid rgba(220, 224, 230, 0.1);
  box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
  border-radius: 3px;

  padding: 17px 0;
  margin-bottom: 7px;
  text-transform: uppercase;
  cursor: pointer;
  span{
    padding-left: 32px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 10px;
      height: 7px;

      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &.additional span{
    padding-left: 26px;
    &::before{
      background-image: url(/assets/images/svg/service-page/additional.svg);
      width: 18px;
      height: 18px;
    }
  }
  &.compare span{
    &::before{
      background-image: url(/assets/images/svg/service-page/compare.svg);
      width: 28px;
      height: 28px;
      top: 44%;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1499px) {
  .tabs {
    .tabs-top {
      height: 43px;
    }
    .tab {
      padding: 11px 0;
      font-size: 14px;
      line-height: 21px;
    }
    .tabContent {
      padding: 25px 25px 20px;
      .main-info {
        .title-price {
          margin-bottom: 12px;
        }
        p {
          font-size: 16px;
          line-height: 20px;
        }
        .changes-term {
          margin-bottom: 15px;
          span {
            font-size: 18px;
            &:first-child {
              font-size: 16px;
            }
          }
        }
        .option-list {
          margin-bottom: 20px;
          li {
            font-size: 16px;
            margin-bottom: 8px;
            &.active {
              opacity: 1;
            }
          }
        }
        .title-price{
          span{
            font-size: 18px;
          }
        }
      }
      .extra-features{
        .show-extra-features{
          font-size: 13px;
        }

        &__list{
          padding: 0 15px 0;
          margin: 0 -15px;
          label{
            width: 100%;
          }
          &.open{
            max-height: 700px;
            padding: 15px 15px 0;
            margin: 0 -15px;
          }
        }
        &__item{
          margin-bottom: 0;
        }

        &__text{
          width: 100%;
          margin-left: 0px;
          padding-left: 10px;
        }
        &__title{
          font-size: 14px;
          line-height: 150%;
          max-width: 210px;
          white-space: normal;
        }
        &__price{
          font-size: 14px;
          line-height: 150%;
        }
      }
    }
    .btn-order-service {
      padding: 13px 0;
      font-size: 14px;
    }
    .btn-options{
      padding: 12px 0;
    }
  }
  .btn-options{
    font-size: 13px;
    line-height: 162%;
  }
}

@media (max-width: 767.987px) {
  .btn-options{
    display: none;
  }
  .tabs{
    .tab{
      font-size: 12px;
    }
    .tabContent{
      padding: 10px 15px;
      .main-info{
        p{
          font-size: 14px;
        }
        .changes-term{
          span{
            font-size: 14px;
            &:last-child:before{
              width: 18px;
              height: 18px;
              background-size: contain;
            }
            &:first-child:before{
              width: 18px;
              height: 18px;
              background-size: contain;
            }
          }
        }
        .option-list li{
          font-size: 14px;
        }
      }
    }
  }
}
