<div class="tabs">
  <div class="tabs-top">
    <div class="tab active" (click)="showTabsConent(0)"><span>Базовый</span> </div>
    <div class="tab" (click)="showTabsConent(1)"><span>Стандарт</span> </div>
    <div class="tab" (click)="showTabsConent(2)"><span>Премиум</span> </div>
  </div>
  <div class="tabContentContainer">
    <div class="tabContent">
      <div class="main-info" *ngIf="offerData">
        <div class="title-price">
          <h4>{{offerData.basic.title }}</h4>
          <span>{{ offerData.basic.price }}</span>
        </div>

        <p>{{ offerData.basic.description }}</p>

        <div class="changes-term">
          <span>{{ offerData.basic.changes }} правок</span>
          <span>{{ offerData.basic.term }} дней выполнения</span>
        </div>

        <ul class="option-list">
          <ng-container *ngFor="let option of offerData.main_options">
            <li [ngClass]="{'active': option.basic}">{{ option.title }}</li>
          </ng-container>
        </ul>
      </div>
      <div class="btn-order-service">
        Заказать услугу <span>(за {{ offerData.basic.price }} ₴)</span>
      </div>
    </div>
    <div class="tabContent">
      <div class="main-info" *ngIf="offerData">
        <div class="title-price">
          <h4>{{offerData.advanced.title }}</h4>
          <span>{{ offerData.advanced.price }}</span>
        </div>

        <p>{{ offerData.advanced.description }}</p>

        <div class="changes-term">
          <span>{{ offerData.advanced.changes }} правок</span>
          <span>{{ offerData.advanced.term }} дней выполнения</span>
        </div>

        <ul class="option-list">
          <ng-container *ngFor="let option of offerData.main_options">
            <li [ngClass]="{'active': option.advanced}">{{ option.title }}</li>
          </ng-container>
        </ul>
        <div class="btn-order-service">
          Заказать услугу <span>(за {{ offerData.advanced.price }} ₴)</span>
        </div>
      </div>
    </div>
    <div class="tabContent">
      <div class="main-info" *ngIf="offerData">
        <div class="title-price">
          <h4>{{offerData.premium.title }}</h4>
          <span>{{ offerData.premium.price }}</span>
        </div>

        <p>{{ offerData.premium.description }}</p>

        <div class="changes-term">
          <span>{{ offerData.premium.changes }} правок</span>
          <span>{{ offerData.premium.term }} дней выполнения</span>
        </div>

        <ul class="option-list">
          <ng-container *ngFor="let option of offerData.main_options">
            <li [ngClass]="{'active': option.premium}">{{ option.title }}</li>
          </ng-container>
        </ul>
        <div class="btn-order-service">
          Заказать услугу <span>(за {{ offerData.premium.price }} ₴)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-options additional">
    <span>Дополнительные опции</span>
  </div>
  <div class="btn-options compare">
    <span>Cравнить пакеты услуг</span>
  </div>
</div>
