<div class="inform_section">
  <div class="inform_section__title">
    <h3>Местоположение и языки</h3>
  </div>
  <div class="inform_section__fields">
    <div class="inputs-wrapper">

      <div class="field-block">
        <h5 class="fields-title">Страна</h5>
        <input class="fields-value" type="text" knifeAlphanumeric [(ngModel)]="userSettings.country">
      </div>

      <div class="field-block">
        <h5 class="fields-title">Город</h5>
        <input class="fields-value" type="text" knifeAlphanumeric [(ngModel)]="userSettings.city">
      </div>

      <div class="field-block-multiple">

        <div class="single-lang-wrapper" *ngFor="let arrayItem of userSettings.language; let i = index">

          <div class="field-block"  *ngIf="userSettings.language">
            <h5 class="fields-title">Язык</h5>
            <input class="fields-value"
              [(ngModel)]="userSettings.language[i].langName"
              #langName="ngModel"
              [pattern]="unamePattern"
              type="text" 
              [ngClass] = "{not_Valid: !langName.valid && langName.control.touched}"
              required            
            >
            <div *ngIf="langName.control.touched && langName.control.status === 'INVALID'" class="alert-danger">
              <p>Поле заполнено неверно. Спецсимволов запрещены</p>
            </div>
          </div>

          <div class="field-block language-level">
            <label class="block-title" for="langLevel">Уровень владения</label>
            <mat-select 
              name="langLevel" 
              id="langLevel" 
              [(ngModel)]="userSettings.language[i].langLevel">
              <ng-container *ngFor="let langLevel of languagesLevel">
                <mat-option [value]="langLevel">{{ languageTranslates[langLevel-1] }}</mat-option>
              </ng-container>
            </mat-select>
          </div>

          <div class="delete-language">
            <i class="material-icons" (click)="deleteMainOption(i)">delete</i>
          </div>
        </div>

        <div class="add-languahe">
          <button class="add btn-third" (click)="addLanguage()" >
            <i class="material-icons">
              add_circle_outline
            </i>
            <span>Добавить язык</span>
          </button>
        </div>

      </div>

    </div>
  </div>
</div>
