<!-- <div class="container">
    <app-main-header></app-main-header>
</div>



<div class="category-wrapper">
  <div class="container">
    <ul class="categorys-list">
      <li class="category-item"><a [routerLink]="['/catalog', 'horses'] | localize">лошади</a></li>
      <li class="category-item"><a [routerLink]="['/catalog', 'tatari'] | localize">татари</a></li>
      <li class="category-item" *ngFor="let category of categoryList"><a
          [routerLink]="['/catalog', 'design'] | localize">{{ category.name }}</a></li>
    </ul>
  </div>
</div>


<div class="container">

  <h4>bread-crumbs</h4>
  <h4>category-title</h4>

  <app-categorys-filter></app-categorys-filter>

  <h4>users-online</h4>
  <h4>sorting</h4>
  <app-items-list></app-items-list>

</div> -->


<!-- categoRY and subcategorYES -->
