<app-main-header></app-main-header>
<app-categories-header></app-categories-header>
<div class="wrapper">
  <div class="catalog-categories" *ngIf="categorysList">
    <ul class="categorie" *ngFor="let category of categorysList.category">
      <h3 class="categorie-name">{{category.name}}</h3>

      <li class="subcategorie-name"*ngFor="let sub_categorie of category.sub_categories">
        <a [routerLink]="['/catalog', category.name] | localize" class="subcategorie">
          {{sub_categorie.name}}
        </a>
      </li>

    </ul>
  </div>
</div>

