<section class="about-offer">
  <h4 class="section-title">
    О фрилансере
  </h4>
  <div class="top-section">
    <div class="photo">
      <div class="offer-avatar">
        <img [src]="'https://www.thecubetest.site/Backend/storage/app/' + offerData.user.avatar" alt="user avatar">
      </div>
    </div>
    <div class="offer-info">
      <span class="offer-name">{{ offerData.user.name }} {{ offerData.user.surname }}</span>
      <div class="offer-status">Уровень: Опытный(-ая)</div>
      <div class="user-raiting-wrapp">
        <p class="star-raiting">{{ offerData.raiting }}<span class="user-comments">({{ offerData.comments_count }} +отзывов)</span></p>
      </div>
      <div class="onlineStatus online">Oнлайн</div>
    </div>
    <div class="actions">
      <div class="action tooltip" data-title="Смотреть профиль">
        <a href="">
          <img src="assets/images/svg/service-page/shape.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/shape-hov.svg" alt="" class="hover-img">
        </a>
      </div>
      <div class="action tooltip" data-title="Написать сообщение">
        <a href="">
          <img src="assets/images/svg/service-page/envelope.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/envelope-hov.svg" alt="" class="hover-img">
        </a>
      </div>
      <div class="action tooltip" data-title="Добавить к избранным">
        <a href="">
          <img src="assets/images/svg/service-page/heart.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/heart-hov.svg" alt="" class="hover-img">
        </a>
      </div>
      <div class="action tooltip" data-title="Пожаловаться">
        <a href="">
          <img src="assets/images/svg/service-page/auction.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/auction-hov.svg" alt="" class="hover-img">
        </a>
      </div>
    </div>
  </div>
  <div class="main-info">
    <div class="info-item">
      <p class="title">Страна</p>
      <p class="text">Украина</p>
    </div>
    <div class="info-item">
      <p class="title">На сайте с</p>
      <p class="text">21.12.2018</p>
    </div>
    <div class="info-item">
      <p class="title">Время ответа</p>
      <p class="text">около 3 часов </p>
    </div>
    <div class="info-item">
      <p class="title">Обращений в арбитраж</p>
      <p class="text">1</p>
    </div>
    <div class="info-item">
      <p class="title">Проектов в работе</p>
      <p class="text">2</p>
    </div>
  </div>
  <div class="about-offer">
    Занимаюсь дизайном с 2010 года.  Мои профессиональные навыки создание дизайна сайтов, лоотипов, мобильных приложений и прочего. Занимаюсь дизайном с 2010 года.  Мои профессиональные навыки создание дизайна сайтов, лоотипов, мобильных приложений и прочего. Занимаюсь дизайном с 2010 года.  Мои профессиональные навыки создание дизайна сайтов, лоотипов, мобильных приложений и прочего. Занимаюсь дизайном с 2010 года.  Мои профессиональные навыки создание дизайна сайтов, лоотипов, мобильных приложений и прочего.
  </div>
</section>
