<section class="about-offer">
  <h4 class="section-title">
    {{'general.about-freelancer' | translate}}
  </h4>
  <div class="top-section">
    <div class="photo">
      <a class="offer-avatar" [routerLink]="['/user', offerData.user.id] | localize">
        <img [src]="offerData.user.avatar" alt="user avatar">
      </a>
    </div>
    <div class="offer-info">
      <span class="offer-name" [routerLink]="['/user', offerData.user.id] | localize">{{ offerData.user.name }} {{ offerData.user.surname }}</span>
      <div class="offer-status">{{'general.level' | translate}}: {{lvlTranslation[offerData.user.rank_id]  | translate}}</div>
      <div class="user-rating-wrap">
        <p class="star-rating" [ngClass]="{'empty-rating': offerData.rating === 0}">{{ offerData.rating }}<span class="user-comments">({{ convertedNumberOfComments }} отзывов)</span></p>
      </div>
      <div class="onlineStatus ">
        <span class="online" *ngIf="offerData.user.online">{{'general.online' | translate}}</span>
        <span class="offline" *ngIf="!offerData.user.online">{{'general.offline' | translate}}</span>
      </div>
    </div>
    <div class="actions">
      <div class="action tooltip" data-title="Смотреть профиль">
        <a href="">
          <img src="assets/images/svg/service-page/shape.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/shape-hov.svg" alt="" class="hover-img">
        </a>
      </div>
      <div class="action tooltip" data-title="Написать сообщение">
        <a href="">
          <img src="assets/images/svg/service-page/envelope.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/envelope-hov.svg" alt="" class="hover-img">
        </a>
      </div>
      <div class="action tooltip" data-title="Добавить к избранным">
        <a href="">
          <img src="assets/images/svg/service-page/heart.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/heart-hov.svg" alt="" class="hover-img">
        </a>
      </div>
      <div class="action tooltip" data-title="Пожаловаться">
        <a href="">
          <img src="assets/images/svg/service-page/auction.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/auction-hov.svg" alt="" class="hover-img">
        </a>
      </div>
    </div>
  </div>
  <div class="main-info">
    <div class="info-item">
      <p class="title">{{'general.country' | translate}}</p>
      <p class="text">{{ offerData.user.country }}</p>
    </div>
    <div class="info-item" >
      <p class="title">{{'general.registration-date' | translate}}</p>
      <p class="text" *ngIf="offerData.created_at">{{ offerData.created_at }}</p>
    </div>
    <div class="info-item">
      <p class="title">{{'service-page.answer-time' | translate}}</p>
      <p class="text">{{ offerData.user.answerTime }} </p>
    </div>
    <div class="info-item">
      <p class="title">{{'user-page.arbitration-appeals' | translate}}</p>
      <p class="text">{{ offerData.user.arbitration.freelancer }}</p>
    </div>
    <div class="info-item">
      <p class="title">{{'user-page.projects-in-progress' | translate}}</p>
      <p class="text">{{ offerData.user.inProgressOffers }}</p>
    </div>
  </div>
  <div class="about-offer">
    <p>{{ offerData.user.description }}</p>
  </div>
</section>
