<section class="about-offer">
  <h4 class="section-title">
    О фрилансере
  </h4>
  <div class="top-section">
    <div class="photo">
      <a class="offer-avatar" [routerLink]="['/user', offerData.user.id] | localize">
        <img [src]="offerData.user.avatar" alt="user avatar">
      </a>
    </div>
    <div class="offer-info">
      <span class="offer-name" [routerLink]="['/user', offerData.user.id] | localize">{{ offerData.user.name }} {{ offerData.user.surname }}</span>
      <div class="offer-status">Уровень: {{ offerData.user.rank_id }}</div>
      <div class="user-raiting-wrapp">
        <p class="star-raiting">{{ offerData.raiting }}<span class="user-comments">({{ convertedNumberOfComments }} отзывов)</span></p>
      </div>
      <div class="onlineStatus ">
        <span class="online" *ngIf="offerData.user.online">Oнлайн</span>
        <span class="offline" *ngIf="!offerData.user.online">Офлайн</span>
      </div>
    </div>
    <div class="actions">
      <div class="action tooltip" data-title="Смотреть профиль">
        <a href="">
          <img src="assets/images/svg/service-page/shape.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/shape-hov.svg" alt="" class="hover-img">
        </a>
      </div>
      <div class="action tooltip" data-title="Написать сообщение">
        <a href="">
          <img src="assets/images/svg/service-page/envelope.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/envelope-hov.svg" alt="" class="hover-img">
        </a>
      </div>
      <div class="action tooltip" data-title="Добавить к избранным">
        <a href="">
          <img src="assets/images/svg/service-page/heart.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/heart-hov.svg" alt="" class="hover-img">
        </a>
      </div>
      <div class="action tooltip" data-title="Пожаловаться">
        <a href="">
          <img src="assets/images/svg/service-page/auction.svg" alt="" class="default-img">
          <img src="assets/images/svg/service-page/auction-hov.svg" alt="" class="hover-img">
        </a>
      </div>
    </div>
  </div>
  <div class="main-info">
    <div class="info-item">
      <p class="title">Страна</p>
      <p class="text">{{ offerData.user.country }}</p>
    </div>
    <div class="info-item" >
      <p class="title">На сайте с</p>
      <p class="text" *ngIf="offerData.created_at">{{ offerData.created_at }}</p>
    </div>
    <div class="info-item">
      <p class="title">Время ответа</p>
      <p class="text">{{ offerData.user.answerTime }} </p>
    </div>
    <div class="info-item">
      <p class="title">Обращений в арбитраж</p>
      <p class="text">{{ offerData.user.arbitration.freelancer }}</p>
    </div>
    <div class="info-item">
      <p class="title">Проектов в работе</p>
      <p class="text">{{ offerData.user.inProgressOffers }}</p>
    </div>
  </div>
  <div class="about-offer">
    <p>{{ offerData.user.description }}</p>
  </div>
</section>
