.comments_wrapper {
  margin-bottom: 75px;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    height: 1px;
    width: 100%;
    background: #EBEEFF;
  }
  .section-title{
    margin: 30px 0 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #323c47;
    span {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 23px;
      color: #979797;
      padding-left: 20px;
    }
  }
  .commets-array {
    height: 530px;
    overflow-y: scroll;
    background: #ffffff;
    border: 1px solid rgba(220, 224, 230, 0.1);
    box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
    border-radius: 3px;

    &::-webkit-scrollbar { width: 10px; height: 10px;}
    // &::-webkit-scrollbar-button {  background-color: #666; }
    &::-webkit-scrollbar-track {  background-color: transparent;}
    &::-webkit-scrollbar-track-piece { background-color: transparent;}
    &::-webkit-scrollbar-thumb { height: 80px; background-color: #EBEBEB; border-radius: 5px;}
    &::-webkit-scrollbar-corner { background-color: green;}
    &::-webkit-resizer { background-color: blue;}
  }
  .comment {
    display: flex;
    padding: 20px;
    .left-side {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ava {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      margin-right: 20px;
      // margin-top: 10px;
      cursor: pointer;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
        border-radius: 50%;
      }
    }
    .right-side {
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
      width: 100%;
    }
    .user-name {
      width: fit-content;
      margin-top: 2px;
      cursor: pointer;
      color: #4e5051;
      text-decoration: none;
      &:hover{
        color: #5695FD;
      }
    }
    .user-raiting-wrapp {
      margin-left: 20px;
    }
    .comment-text {
      width: 100%;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      color: #4e5051;
    }
    // .publication_time{
    //   font-weight: normal;
    //   font-size: 16px;
    //   line-height: 20px;
    //   color: #99ACB7;
    // }
    &:nth-child(odd) {
      background-color: #fbfcfd;
    }
    &.sub{
      padding-left: 80px;
      padding-right: 60px;
    }
    &__raiting{
      display: flex;

      font-size: 16px;
      line-height: 20px;
      color: #707683;
      &-item{
        display: flex;
        margin-right: 25px;
        span{
          padding-right: 7px;
        }
      }
    }
  }
  .btn-show_more_comments{
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3C7EEA;
    cursor: pointer;
    position: relative;
    width: max-content;
    padding-right: 20px;
    margin: 0 auto;
    &::after{
      content: '';
      background-image: url(/assets/images/svg/user/blue-arrow-down.svg);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 12px;
      height: 7px;
    }
    &.open{
      &::after{
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
}

.tabs-wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: -54px;
  .commets-array {
    display: none;
  }
  .commets-array {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  input {
    display: none;
    position: absolute;
  }
  label {
    display: inline-block;
    margin: 0 0 7px 7px;
    padding: 15px 21px;
    color: #323c47;

    text-align: center;
    border: 1px solid rgba(220, 224, 230, 0.1);
    background: #fff;
    box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
    border-radius: 3px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;

    max-height: 52px;
    box-sizing: border-box;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Изменения стиля переключателей вкладок при наведении */
.tabs-wrapp > label:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #3c7eea;
  border: 1px solid rgba(220, 224, 230, 0.1);
  box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
  border-radius: 3px;
  transition: all 0.3s;
}
/* Стили для активной вкладки */
.tabs-wrapp > input:checked + label {
  color: rgba(255, 255, 255, 0.9);
  background: #3c7eea;
  border: 1px solid rgba(220, 224, 230, 0.1);
  box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
  border-radius: 3px;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #positive,
#tab2:checked ~ #negative {
  display: block;
  width: 100%;
}
