<section class="comments_wrapper" *ngIf="offerData">
  <h4 class="section-title">
    Отзывы <span>({{ convertedNumberOfComments }})</span>
  </h4>
  <div class="tabs-wrapp" *ngIf="offerData.comments_count !== 0">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Вкладка 1">Положительные ({{ offerData.positive_comments_count }})</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Вкладка 2">Отрицательные ({{ offerData.negative_comments_count }})</label>


    <div class="commets-array" id="positive">
      <div class="comment-wrapper" *ngFor="let comment of offerData.positiveComments; let parrentCommentIndex = index">

        <div class="comment main">
          <div class="left-side">
            <a class="ava" [routerLink]="['/user', comment.author.id] | localize">
              <img [src]="comment.author.avatar" alt="user avatar">
            </a>
          </div>
          <div class="right-side">
            <a class="user-name" [routerLink]="['/user', comment.author.id] | localize">{{ comment.author.name }}
              {{ comment.author.surname }}</a>
              <!-- <div class="user-raiting-wrapp">
                <span class="star-raiting">{{ comment.mark }}</span>
              </div> -->
            <!-- <div class="publication_time">
              09.01.2020
            </div> -->
            <p class="comment-text">
              {{ comment.commentText }}
            </p>
            <div class="comment__raiting">
              <div class="comment__raiting-item">
                <span>Качество</span>
                <div class="star-raiting">{{comment.author.averageRaiting.qualityMark}}</div>
              </div>
              <div class="comment__raiting-item">
                <span>Срок</span>
                <div class="star-raiting">{{comment.author.averageRaiting.termMark}}</div>
              </div>
              <div class="comment__raiting-item">
                <span>Вежливость</span>
                <div class="star-raiting">{{comment.author.averageRaiting.politenessMark}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="comment_child__wrapper" *ngIf="comment.childs">
          <ng-container *ngFor="let child of comment.childs; let i = index">
            <div class="comment sub" *ngIf="i === 0 || showAllchildComments === parrentCommentIndex">
              <div class="left-side">
                <a class="ava" [routerLink]="['/user', child.author.id] | localize">
                  <img [src]="child.author.avatar" alt="user avatar">
                </a>
              </div>
              <div class="right-side">
                <a class="user-name" [routerLink]="['/user', child.author.id] | localize">{{ child.author.name }}
                  {{ child.author.surname }}</a>
                  <!-- <div class="comment__date">{{comment.created_at}}</div> -->
                <p class="comment-text">
                  {{ child.commentText }}
                </p>
              </div>
            </div>
          </ng-container>
          <div class="btn-show_more_comments" *ngIf="comment.childs.length > 1"
            (click)="showMoreChileComments(parrentCommentIndex)"
            [ngClass]="{open: showAllchildComments === parrentCommentIndex}">читать ответы</div>
        </div>
      </div>
    </div>

    <div class="commets-array" id="negative">
      <div class="comment-wrapper" *ngFor="let comment of offerData.negativeComments; let parrentCommentIndex = index">

        <div class="comment main">
          <div class="left-side">
            <a class="ava" [routerLink]="['/user', comment.author.id] | localize">
              <img [src]="comment.author.avatar" alt="user avatar">
            </a>
          </div>
          <div class="right-side">
            <a class="user-name" [routerLink]="['/user', comment.author.id] | localize">{{ comment.author.name }}
              {{ comment.author.surname }}</a>
            <div class="user-raiting-wrapp">
              <span class="star-raiting">{{ comment.mark }}</span>
            </div>
            <p class="comment-text">
              {{ comment.commentText }}
            </p>
          </div>
        </div>

        <div class="comment_child__wrapper" *ngIf="comment.childs">
          <ng-container *ngFor="let child of comment.childs; let i = index">
            <div class="comment sub" *ngIf="i === 0 || showAllchildComments === parrentCommentIndex">
              <div class="left-side">
                <a class="ava" [routerLink]="['/user', child.author.id] | localize">
                  <img [src]="child.author.avatar" alt="user avatar">
                </a>
              </div>
              <div class="right-side">
                <a class="user-name" [routerLink]="['/user', child.author.id] | localize">{{ child.author.name }}
                  {{ child.author.surname }}</a>
                <p class="comment-text">
                  {{ child.commentText }}
                </p>
            </div>
          </div>
        </ng-container>
        <div class="btn-show_more_comments" *ngIf="comment.childs.length > 1"
          (click)="showMoreChileComments(parrentCommentIndex)"
          [ngClass]="{open: showAllchildComments === parrentCommentIndex}">читать ответы</div>
      </div>
    </div>
  </div>
  </div>

</section>
