<section class="comments_wrapper" *ngIf="offerData">
  <h4 class="section-title">
    Отзывы <span>({{ convertedNumberOfComments }})</span>
  </h4>
  <div class="tabs-wrapp" *ngIf="offerData.comments_count !== 0">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Вкладка 1">Положительные ({{ offerData.positive_comments_count }})</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Вкладка 2">Отрицательные ({{ offerData.negative_comments_count }})</label>


    <div class="commets-array" id="positive">
      <div class="comment-wrapper" *ngFor="let comment of offerData.positiveComments">

        <div class="comment main">
          <div class="left-side">
            <a class="ava" [routerLink]="['/user', comment.author.id] | localize">
              <img [src]="comment.author.avatar" alt="user avatar">
            </a>
          </div>
          <div class="right-side">
            <a class="user-name" [routerLink]="['/user', comment.author.id] | localize">{{ comment.author.name }}
              {{ comment.author.surname }}</a>
            <div class="user-raiting-wrapp">
              <span class="star-raiting">{{ comment.mark }}</span>
            </div>
            <p class="comment-text">
              {{ comment.commentText }}
            </p>
          </div>
        </div>

        <ng-container *ngIf="comment.childs">
          <div class="comment sub" *ngFor="let child of comment.childs">
            <div class="left-side">
              <a class="ava" [routerLink]="['/user', child.author.id] | localize">
                <img [src]="child.author.avatar" alt="user avatar">
              </a>
            </div>
            <div class="right-side">
              <a class="user-name" [routerLink]="['/user', child.author.id] | localize">{{ child.author.name }}
                {{ child.author.surname }}</a>
              <p class="comment-text">
                {{ child.commentText }}
              </p>
            </div>
          </div>
        </ng-container>


      </div>

    </div>

    <div class="commets-array" id="negative">
      <div class="comment-wrapper" *ngFor="let comment of offerData.negativeComments">

        <div class="comment main">
          <div class="left-side">
            <a class="ava" [routerLink]="['/user', comment.author.id] | localize">
              <img [src]="comment.author.avatar" alt="user avatar">
            </a>
          </div>
          <div class="right-side">
            <a class="user-name" [routerLink]="['/user', comment.author.id] | localize">{{ comment.author.name }}
              {{ comment.author.surname }}</a>
            <div class="user-raiting-wrapp">
              <span class="star-raiting">{{ comment.mark }}</span>
            </div>
            <p class="comment-text">
              {{ comment.commentText }}
            </p>
          </div>
        </div>

        <ng-container *ngIf="comment.childs">
          <div class="comment sub" *ngFor="let child of comment.childs">
            <div class="left-side">
              <a class="ava" [routerLink]="['/user', child.author.id] | localize">
                <img [src]="child.author.avatar" alt="user avatar">
              </a>
            </div>
            <div class="right-side">
              <a class="user-name" [routerLink]="['/user', child.author.id] | localize">{{ child.author.name }}
                {{ child.author.surname }}</a>
              <p class="comment-text">
                {{ child.commentText }}
              </p>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

</section>
