<section class="comments_wrapper" *ngIf="offerData">
  <h4 class="section-title">
    Отзывы <span>({{ convertedNumberOfComments }})</span>
  </h4>
  <div class="tabs-wrapp">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Вкладка 1">Положительные ({{ offerData.positive_comments_count }})</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Вкладка 2">Отрицательные ({{ offerData.negative_comments_count }})</label>


    <div class="commets-array" id="positive">
      <div class="comment-wrapper" *ngFor="let comment of offerData.positiveComments">

        <div class="comment main">
          <div class="left-side">
            <div class="ava">
              <img [src]="comment.user.avatar"
                alt="user avatar">
            </div>
          </div>
          <div class="right-side">
            <div class="user-name">{{ comment.user.name }} {{ comment.user.surname }}</div>
            <div class="user-raiting-wrapp">
              <span class="star-raiting">{{ comment.mark }}</span>
            </div>
            <p class="comment-text">
              {{ comment.commentText }}
            </p>
          </div>
        </div>

        <ng-container *ngIf="comment.childs">
          <div class="comment sub" *ngFor="let child of comment.childs">
              <div class="left-side">
                <div class="ava">
                  <img [src]="child.user.avatar"
                    alt="user avatar">
                </div>
              </div>
              <div class="right-side">
                <div class="user-name">{{ child.user.name }} {{ child.user.surname }}</div>
                <div class="user-raiting-wrapp">
                  <span class="star-raiting">{{ child.mark }}</span>
                </div>
                <p class="comment-text">
                  {{ child.commentText }}
                </p>
              </div>
            </div>
        </ng-container>


      </div>

    </div>

    <div class="commets-array" id="negative">
      <div class="comment-wrapper" *ngFor="let comment of offerData.negativeComments">

        <div class="comment main">
          <div class="left-side">
            <div class="ava">
              <img [src]="'https://www.thecubetest.site/Backend/storage/app/' + comment.user.avatar"
                alt="user avatar">
            </div>
          </div>
          <div class="right-side">
            <div class="user-name">{{ comment.user.name }} {{ comment.user.surname }}</div>
            <div class="user-raiting-wrapp">
              <span class="star-raiting">{{ comment.mark }}</span>
            </div>
            <p class="comment-text">
              {{ comment.commentText }}
            </p>
          </div>
        </div>

        <ng-container *ngIf="comment.childs">
          <div class="comment sub" *ngFor="let child of comment.childs">
              <div class="left-side">
                <div class="ava">
                  <img [src]="'https://www.thecubetest.site/Backend/storage/app/' + child.user.avatar"
                    alt="user avatar">
                </div>
              </div>
              <div class="right-side">
                <div class="user-name">{{ child.user.name }} {{ child.user.surname }}</div>
                <div class="user-raiting-wrapp">
                  <span class="star-raiting">{{ child.mark }}</span>
                </div>
                <p class="comment-text">
                  {{ child.commentText }}
                </p>
              </div>
            </div>
        </ng-container>

      </div>
    </div>
  </div>

</section>
