<div class="tools-bar">
  <div class="items">
    <div>финансовая статистика</div>
    <div>декабрь декабрь декабрь</div>
  </div>
</div>
<div class="wrapper">
  <div class="chart">
    <h6>2019 год</h6>
    <div class="canvas" style="display: block;">
      <!-- <canvas id="adminChart" height='245px' baseChart #adminChart [chartType]="chartType" [datasets]="chartData"
        [colors]="chartColors"></canvas> -->

      <canvas baseChart [datasets]="lineChartData" width= '1045px'
    height= '245px' [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
        [plugins]="lineChartPlugins"></canvas>
    </div>
  </div>
  <div class="curent-statistic">
    s
  </div>
</div>
