.tools-bar {
  height: 66px;
  background: #f4f7fc;
  border-radius: 4px 4px 0px 0px;
  box-sizing: border-box;
  padding: 0 22px;
}

.items,
.chart {
  width: 76%;
}

.items.dayschart {
  width: 100%;

  .day-selected {
    padding-right: 45px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #707683;
  }
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  h5 {
    margin: 0;
  }

  &>div {
    display: flex;
    align-items: center;

    h5 {
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 23px;
      font-variant: small-caps;
      text-transform: uppercase;
      color: #323c47;
    }

    .chart-type {
      position: relative;
      margin-left: 50px;
    }

    .cerrent {
      width: 74px;
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-variant: small-caps;
      color: #3c7eea;
      cursor: pointer;
      // margin-left: 36px;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border-bottom: 2px solid #3c7eea;
        border-left: 2px solid #3c7eea;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    .list {
      height: 0;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      background: #fff;
      position: absolute;
      width: 100%;
      padding: 0;
      z-index: 20;
      margin: 0;
      min-width: 85px;
      background: #FFFFFF;
      border: 1px solid rgba(220, 224, 230, 0.1);
      box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
      border-radius: 3px;

      li {
        height: 50px;
        list-style: none;
        cursor: pointer;
        padding: 14px 0 14px 18px;
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #707683;

        &:hover {
          background: #3C7EEA;
          color: #fff;
        }
      }

      &.hide {
        height: 0;
        overflow: hidden;
        border: none;
      }

      &.show {
        height: 145px;

      }
    }
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart {
  padding-left: 31px;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;

  h6 {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #323c47;
    margin: 20px 0 16px;
    // color: rgb(60, 126, 234);
  }
}

.curent-statistic {
  width: 20.5%;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .description {
    border: 1px solid #EBEFF2;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 16px 18px 16px 52px;

    p {
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #707683;
      margin: 0 0 7px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #3C7EEA;
        left: -14px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:first-child:before {
        color: #29CC97;
      }
    }
  }

  .list {
    display: none;
  }
}

.canvas {
  height: 245px;
  box-sizing: border-box;
  // canvas {
  //   width: 1045px;
  //   height: 245px;
  // }
}

// years

.chart-year-btns {
  padding-right: 20px;

  button {
    border: none;
    box-shadow: none;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #99acb7;
    position: relative;
    background: transparent;
    outline: none;
    cursor: pointer;

    &:first-of-type {
      &+div {
        margin-left: 40px;
      }
    }

    &:before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      border-bottom: 1px solid #979797;
      border-left: 1px solid #979797;
      opacity: 0.8;
    }

    &.prev {
      &:before {
        top: 50%;
        left: -6px;
        transform: translateY(-50%) rotate(45deg);
      }
    }

    &.next {
      &:before {
        top: 50%;
        right: -6px;
        transform: translateY(-50%) rotate(-135deg);
      }
    }

    &:hover {
      color: #3c7eea;

      &:before {
        border-color: #3c7eea;
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}

// month 
.chart-month-btns {
  position: relative;

  .select {
    position: absolute;
    bottom: -80px;
    right: 0;
  }
}

.show-select {
  display: flex;
  align-items: baseline;

  span {
    position: relative;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #707683;
    cursor: pointer;

    &:first-child {
      margin-right: 32px;
    }

    &:last-child {
      width: 14px;
      height: 14px;
      display: block;

      &:after {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border-bottom: 2px solid #3c7eea;
        border-left: 2px solid #3c7eea;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}


//  calendar
.wrapper ::ng-deep {
  dl-date-time-picker {
    width: 100%;
    font-family: Source Sans Pro, sans-serif;

    .dl-abdtp-view-label.dl-abdtp-up-button {
      background: transparent;

      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */

      text-align: center;
      text-transform: uppercase;

      color: #323C47;
      span {
        padding-left: 10px;
      }
    }

    .dl-abdtp-right-button, .dl-abdtp-left-button {
      background: transparent;
    }
    .dl-abdtp-day-view {
      margin-top: 25px;
    }
    .align-items-center.no-gutters.dl-abdtp-col-label {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #707683;

    }

    .dl-abdtp-day-view>.no-gutters+div>div.no-gutters:first-of-type {
      margin: 19px 0 24px;
    }

    .dl-abdtp-date-button.dl-abdtp-day {
      padding: 13px 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      /* identical to box height */

      text-align: center;

      color: #707683;

      &.dl-abdtp-selected {
        color: #fff;
        font-weight: 600;
      }

      // .no-gutters .no-gutters {
      //   margin: 19px 0 24px;
      // }
      &.dl-abdtp-past,
      &.dl-abdtp-future {
        color: #99ACB7;
        mix-blend-mode: normal;
        opacity: 0.4;
      }
    }
  }
}
