<div class="tools-bar">
  <div class="items">
    <div>
      <h5>финансовая статистика</h5>
      <div class="chart-type">
        <div class="cerrent" (click)="openTypesList()">{{ curerntType.name }}</div>
        <ul class="list" [ngClass]="{ show: listOpen && listOpen === true, hide: !listOpen && listOpen === false }">
          <li *ngFor="let type of chartTypes" (click)="selectChartType(type)"> {{ type.name  }} </li>

        </ul>
      </div>
    </div>
    <div>
      <div class="chart-year-btns" *ngIf="curerntType.value === 'year'">
        <!-- year  -->
        <button class="prev" *ngIf="showedDate >2017" [disabled]="showedDate === 2018"
          (click)="prevYear()">{{ showedDate -1  }} год</button>
        <button class="next" *ngIf="showedDate < currentYear" [disabled]="showedDate === currentYear"
          (click)="nextYear()">{{ showedDate + 1 }} год</button>
      </div>
      <div class="chart-month-btns" *ngIf="curerntType.value === 'month'">
        <div class="show-select" (click)="toggleMonthSelect()">
          <span>выберите месяц и год</span>
          <span></span>
        </div>
        <div *ngIf="monthSelectOpen" class="select">
          <app-mounth-chart-select></app-mounth-chart-select>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="wrapper">
  <div class="chart">
    <h6>{{showedDate}} <span *ngIf="curerntType.value === 'year'">год</span></h6>
    <div class="canvas" style="display: block;">
      <canvas baseChart [datasets]="lineChartData" width='1045px' height='245px' [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
        [plugins]="lineChartPlugins"></canvas>
    </div>
  </div>
  <div class="curent-statistic">
    <app-calendar *ngIf="curerntType.value === 'day'"></app-calendar>

    <div class="description" *ngIf="curerntType.value !== 'day'">
      <p>Доход биржи</p>
      <p>Кол-во входящих средств</p>
    </div>
  </div>
</div>
