<div class="registration-bl">
  <div class="container">
    <div class="row">
      <h2>Регистрация</h2>
      <p class="text">Добро пожаловать на лучшую платформу фриланса Whocan!</p>
      <form action="" [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email" required />
          <mat-error *ngIf="registrationForm.get('email').hasError('required')">{{ "erorr" }}</mat-error>
          <mat-error *ngIf="registrationForm.get('email').hasError('email')">{{
            "not email"
          }}</mat-error>
        </mat-form-field>
        <div>

            <button type="submit" [disabled]="registrationForm.invalid" mat-raised-button>
            Submit
          </button>


        </div>
      </form>
    </div>
  </div>
</div>
