<div class="wrapper">
  <div class="filters-list">
    <div class="filter f-price">
      <div class="title">
        <p>бюджет</p>
        <div class="plus"></div>
      </div>
      <div class="filter price">
        <div>
          <label for="price-mn"></label>
          <mat-form-field>
            <input
              matInput
              number
              placeholder="UAH"
              [(ngModel)]="filterData.price"
              (ngModelChange)="onFilterChange()"
              type="text"
              name="price-min"
              id="price-mn"
              >
          </mat-form-field>
        </div>
        <div>
          <label for="price-mx"></label>
          <mat-form-field>
            <input
              matInput
              number
              placeholder="UAH"
              [(ngModel)]="filterData.Price_max"
              (ngModelChange)="onFilterChange()"
              type="text"
              name="price-max"
              id="price-mx"
              >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="set-filter-btn" (click)="loadData()">
      <span>фильтровать</span>
    </div>
  </div>
</div>
