.wrapper{
    display: flex;
    & > div{
        margin-top: -110px;
        position: relative;
    }
}
// ------------left-side----------------
.main-info{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323C47;
    &__text{
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.5px;
        margin: 0 0 60px;

        max-width: 510px;
    }
    &__wrap{
        padding: 70px 0;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            z-index: -1;
            top: 55%;
            left: 43%;
            width: 115%;
            height: 115%;
            max-width: 580px;
            max-height: 580px;
            background: linear-gradient(37.4deg, #F0F7FF 13.12%, #FFFFFF 89.5%);
            box-shadow: 0px 0px 40px rgba(128, 152, 213, 0.2);
            border-radius: 97px;
            transform: translate(-50%, -50%) rotate(29.35deg);;
        }
        &::after{
            content: "";
            position: absolute;
            z-index: -2;
            top: -25%;
            left: -20%;
            width: 102px;
            height: 118px;
            background-image: url(/assets/images/images/dots-advantages.svg)
        }

    }
    z-index: 1;
    .btn.colored{
        width: max-content;
    }
    .section__subtitle{
        margin: 0 0 15px;
    }
    .section__title{
        margin: 0 0 40px;
    }
    .main-info__text{
        margin: 0 0 55px; 
    }
}


// ------------right-side----------------
.features{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323C47;   
    &-column{
        height: 100%;
        margin: 0 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.features-item__wrapper{
    position: relative;
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0px;
        right: -14px;
        width: 280px;
        height: 280px;
        background: #3C7EEA;
        box-shadow: 0px 0px 40px rgba(128, 152, 213, 0.2);
        border-radius: 42px;
        transform: scale(0);
        transition: all .4s ease-out;
    }
    &:hover{
        .features-item{
            transform: scale(.95);
        }
        &::before{
            transition: all .5s ease-out;
            transform: scale(1) rotate(-16.97deg);
        }
    }
    &:nth-child(1){
        z-index: 3;
    }
    &:nth-child(2){
        z-index: 2;
    }
    &:nth-child(3){
        z-index: 1;
    }
}

.features-item{
    padding: 40px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(128, 152, 213, 0.2);
    border-radius: 16px;

    width: 300px;
    height: 260px;
    margin: 35px 0;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5s;
    &__top{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 0 25px;
    }
    &__icon{
        width: 40px;
        height: 40px;
        margin-right: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            min-width: 80%;
            min-height: 80%;
        }
    }
    &__title{
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.016em;
        margin: 0;
        white-space: nowrap;
    }
    &__text{
        font-size: 18px;
        line-height: 24px;
        color: #707683;
        margin: 0;
    }
}