<div class="wrapper">
    <div class="main-info">
        <div class="main-info__wrap">
            <h3 class="section__subtitle">преимущества</h3>
            <h2 class="section__title">Почему Gigrum?</h2>
            <p class="main-info__text">
                Добро пожаловать в сообщество веб-разработчиков, дизайнеров, создателей текстового, графического и видео контента, переводчиков и мастеров озвучки.
            </p>
            <a class="btn colored" [routerLink]="['/auth'] | localize" >зарегистрироваться</a>
        </div>
    </div>
    <div class="features">
        <!-- <div class="features-wrap"> -->
            <div class="features-column">
                <div class="features-item__wrapper" [ngClass]="{openTab: activeTab === 0}">
                    <div class="features-item">
                        <div class="features-item__top" (click)="toggleTab(0)">
                            <div class="features-item__icon"><img src="assets/images/icons/advantages/payment-protection.svg" alt=""></div>
                            <h4 class="features-item__title">Защита платежей</h4>
                        </div>
                        <p class="features-item__text">
                            Для безопасности сделки, зарезервированная сумма хранится на сервисе до успешного выполнения проекта.
                        </p>
                    </div>
                </div>
                <div class="features-item__wrapper" [ngClass]="{openTab: activeTab === 1}">
                    <div class="features-item">
                        <div class="features-item__top" (click)="toggleTab(1)">
                            <div class="features-item__icon"><img src="assets/images/icons/advantages/opacity.svg" alt=""></div>
                            <h4 class="features-item__title">Прозрачность</h4>
                        </div>
                        <p class="features-item__text">
                            Только комиссия за сделку. Никаких скрытых платежей, платного повышения рейтинга и статусов пользователя.
                        </p>
                    </div>
                </div>
            </div>
            <div class="features-column">
                <div class="features-item__wrapper" [ngClass]="{openTab: activeTab === 2}">
                    <div class="features-item">
                        <div class="features-item__top" (click)="toggleTab(2)"> 
                            <div class="features-item__icon"><img src="assets/images/icons/advantages/quick-payouts.svg" alt=""></div>
                            <h4 class="features-item__title">Быстрые выплаты</h4>
                        </div>
                        <p class="features-item__text">
                            Отправление средств на счет фрилансера осуществляется на протяжении часа после успешного завершения проекта.
                        </p>
                    </div>
                </div>

                <div class="features-item__wrapper" [ngClass]="{openTab: activeTab === 3}">
                    <div class="features-item">
                        <div class="features-item__top" (click)="toggleTab(3)">
                            <div class="features-item__icon"><img src="assets/images/icons/advantages/cashback.svg" alt=""></div>
                            <h4 class="features-item__title">Кэшбэк</h4>
                        </div>
                        <p class="features-item__text">
                            Процент от каждой успешной сделки, которая прошла без арбитража, будет начисляться на личный счет в сервисе.
                        </p>
                    </div>
                </div>

                <div class="features-item__wrapper" [ngClass]="{openTab: activeTab === 4}">
                    <div class="features-item">
                        <div class="features-item__top" (click)="toggleTab(4)">
                            <div class="features-item__icon"><img src="assets/images/icons/advantages/convenient-system.svg" alt=""></div>
                            <h4 class="features-item__title"> Удобная система</h4>
                        </div>
                        <p class="features-item__text">
                            Простой и комфортный интерфейс для мониторинга выполнения проекта, переписки, отправки файлов.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    <!-- </div> -->
</div>