<div class="wrapper" *ngIf="offerBrief">
    <section class="title">
        {{'chat.work_chat.deal-filter.brief' | translate}}
    </section>
    <section class="brief">
        <h3 class="title">
            <a href="/">{{'chat.work_chat.brief-filling.title' | translate}}</a>
        </h3>

        <form class="questions" [formGroup]="briefForm">
            <div class="question-item {{ briefItem.answer_type }}" *ngFor="let briefItem of offerBrief, let i = index">
                <label class="question-title">
          {{i+1}}. {{ briefItem.title }}. <span *ngIf="briefItem.answer_required === '1'" [ngClass]="{'required': briefForm.controls[briefItem.title].invalid && submitted  }" >(Поле обязательное до заполнения)
          </span>
        </label >
        <div class="answer {{ briefItem.answer_type }}"
          [ngClass]="{ 'check-box': briefItem.answer_type === 'radio' && briefItem.multi_answers === 1, 'radio-btns': briefItem.answer_type === 'radio' && briefItem.multi_answers === 0  }">

          <!--text Answer -->
          <textarea *ngIf="briefItem.answer_type === 'text'" name="answer" [required]="briefItem.answer_required === '1'" [formControlName]="briefItem.title" ></textarea>


          <!-- different types -->
          <fieldset *ngIf="briefItem.answer_type === 'radio'" id="radio-{{ i }}">
          <ul>
            <li *ngFor="let variant of briefItem.answers, let j = index">
              <input [ngClass]="briefItem.multi_answers === 0? 'radioButton ': 'tgl tgl-classic'"
              name="radio-{{ i }}" value="{{variant.answer }}" id="{{ i + '-' + j }}"
              [required]="briefItem.answer_required === '1'"
              (change)="onCheckChange($event, briefItem.title)"
              [type]="briefItem.multi_answers === 0? 'radio': 'checkbox'">

             <label for="{{i + '-' + j}}">{{ variant.answer }}</label>
                </li>
                </ul>
                </fieldset>

            </div>
</div>
<div class="btns">
    <button class="btn-sec" (click)="deleteBrief()">{{'general.decline' | translate}}</button>
    <button class="btn" (click)="sendBrief()">{{'general.send' | translate}}</button>
</div>
</form>
</section>

<div class="error-popup" *ngIf="exitFromBriefPopUpVisible">
    <span class="hide" (click)="returnToBrief()"></span>
    <div class="icon"></div>
    <div class="info">
        <p class="title">{{'chat.work_chat.brief-filling.info.title' | translate}}</p>
        <p class="description">{{'chat.work_chat.brief-filling.info.subtitle' | translate}}</p>
    </div>
    <div class="controls">
        <button class="exit-brief" (click)="confirmDeleteBrief()"> <span>{{'chat.work_chat.brief-filling.cancel' | translate}}</span></button>
        <button class="return-to-brief" (click)="returnToBrief()"> <span>{{'chat.work_chat.brief-filling.fill' | translate}}</span></button>
    </div>
</div>

</div>
