<div class="wrapper" *ngIf="offerBreef">
  <section class="title">
    Брииф
  </section>
  <section class="breef">
    <h3 class="title">
      <a href="/">Дизайн веб-сайтов с мобильным адаптивом</a>
    </h3>

    <form class="questions" [formGroup]="brefForm" >
      <div class="question-item {{ breefItem.breefAnswerType }}" *ngFor="let breefItem of offerBreef, let i = index"  >
        <p class="question-title">
          {{i+1}}. {{ breefItem.breefTitle }}.
        </p>
        <div class="answer {{ breefItem.breefAnswerType }}"
          [ngClass]="{ 'check-box': breefItem.breefAnswerType === 'radio' && breefItem.breefMultiAnswers === 1, 'radio-btns': breefItem.breefAnswerType === 'radio' && breefItem.breefMultiAnswers === 0  }">

          <!--text Answer -->
          <textarea *ngIf="breefItem.breefAnswerType === 'text'" name="answer" [formControlName]="breefItem.breefTitle" ></textarea>


          <!-- different types -->
          <ul *ngIf="breefItem.breefAnswerType === 'radio'">
            <li *ngFor="let variant of breefItem.breefAnswerVariants, let j = index">
              <input [ngClass]="breefItem.breefMultiAnswers === 0? 'radioButton ': 'tgl tgl-classic'"
              name="radio" value="{{variant.answerVariant }}" id="{{ i + '-' + j }}"
              (change)="onCheckChange($event, breefItem.breefTitle)"
              [type]="breefItem.breefMultiAnswers === 0? 'radio': 'checkbox'">

             <label for="{{i + '-' + j}}">{{ variant.answerVariant }}</label>
              </li>
            </ul>
        </div>
      </div>
      <div class="btns">
        <button class="btn-sec">отменить</button>
        <button class="btn" (click)="sendBreef()">отправить</button>
      </div>
    </form>
  </section>
</div>
