<app-main-header></app-main-header>
<app-categories-header></app-categories-header>
<p>subcategories-list works! Список всех подкатегорий из даной категории УРОВЕНЬ 2</p>
<div class="wrapper">
  <div class="sidebar">
    <ul>
        <li> <a [routerLink]="['/catalog', 'Design', 'Design-mobile'] | localize"> Design-mobile (на 3 уровень)</a> </li>
        <li> <a [routerLink]="['/catalog', 'Design', 'Design-web' ] | localize"> Design-web (на 3 уровень)</a> </li>
        <li> <a [routerLink]="['/catalog', 'Design', 'Design-UI'] | localize"> Design-UI (на 3 уровень)</a> </li>
    </ul>
  </div>

  <div class="subcategories-list">
    <div class="subcategory-full">
      <div class="subcategory-full-img"></div>
      <h2 class="subcategory-full-title"><a [routerLink]="['/catalog', 'Design', 'Design-mobile'] | localize"> Design-mobile (на 3 уровень)</a></h2>
    </div>
    <div class="subcategory-full">
      <div class="subcategory-full-img"></div>
      <h2 class="subcategory-full-title"><a [routerLink]="['/catalog', 'Design', 'Design-web' ] | localize"> Design-web (на 3 уровень)</a></h2>
    </div>
    <div class="subcategory-full">
      <div class="subcategory-full-img"></div>
      <h2 class="subcategory-full-title"><a [routerLink]="['/catalog', 'Design', 'Design-UI'] | localize"> Design-UI (на 3 уровень)</a></h2>
    </div>
  </div>
</div>
