.wrapper{
  display: flex;
}
.sidebar {
  width: 30%;
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
}
.subcategories-list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .subcategory-full {
    width: 43%;
    margin: 3%;
    border: 2px solid black;
    border-radius: 10px;
    &-img{
      height: 200px;
    }
    &-title{
      text-align: center;

    }
  }
}
