<section class="collocutor-wrap" *ngIf="collocutor">
  <div class=" line">
    <div class="collocutor-photo">
      <a [routerLink]="'/user/' + collocutorData.collocutorId | localize" >
      <img [src]=collocutor.avatar alt="collocutor-photo"></a>
        </div>
  </div>
  <div class="information">
      <a class="name" [routerLink]="'/user/' + collocutorData.collocutorId | localize" >
      <span>{{ collocutorData.collocutorName }}</span>&nbsp;<span> {{ collocutorData.collocutorSurname }}</span>
      </a>
    <div class="rating">
      <app-star-rating [currentRating]="collocutor.rating"></app-star-rating>
      <span>{{ collocutor.rating  }}</span> <span class="comments">({{ collocutorAllComments }} отзывов)</span>
    </div>
    <span class="line"></span>
    <div class="collocutor-main-info">
      <div>
        <span>Страна</span>
        <span>{{ collocutor.country  }}</span>
      </div>
      <div>
        <span>Среднее время ответа</span>
        <span>{{ collocutor.answerTime }} час</span>
      </div>
      <div>
        <span>Разговорный язык</span>
        <span>{{ collocutor.language }}</span>
      </div>
      <div>
        <span>Выполнено заказов</span>
        <span>{{ collocutor.endedWorks }}</span>
      </div>
      <div>
        <span>Арбитраж</span>
        <span>{{ collocutor.arbitration.all }}</span>
      </div>
    </div>
    <span class="line"></span>
    <div class="collocutor-about" [ngClass]="{open: isInformWrapped}">
      <p>
        {{ collocutor.description }}
    </p>
    </div>
    <button class="btn-third" [ngClass]="isInformWrapped? 'open': 'close'" (click)="showAllInfo()">{{ wrapButtonText }}</button>
  </div>
</section>
