<div class="inform_section">
  <div class="inform_section__title">
    <h3>Дополнительное Образование</h3>
  </div>
  <div class="inform_section__fields">
    <div class="field-block-multiple">

      <div class="single-additional-education-block">
        <div class="field-block">
          <h5 class="fields-title">Учебное заведение</h5>
          <input class="fields-value" type="text">
        </div>
        <div class="field-block">
          <h5 class="fields-title">Название курсов</h5>
          <input class="fields-value" type="text">
        </div>
      </div>

      <div class="studyPeriod">
        <div class="period-wrapper">
          <div class="field-block service-selects">
            <label class="block-title" for="startEducation">Начало
            </label>
            <mat-select name="startEducation" id="startEducation">
              <ng-container *ngFor="let startEducationMounth of mounth">
                <mat-option [value]="startEducationMounth">{{ startEducationMounth }}</mat-option>
              </ng-container>
            </mat-select>
          </div>
          <div class="field-block service-selects">
            <mat-select name="startEducation" id="startEducation">
              <ng-container *ngFor="let startEducationYear of createYearArray()">
                <mat-option [value]="startEducationYear">{{ startEducationYear }}</mat-option>
              </ng-container>
            </mat-select>
          </div>
        </div>

        <div class="period-wrapper">
          <div class="field-block service-selects">
            <label class="block-title" for="startEducation">Окончание
            </label>
            <mat-select name="startEducation" id="startEducation">
              <ng-container *ngFor="let startEducationMounth of mounth">
                <mat-option [value]="startEducationMounth">{{ startEducationMounth }}</mat-option>
              </ng-container>
            </mat-select>
          </div>
          <div class="field-block service-selects">
            <mat-select name="startEducation" id="startEducation">
              <ng-container *ngFor="let startEducationYear of createYearArray()">
                <mat-option [value]="startEducationYear">{{ startEducationYear }}</mat-option>
              </ng-container>
            </mat-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
