<div class="system-message {{ messageClass }}" *ngIf="systemMessage.message.name !== 'moneyGivedToCustomer' && systemMessage.message.name !== 'moneyGivedToFreelancer'">
  <div>
    <div class="icon">
      <img [src]="'/assets/images/icons/deals-icons/' + systemMessage.message.name + '.png'" alt="system-icon">
    </div>
    <div class="description">
      <!-- freelancer -->
      <ng-container *ngIf="isUserFreelancer">
        <h5>{{'chat.work_chat.system_messages.'+ systemMessage.message.name + 'TitleFreelancer'  | translate}} </h5>
        <p> {{'chat.work_chat.system_messages.' + systemMessage.message.name+ 'DescriptionFreelancer' | translate}}</p>
      </ng-container>

      <!-- dealer -->
      <ng-container *ngIf="!isUserFreelancer">
        <h5>{{'chat.work_chat.system_messages.'+ systemMessage.message.name + 'TitleDealer'  | translate}} </h5>
        <p>{{'chat.work_chat.system_messages.' + systemMessage.message.name+ 'DescriptionDealer' | translate}} </p>
      </ng-container>

      <div class="actions" [ngClass]="{ btwn: dealCencel }">

        <button class="btn-sec"  *ngIf="dealCencel && messageClass === 'deal-cencel'"  >Обратится в арбитраж</button>
        <button class="btn" *ngIf="dealCencel && messageClass === 'deal-cencel'" (click)="submitDealCancel()"  >Подтвердть отмену</button>
        <!-- Deal preFinish -->

        <button class="btn-sec"  *ngIf="!isUserFreelancer && dealCencel && messageClass === 'DealFinishedByFreelancer'" (click)="cancelFinishDeal()"  >вернуть к работе </button>
        <button class="btn" *ngIf="!isUserFreelancer && dealCencel && messageClass === 'DealFinishedByFreelancer'" (click)="submitFinishWork()"  > работа завершена</button>
      </div>
    </div>
  </div>

</div>


<!-- earlyСlosing -->
<div class="system-message arbitr-mess" 
*ngIf="systemMessage.message.name === 'moneyGivedToCustomer' || systemMessage.message.name === 'moneyGivedToFreelancer'">
  <div class="icon">
    <img [src]="'/assets/images/icons/deals-icons/arbitr-answer.png'" alt="system-icon">
  </div>
  
  <div> 
    
    <h5>Решение арбитража</h5>
    <div>
      <div>
        <p>
          Вынесен вердикт в пользу
        </p>
      </div>
      <div class="avatar"> <img [src]="systemMessage.message.vinnerAvatar" alt="ava"> </div>
      <div>
        <p>{{ systemMessage.message.vinnerName }} {{ systemMessage.message.vinnerSurname }}</p>
        <p>
          <ng-container *ngIf="systemMessage.message.name === 'moneyGivedToFreelancer'">Фрилансер</ng-container>
          <ng-container *ngIf="systemMessage.message.name === 'moneyGivedToCustomer'">Заказчик</ng-container>
        </p>
      </div>
  </div>
  <div class="description">
    <p>
      {{ systemMessage.message.arbitrMessage }}
    </p>
  </div>
</div>
</div>