<div class="system-message {{ messageClass }}" >
  <div>
    <div class="icon">
      <img [src]="'/assets/images/icons/deals-icons/' + systemMessage.message.name + '.png'" alt="system-icon">
    </div>
    <div class="description">
      <!-- freelancer -->
      <ng-container *ngIf="isUserFreelancer">
        <h5>{{'chat.work_chat.system_messages.'+ systemMessage.message.name + 'TitleFreelancer'  | translate}} </h5>
        <p> {{'chat.work_chat.system_messages.' + systemMessage.message.name+ 'DescriptionFreelancer' | translate}}</p>
      </ng-container>

      <!-- dealer -->
      <ng-container *ngIf="!isUserFreelancer">
        <h5>{{'chat.work_chat.system_messages.'+ systemMessage.message.name + 'TitleDealer'  | translate}} </h5>
        <p>{{'chat.work_chat.system_messages.' + systemMessage.message.name+ 'DescriptionDealer' | translate}} </p>
      </ng-container>

      <div class="actions" [ngClass]="{ btwn: dealCencel }">
        <button *ngIf="!isUserFreelancer && messageClass === 'breef' && collocutorData.moneyHolded !== 1" class="btn" (click)="holdMoneynDeal()">Зарезирвировать оплату</button>

        <button *ngIf="isUserFreelancer && messageClass === 'hold-money' && collocutorData.workStarted !==1" class="btn" (click)="goToWork()">уведометь о начале работы</button>

        <!-- deal canceling  -->

        <button class="btn-sec"  *ngIf="dealCencel && messageClass === 'deal-cencel'"  >Обратится в арбитраж</button>
        <button class="btn" *ngIf="dealCencel && messageClass === 'deal-cencel'" (click)="submitDealCancel()"  >Подтвердть отмену</button>
        <!-- Deal preFinish -->

        <button class="btn-sec"  *ngIf="!isUserFreelancer &&dealCencel && messageClass === 'DealFinishedByFreelancer'" (click)="cancelFinishDeal()"  >вернуть к работе </button>
        <button class="btn" *ngIf="!isUserFreelancer &&dealCencel && messageClass === 'DealFinishedByFreelancer'" (click)="submitFinishWork()"  > работа завершена</button>


      </div>
    </div>
  </div>

</div>


<!-- earlyСlosing -->
