.system-message {
  box-sizing: border-box;
  background: #f4f7fc;
  border-radius: 20px 20px 20px 20px;
  padding: 24px;
  min-width: 620px;
  display: flex;
  flex-direction: column;

  &>div:first-of-type {
    display: flex;
    flex-direction: row;
  }

  .icon {
    min-width: 56px;
    height: 56px;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .description {
    width: 100%;
  }

  h5 {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    padding: 0 0 8px;
    border-bottom: 1px solid;
  }

  p {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #323c47;
    opacity: 0.5;
    margin: 8px 0 0;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    &.btwn {
      justify-content: space-between;
    }

    button {
      margin-top: 20px;
      padding: 9px 20px;
    }
  }

  &.brief {
    h5 {
      color: #67b7d4;
      border-color: #9de5ff;
    }
  }

  &.hold-money {
    h5 {
      color: #919CDD;
      border-color: #D4DAFF;
    }
  }

  &.workStarted {
    h5 {
      color: #F1A153;
      border-color: #FFE8C9;
    }
  }

  &.deal-cancel {
    h5 {
      color: #FF9090;
      border-color: #FFDADA;
    }
  }

  &.DealFinishedByFreelancer {
    h5 {
      color: #FF9E67;
      border-color: #FFCFCF;
    }
  }

  &.DealFinishCanceled {
    h5 {
      color: #44C0F1;
      border-color: #44C0F1;
    }
  }

  &.DealFinished {
    h5 {
      color: #34C28D;
      border-color: #C4EAE0;
    }
  }

  &.arbiter {
    h5 {
      color: #DA8383;
      border-color: #FFCFCF;
    }
  }

  &.arbiter-mess {
    display: flex;
    flex-direction: row;

    &>div {
      &:last-of-type {
        width: 100%;
      }

      h5 {
        color: #FC573B;
        border-color: #F6D7D5;

        &+div {
          display: flex;
          margin-top: 20px;

          div {
            &:first-of-type {
              max-width: 130px;

              p {
                font-family: Source Sans Pro, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #323C47;
              }
            }

            &.avatar {
              width: 40px;
              height: 40px;
              margin: 0 20px 0 35px;
              position: relative;

              img {
                position: absolute;
                width: 40px;
                height: auto;
                max-height: 40px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }

              &+div {
                p {
                  &:first-of-type {
                    font-family: Source Sans Pro, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: #707683;
                  }

                  &:last-of-type {
                    font-family: Source Sans Pro, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #99ACB7;
                  }
                }
              }
            }
          }
        }
      }

      .description {
        margin-top: 20px;
        width: 100%;
        border-top: 1px solid #F6D7D5;

        p {
          padding: 6px 0 0;
          font-family: Source Sans Pro, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 27px;
          color: #707683;
        }
      }
    }
  }
}

@media (max-width: 1499px) {
  .system-message {
    padding: 14px 20px 14px 20px;
    min-width: 440px;
    width: auto;

    h5 {
      font-size: 16px;
      line-height: 20px;
      padding: 0 0 4px;
    }

    p {
      margin: 4px 0 0;
    }

    .icon {
      min-width: 50px;
      height: 50px;
      margin-right: 18px;
    }
  }
}
