<section class="early-viewed">
  <h4 class="section-title">
    Похожие услуги создания сайтов
  </h4>
  <div class="item-list" *ngIf="similarOffers">

      <div class="card" *ngFor="let offer of similarOffers">

        <div class="card-preview__bg">
          <img class="card-preview" [src]="offer.mainImage" (click)="openOffer(offer.id)">
        </div>
        <div class="card-description">

          <div class="card-description__top">
            <a class="card-description__ava" [routerLink]="['/user', offer.user.id] | localize"><img [src]="offer.user.avatar" alt="avatar"></a>
            <div>
              <a class="card-description__name" [routerLink]="['/user', offer.user.id] | localize">{{offer.user.name}} {{offer.user.surname}}</a>
              <div class="card-description__skill">{{offer.user.rank_id}}</div>
            </div>
          </div>
          <p class="card-description__about" (click)="openOffer(offer.id)">{{offer.title}}</p>
          <div class="card-description__bottom">
            <div class="card-description__level">{{offer.raiting}}</div>
            <div class="card-description__comments"><a>({{offer.comments_count}} отзывов)</a></div>
          </div>

        </div>
        <div class="card-bottom">
          <div class="card-bottom__like"></div>
          <div class="card-bottom__price">
            начиная от
            <span>{{offer.minPrice}}</span>
          </div>
        </div>

    </div>

  </div>
</section>
