<div class="registration-bl">
    <div class="nav-menu">
        <app-main-header [pageName]="'authoriz'"></app-main-header>
    </div>
    <div class="container">
        <div class="column">
            <h2>{{'auth-page.reset-pass-title' | translate}}</h2>

            <form #form="ngForm" [formGroup]="registrationForm" (ngSubmit)="registrate()">
                <mat-form-field>
                    <mat-label>{{'auth-page.password-field.title' | translate}}</mat-label>
                    <input matInput type="password" [type]="hideF ? 'password' : 'text'" formControlName="password" required />
                    <div class="pass-erorrs">
                        <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasNumber') ? 'unvalidated': 'validated'"></span>
                        <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasCapitalCase') ? 'unvalidated': 'validated'"></span>
                        <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasSmallCase') ? 'unvalidated': 'validated'"></span>
                        <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasSpecialCharacters') ? 'unvalidated': 'validated'"></span>
                        <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('minLengthCharacters') ? 'unvalidated': 'validated'"></span>
                        <ul class="description">

                            <li *ngIf=" registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasNumber')">
                                {{'auth-page.password-field.numbers-required' | translate}}
                            </li>
                            <li *ngIf=" registrationForm.controls['password'].hasError('required') ||registrationForm.controls['password'].hasError('hasSmallCase')">
                                {{'auth-page.password-field.small-case' | translate}}</li>
                            <li *ngIf=" registrationForm.controls['password'].hasError('required') ||registrationForm.controls['password'].hasError('hasCapitalCase')">
                                {{'auth-page.password-field.uppercase' | translate}}</li>
                            <li *ngIf=" registrationForm.controls['password'].hasError('required') ||registrationForm.controls['password'].hasError('hasSpecialCharacters')">
                                {{'auth-page.password-field.specific-simbols' | translate}}</li>
                            <li *ngIf=" registrationForm.controls['password'].hasError('required') ||registrationForm.controls['password'].hasError('minLengthCharacters')">
                                {{'auth-page.password-field.min-length' | translate}}
                            </li>
                        </ul>
                    </div>
                    <button class="pass" mat-icon-button matSuffix (click)="hideF = !hideF" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideF" [style.color]="hideF ? '#DBDBDB': '#000'">
            <mat-icon>{{hideF ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                    <mat-error *ngIf="registrationForm.get('password').hasError('required')">{{'auth-page.login.put-password' | translate}}</mat-error>
                    <mat-error *ngIf="registrationForm.get('password').invalid && !registrationForm.get('password').hasError('required')">
                        {{'auth-page.registr.week-password' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'auth-page.registr.repeat-password' | translate}}</mat-label>
                    <input matInput type="password" [type]="hideS ? 'password' : 'text'" formControlName="password_confirmation" required />
                    <button class="pass" mat-icon-button matSuffix (click)="hideS = !hideS" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideS" [style.color]="hideS ? '#DBDBDB': '#000'">
            <mat-icon>{{hideS ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                    <mat-error *ngIf="registrationForm.get('password_confirmation').hasError('required')">{{'auth-page.login.put-password' | translate}}
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('password_confirmation').hasError('NoPassswordMatch')">
                        {{'auth-page.registr.different-pass' | translate}}
                    </mat-error>
                </mat-form-field>
                <section class="submit">
                    <button mat-button type="submit" mat-raised-button>
                      {{'general.save' | translate}}
          </button>
                </section>
            </form>
        </div>
    </div>
</div>
<app-inform-popup *ngIf="message" [(message)]="message"></app-inform-popup>