<div class="registration-bl">
  <div class="container">
    <div class="row">
      <h2>Регистрация</h2>
      <p class="text">Добро пожаловать на лучшую платформу фриланса Whocan!</p>
      <form #form="ngForm" [formGroup]="registrationForm" (ngSubmit)="registrate(form)">
        <mat-form-field>
            <mat-label>Email</mat-label>
          <input matInput type="email"formControlName="email" required />
          <mat-error *ngIf="registrationForm.get('email').hasError('required')">{{ "erorr" }}</mat-error>
          <mat-error *ngIf="registrationForm.get('email').hasError('email')">{{
            "not email"
          }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Введите пароль</mat-label>
            <input matInput type="password" formControlName="password" required />
            <div class="pass-erorrs">
              <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasNumber') ? 'unvalidated': 'validated'"></span>
              <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasCapitalCase') ? 'unvalidated': 'validated'"
              ></span>
              <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasSmallCase') ? 'unvalidated': 'validated'"></span>
              <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasSpecialCharacters') ? 'unvalidated': 'validated'"></span>
              <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasSpecialCharacters') ? 'unvalidated': 'validated'"></span>
            </div>
            <button class="pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideF" [style.color]="hideF ? '#DBDBDB': '#000'">
            <mat-icon>{{hideF ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            <mat-error *ngIf="registrationForm.get('password').hasError('required')">{{ "erorr" }}</mat-error>
            <!-- <mat-error *ngIf="registrationForm.get('password').hasError('email')">{{
              "not email"
            }}</mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <mat-label>Повторно введите пароль</mat-label>
            <input matInput type="password" formControlName="password_confirmation" required />
            <button class="pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideS" [style.color]="hideS ? '#DBDBDB': '#000'">
            <mat-icon>{{hideS ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            <mat-error *ngIf="registrationForm.get('password_confirmation').hasError('required')">{{ "erorr" }}</mat-error>
            <!-- <mat-error *ngIf="registrationForm.get('password_confirmation').hasError('email')">{{
              "not email"
            }}</mat-error> -->
            <mat-error *ngIf="registrationForm.get('password_confirmation').hasError('NoPassswordMatch')">{{ 'nooo' }}</mat-error>
        </mat-form-field>
        <section>
            <mat-checkbox required  class="policy" formControlName="agreed">Я согласен(а) с <span>Политикой конфиденциальности</span></mat-checkbox>
        </section>
        <section class="social-login">
            <button>Google</button>
        </section>
        <section  class="submit">

            <button  mat-button  type="submit" mat-raised-button>
                Войти
            </button>


          </section >
      </form>
    </div>
  </div>
</div>
<app-inform-popup *ngIf="message" [(message)] ="message"></app-inform-popup>
