<div class="registration-bl">
  <div class="container">
    <div class="row">
      <h2>Регистрация</h2>
      <p class="text">Добро пожаловать на лучшую платформу фриланса Whocan!</p>
      <form #form="ngForm" [formGroup]="registrationForm" (ngSubmit)="registrate()">
        <mat-form-field>
            <mat-label>Email</mat-label>
          <input matInput type="email"formControlName="email" required />
          <mat-error *ngIf="registrationForm.get('email').hasError('required')">{{ "Введите Email" }}</mat-error>
          <mat-error *ngIf="registrationForm.get('email').hasError('email')">{{
            "Некорректный email"
          }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Введите пароль</mat-label>
            <input matInput type="password" [type]="hideF ? 'password' : 'text'" formControlName="password" required />
            <div class="pass-erorrs">
              <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasNumber') ? 'unvalidated': 'validated'"></span>
              <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasCapitalCase') ? 'unvalidated': 'validated'"></span>
              <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasSmallCase') ? 'unvalidated': 'validated'"></span>
              <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('hasSpecialCharacters') ? 'unvalidated': 'validated'"></span>
              <span [ngClass]="registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('minLengthCharacters') ? 'unvalidated': 'validated'"></span>
              <ul class="description" *ngIf="registrationForm.controls['password'].invalid">

                <li *ngIf="registrationForm.controls['password'].hasError('hasNumber')">Должна быть минимум одна цифра</li>
                <li *ngIf="registrationForm.controls['password'].hasError('hasSmallCase')">Должна быть минимум одна маленькая буква a-z</li>
                <li *ngIf="registrationForm.controls['password'].hasError('hasCapitalCase')">Должна быть минимум одна большая буква A-Z</li>
                <li *ngIf="registrationForm.controls['password'].hasError('hasSpecialCharacters')">Должна быть минимум один спец символ</li>
                <li *ngIf="registrationForm.controls['password'].hasError('minLengthCharacters')">Пароль не меньше 8 символов</li>
              </ul>
            </div>
            <button class="pass" mat-icon-button matSuffix (click)="hideF = !hideF" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideF" [style.color]="hideF ? '#DBDBDB': '#000'">
            <mat-icon>{{hideF ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            <mat-error *ngIf="registrationForm.get('password').hasError('required')">{{ "Введите пароль" }}</mat-error>
            <mat-error *ngIf="registrationForm.get('password').invalid && !registrationForm.get('password').hasError('required')">{{'Слабый пароль'
            }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Повторно введите пароль</mat-label>
            <input matInput type="password" [type]="hideS ? 'password' : 'text'" formControlName="password_confirmation" required />
            <button class="pass" mat-icon-button matSuffix (click)="hideS = !hideS" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideS" [style.color]="hideS ? '#DBDBDB': '#000'">
            <mat-icon>{{hideS ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            <mat-error *ngIf="registrationForm.get('password_confirmation').hasError('required')">{{ "Введите пароль" }}</mat-error>
            <mat-error *ngIf="registrationForm.get('password_confirmation').hasError('NoPassswordMatch')">{{
              "Пароли не совпадают"
            }}</mat-error>
        </mat-form-field>
        <section>
            <mat-checkbox class="controls" required  class="policy" formControlName="agreed">Я согласен(а) с <span>Политикой конфиденциальности</span></mat-checkbox>
        </section>
        <section  class="submit">
            <button [style.background-color]="!registrationForm.valid? 'gray': '#3c7eea'" mat-button [disabled]="registrationForm.invalid"  type="submit" mat-raised-button>
                Зарегистрироваться
            </button>
        </section >
      </form>
      <section class="social-login">
        <span>или  зарегистрироваться с помощью </span>
          <div class="social">
            <button class="fb"></button><button class="gl"></button><button class="lin"></button>
          </div>
      </section>
    </div>
  </div>
</div>
<app-inform-popup *ngIf="message" [(message)] ="message"></app-inform-popup>
