// .registration-bl {
//   // margin-top: 260px;
// }

h2 {
  color: #000000;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  color: #585858;
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.form-control:focus {
  border: none;
  box-shadow: none;
  background-color: #f5f6fa;
}

input {
  height: 44px;
  border-radius: 5px;
  background-color: #f5f6fa;
  border: none;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;

  &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #99ACB7;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
  }

  &::-moz-placeholder {
      /* Firefox 19+ */
      color: #99ACB7;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
  }

  &:-ms-input-placeholder {
      /* IE 10+ */
      color: #99ACB7;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
  }

  &:-moz-placeholder {
      /* Firefox 18- */
      color: #99ACB7;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
  }
}

.policy {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #99ACB7;

  span {
    text-decoration-line: underline;

  }
}

.show-pass {
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 17px;
  font-size: 25px;
}

.social-login {
  margin: 50px 0 36px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;

  span {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #707683;
    margin-bottom: 30px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      width: 79px;
      height: 1px;
      background: #707683;
      left: -92px;
      top: 52%;
      transform:   translateY(-50%)  ;
      -webkit-transform:   translateY(-50%)  ;
      -moz-transform:   translateY(-50%)  ;
      -ms-transform:   translateY(-50%)  ;
      -o-transform:   translateY(-50%)  ;
}
    &:after {
      position: absolute;
      content: '';
      width: 79px;
      height: 1px;
      background: #707683;
      top: 52%;
      transform:   translateY(-50%)  ;
      -webkit-transform:   translateY(-50%)  ;
      -moz-transform:   translateY(-50%)  ;
      -ms-transform:   translateY(-50%)  ;
      -o-transform:   translateY(-50%)  ;
      right: -92px;
    }
  }

  .social {
    display: flex;
    justify-content: center;
  }
}

.submit {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  margin: 24px auto 0;

  button {
    padding: 13px 73px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    // background: #3C7EEA;
    // box-shadow: 0px 10px 20px rgba(80, 123, 252, 0.5);
    border-radius: 8px;
    font-family: "Source Sans Pro", sans-serif;
  }

}

@media (max-width: 1499px) {
  .social-login{
    display: none;
  }
  h2{
    margin: 0 auto;
  }
}
