<!-- <ul *ngIf="categoriesList !== null"> -->
<div class="categories-list" *ngIf="categoriesList" [ngClass]="{no_hover: noHover === true}">
  <div class="wrapper">
    <ul class="category-wrapper" *ngFor="let category of categoriesList.category" >
      <h3 class="category-name" >
        <a class="category" [routerLink]="['/catalog', category.link] | localize" >{{category.name}}</a>
      </h3>
      <div class="subcategories-list">
        <ul class="subcategory-group" *ngFor="let group of category.groups;">

          <h4 class="sub_category-group__name">{{group}}</h4>
          <div *ngFor="let sub_category of category.sub_categories">
            <a class="subcategory" [routerLink]="['/catalog', category.link, sub_category.link] | localize"
              *ngIf="group === sub_category.group">
              {{sub_category.name}}
            </a>
          </div>

        </ul>
      </div>

    </ul>
  </div>

</div>
