<form [formGroup]="passForm" (ngSubmit)="updatePass(passForm)" class="form-change-password">
  <div class="inform_section__title">
    <h3>{{'user-settings.change-password-title' | translate}}</h3>
  </div>
  <div class="inform_section__fields">
    <div class="inputs-wrapper">

      <div class="fields">
        <div class="field-wrapper">
          <h5 class="fields-title">{{'user-settings.old-password' | translate}}</h5>
          <input class="fields-value" type="password" formControlName='oldPassword' maxlength="50" (ngModelChange)='resetValidation()'>
          <div class="error-message" *ngIf="submitedPassForm && !changePasswordResult && passForm.controls.oldPassword.value" >
            {{'user-settings.alert-oldpass-incorrect' | translate}}
          </div>
          <div class="error-message" *ngIf="submitedPassForm  && !passForm.controls.oldPassword.value">
            {{'user-settings.alert-required' | translate}}
          </div>
        </div>
      </div>

      <form formGroupName="passwords" class="form-change-password-confirm">

        <div class="fields">
          <h5 class="fields-title">{{'user-settings.new-password' | translate}}</h5>
          <input class="fields-value new-passrord" type="password" placeholder="" formControlName="newPassword" required>
          <div class="pass-erorrs">
            <span
              [ngClass]="passForm.get('passwords.newPassword').hasError('required') || passForm.get('passwords.newPassword').hasError('hasNumber') ? 'unvalidated': 'validated'"></span>
            <span
              [ngClass]="passForm.get('passwords.newPassword').hasError('required') || passForm.get('passwords.newPassword').hasError('hasCapitalCase') ? 'unvalidated': 'validated'"></span>
            <span
              [ngClass]="passForm.get('passwords.newPassword').hasError('required') || passForm.get('passwords.newPassword').hasError('hasSmallCase') ? 'unvalidated': 'validated'"></span>
            <span
              [ngClass]="passForm.get('passwords.newPassword').hasError('required') || passForm.get('passwords.newPassword').hasError('hasSpecialCharacters') ? 'unvalidated': 'validated'"></span>
            <span
              [ngClass]="passForm.get('passwords.newPassword').hasError('required') || passForm.get('passwords.newPassword').hasError('minLengthCharacters') ? 'unvalidated': 'validated'"></span>
            <ul class="description" *ngIf="passForm.get('passwords.newPassword').invalid">
              <li *ngIf="passForm.get('passwords.newPassword').hasError('hasNumber')">{{'auth-page.password-field.numbers-required' | translate}}</li>
              <li *ngIf="passForm.get('passwords.newPassword').hasError('hasSmallCase')">{{'auth-page.password-field.small-case' | translate}}</li>
              <li *ngIf="passForm.get('passwords.newPassword').hasError('hasCapitalCase')">{{'auth-page.password-field.uppercase' | translate}}</li>
              <li *ngIf="passForm.get('passwords.newPassword').hasError('hasSpecialCharacters')">{{'auth-page.password-field.specific-simbols' | translate}}</li>
              <li *ngIf="passForm.get('passwords.newPassword').hasError('minLengthCharacters')">{{'auth-page.password-field.min-length' | translate}}</li>
            </ul>
          </div>
          <div class="error-message" *ngIf="submitedPassForm && !passForm.get('passwords.newPassword').value">
            {{'user-settings.alert-required' | translate}}
          </div>
        </div>

        <div class="fields">
          <h5 class="fields-title">{{'user-settings.repeat-new-password' | translate}}</h5>
          <input class="fields-value" type="password" placeholder="" formControlName="newPassword_confirmation">
          <div class="error-message" *ngIf="passForm.hasError('notSame', 'passwords')">
            {{'user-settings.repeat-new-password' | translate}}
          </div>
          <div class="error-message" *ngIf="submitedPassForm && !passForm.get('passwords.newPassword_confirmation').value && !passForm.hasError('notSame', 'passwords')">
            {{'user-settings.alert-required' | translate}}
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="form-butons">
    <button class="save-all" type="submit">{{'user-settings.save-changes' | translate}}</button>
  </div>
</form>


<div class="done-message" *ngIf="changePasswordResult">
  <div class="done-message__info-block">
      <div class="done-message__icon"><img src="/assets/images/svg/done.svg" alt=""></div>
      <div class="done-message__text">
          <p class="accent">{{'user-settings.done-message' | translate}}</p>
      </div>
      <div class="btns-wrapper">
      </div>
      <div class="done-message__close" (click)="toglePopUp()"></div>
  </div>
</div>