<form [formGroup]="passForm" (ngSubmit)="updatePass(passForm)" class="form-change-password">
  <div class="inform_section__title">
    <h3>Смена пароля</h3>
  </div>
  <div class="inform_section__fields">
    <div class="inputs-wrapper">

      <div class="fields">
        <div class="field-wrapper">
          <h5 class="fields-title">Старый пароль</h5>
          <input class="fields-value" type="password" formControlName='oldPassword' maxlength="50">
          <div class="succes-message" *ngIf="submitedPassForm && changePasswordResult" >
            Пароль изменен
          </div>
          <div class="error-message" *ngIf="submitedPassForm && !changePasswordResult && passForm.controls.oldPassword.value" >
            Старый пароль введен неверно
          </div>
          <div class="error-message" *ngIf="submitedPassForm  && !passForm.controls.oldPassword.value">
            Это обязательное поле
          </div>
        </div>
      </div>

      <form formGroupName="passwords" class="form-change-password-confirm">

        <div class="fields">
          <h5 class="fields-title">Новый пароль (если необходимо изменить)</h5>
          <input class="fields-value new-passrord" type="password" placeholder="" formControlName="newPassword" required>
          <div class="pass-erorrs">
            <span
              [ngClass]="passForm.get('passwords.newPassword').hasError('required') || passForm.get('passwords.newPassword').hasError('hasNumber') ? 'unvalidated': 'validated'"></span>
            <span
              [ngClass]="passForm.get('passwords.newPassword').hasError('required') || passForm.get('passwords.newPassword').hasError('hasCapitalCase') ? 'unvalidated': 'validated'"></span>
            <span
              [ngClass]="passForm.get('passwords.newPassword').hasError('required') || passForm.get('passwords.newPassword').hasError('hasSmallCase') ? 'unvalidated': 'validated'"></span>
            <span
              [ngClass]="passForm.get('passwords.newPassword').hasError('required') || passForm.get('passwords.newPassword').hasError('hasSpecialCharacters') ? 'unvalidated': 'validated'"></span>
            <span
              [ngClass]="passForm.get('passwords.newPassword').hasError('required') || passForm.get('passwords.newPassword').hasError('minLengthCharacters') ? 'unvalidated': 'validated'"></span>
            <ul class="description" *ngIf="passForm.get('passwords.newPassword').invalid">
              <li *ngIf="passForm.get('passwords.newPassword').hasError('hasNumber')">Должна быть минимум одна цифра
              </li>
              <li *ngIf="passForm.get('passwords.newPassword').hasError('hasSmallCase')">Должна быть минимум одна
                маленькая буква a-z</li>
              <li *ngIf="passForm.get('passwords.newPassword').hasError('hasCapitalCase')">Должна быть минимум одна
                большая буква A-Z</li>
              <li *ngIf="passForm.get('passwords.newPassword').hasError('hasSpecialCharacters')">Должна быть минимум
                один спец символ</li>
              <li *ngIf="passForm.get('passwords.newPassword').hasError('minLengthCharacters')">Пароль не меньше 8
                символов</li>
            </ul>
          </div>
          <div class="error-message" *ngIf="submitedPassForm && !passForm.get('passwords.newPassword').value">
            Это обязательное поле
          </div>
        </div>

        <div class="fields">
          <h5 class="fields-title">Повторите новый пароль</h5>
          <input class="fields-value" type="password" placeholder="" formControlName="newPassword_confirmation">
          <div class="error-message" *ngIf="passForm.hasError('notSame', 'passwords')">
            Новый пароль не совпадает
          </div>
          <div class="error-message" *ngIf="submitedPassForm && !passForm.get('passwords.newPassword_confirmation').value && !passForm.hasError('notSame', 'passwords')">
            Это обязательное поле
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="form-butons">
    <button class="save-all" type="submit">сохранить изменения</button>
  </div>
</form>
