.wrapper {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  &.projects .collocutors-wrap {
    padding: 0;
  }
}

.collocutors-wrap {
  font-family: Source Sans Pro, sans-serif;
  // padding: 20px 0 0 20px;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;


.collocutors-serch {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  height: 70px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  div {
    width: 100%;
    padding-left: 32px;
    border-bottom: 1px solid #c2cfe0;
    margin: 20px;
  }
  input {
    border: none;
    width: 100%;
    padding-bottom: 7px;
    // padding-left: 40px;
    outline: none;
  }

}

.collocutors-list {
  height: 100%;
  overflow: auto;
  // padding-right: 20px;
  // margin-top: 50px;
    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: none;
      border-radius: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background: #649AF3;
    }

}
.collocutor {
  box-sizing: border-box;
  padding: 20px 20px 40px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  padding: 20px 20px 40px;
  // &:hover {
  //   background: #F6F7FF;
  //   border: 1px solid #F4F7FC;
  //   box-sizing: border-box;
  //   border-radius: 4px;
  // }
  &.unread {
    .collocutor-name {
      color: #323C47;
    }
    .collocutor-message {
        color: #323C47;
    }
  }
  &:hover {
    background: #F6F7FF;
  }
}

  .date {
    text-align: right;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #707683;
    padding: 0;
    margin: 0;
  }
  .message-preview {
    display: flex;
    flex-direction: row;

    .message-information {
      width: inherit;
      overflow: hidden;
      }

    p{
      margin: 0;
      padding: 0;
    }
    .photo {
      margin-right: 20px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    .collocutor-name {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #707683;
    }
    .collocutor-message {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #707683;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }


.collocutors-list.projects {
  // margin-top: 0;
  // padding-right: 10px;
  margin-top: 20px;
  .collocutor {
    border-radius: 4px;
    border: 1px solid #f4f7fc;
    margin-bottom: 3px;
    padding: 14px 15px 22px 21px;
    position: relative;
    .status {
      height: 100%;
      width: 3px;
      position: absolute;
      left: 0;
      top: 0;
      background: #7DDFC3;
      box-shadow: -10px 9px 21px rgba(128, 152, 213, 0.15);
      border-radius: 4px;
    }
  }
}

}


