<div class="step-wrapper">
  <form #form="ngForm">
    <div class="form-title">
      <h3>3. Пакеты услуг и цены</h3>
      <div class="pckg-swap">
        <input class="tgl tgl-swp" id="cb2" type="checkbox" name="change-pack-val" [(ngModel)]="userService.allPackages"/>
        <label class="tgl-btn" for="cb2"></label>
        <span>3 пакета</span>
      </div>
    </div>

    <!-------------------- main options -------------------->
    <div class="offer-packages">

      <!-------------------- block hiden 2 pack -------------------->
      <div class="show-all-pack" *ngIf="userService.allPackages !== true">
        <h4>Оформите услуги в трёх ценовых вариантах</h4>
        <p>
          Расширьте свои возможности
        </p>
        <button class="btn" (click)="openAllPackages()">открыть</button>
      </div>

      <!-------------------- packages-name -------------------->
      <div class="package-name line">
        <div>

        </div>
        <div>
          <h6>
            Базовый
          </h6>
        </div>
        <div>
          <h6>
            Стандарт
          </h6>
        </div>
        <div>
          <h6>
            Премиум
          </h6>
        </div>
      </div>
      <!--------------------packages-title -------------------->
      <div class="packages-titles line">
        <div class="packages-title title">
          <p>Название услуги</p>

        </div>
        <div class="packages-title">
          <div class="textarea">
            <textarea [(ngModel)]="userService.packagesTitle.basicTitle" name="basicTitle" rows="2"
              maxlength="35"></textarea>
          </div>

        </div>
        <div class="packages-title">
          <div class="textarea">
            <textarea name="advancedTitle" [(ngModel)]="userService.packagesTitle.advancedTitle"
              [required]="userService.allPackages" rows="2" maxlength="35"></textarea>
          </div>

        </div>
        <div class="packages-title">
          <div class="textarea">
            <textarea name=" premiumTitle" id="" [(ngModel)]="userService.packagesTitle.premiumTitle"
              [required]="userService.allPackages" rows="2" maxlength="35"></textarea>
          </div>

        </div>
      </div>
      <!-------------------- Descriptions -------------------->
      <div class="packages-description line">
        <div class="description-title">
          <p>
            Краткое описание
          </p>
        </div>
        <div class="textarea-wrap">
          <div class="textarea">
            <textarea name="basicDescription" id="" [(ngModel)]="userService.packagesDescriptions.basicDescription"
              maxlength="270"></textarea>
          </div>

        </div>
        <div class="textarea-wrap">
          <div class="textarea">
            <textarea name="advancedDescription" id=""
              [(ngModel)]="userService.packagesDescriptions.advancedDescription" [required]="userService.allPackages"
              maxlength="270"></textarea>
          </div>

        </div>
        <div class="textarea-wrap">
          <div class="textarea">
            <textarea name="premiumDescription" id="" [(ngModel)]="userService.packagesDescriptions.premiumDescription"
              [required]="userService.allPackages" maxlength="270"></textarea>
          </div>

        </div>
      </div>
      <!--------------------Time to Do -------------------->
      <div class="package-deadlines line">
        <div class="deadline-title title">
          <p>
            Сроки (дней)
          </p>
        </div>
        <div>
          <div class="input-wrap">
            <input name="basicTerm" type="text" knifeOnlyNumbers maxlength="3"
              [(ngModel)]="userService.packagesTerms.basicTerm">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input name="advancedTerm" type="text" knifeOnlyNumbers maxlength="3" [required]="userService.allPackages"
              [(ngModel)]="userService.packagesTerms.advancedTerm">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input name="premiumTerm" type="text" knifeOnlyNumbers maxlength="3"
              [(ngModel)]="userService.packagesTerms.premiumTerm" [required]="userService.allPackages">
          </div>

        </div>
      </div>

      <!-------------------- packages changes -------------------->
      <div class="packages-changes line">
        <div class="packages-change title">
          <p>Кол-во правок</p>
        </div>
        <div>
          <div class="select-wrap">
            <mat-select [(ngModel)]="userService.packagesChanges.basicChange" name="basicChange">
              <mat-option *ngFor="let change of changesArrayCounter(); let i = index" [value]="change">
                {{ change }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div>
          <div class="select-wrap">
            <mat-select [required]="userService.allPackages" [(ngModel)]="userService.packagesChanges.advancedChange"
              name="advancedChange">
              <mat-option *ngFor="let change of changesArrayCounter(); let i = index" [value]="change">
                {{ change }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div>
          <div class="select-wrap">
            <mat-select [required]="userService.allPackages" [(ngModel)]="userService.packagesChanges.premiumChange"
              name="premiumChange">
              <mat-option *ngFor="let change of changesArrayCounter(); let i = index" [value]="change">
                {{ change }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <!--------------------package price -------------------->
      <div class="package-deadlines line">
        <div class="deadline-title title">
          <p>
            Цена
          </p>
        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="7" [(ngModel)]="userService.packagesPrices.basicPrice"
              name="basicPrice">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers [(ngModel)]="userService.packagesPrices.advancedPrice"
              [required]="userService.allPackages" name="advancedPrice">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers [(ngModel)]="userService.packagesPrices.premiumPrice"
              [required]="userService.allPackages" name="premiumPrice">
          </div>

        </div>
      </div>
      <!--------------------add options -------------------->
      <div class="package-options ">
        <div class="added-option line" *ngFor="let arrayItem of userService.main_options; let i = index">
          <div class="option-title">
            <div class="input-wrap">
              <input type="text" [(ngModel)]="userService.main_options[i].title" name="main-option-title"
                placeholder="Название опции" maxlength="15">
            </div>
            <i class="material-icons delete-pack" (click)="deleteMainOption(i)">delete</i>
            <!-- <span >delete</span> -->
          </div>
          <div class="checkbox-wrap">
            <input class="tgl tgl-classic" id="basic_{{ i }}" type="checkbox" name="main-option-basic"
              [(ngModel)]="userService.main_options[i].basic">
            <label for="basic_{{ i }}"></label>
          </div>
          <div class="checkbox-wrap">
            <input class="tgl tgl-classic" id="standart_{{ i }}" type="checkbox" name="main-option-advanced"
              [(ngModel)]="userService.main_options[i].advanced">
            <label for="standart_{{ i }}"></label>
          </div>
          <div class="checkbox-wrap">
            <input class="tgl tgl-classic" id="premium_{{ i }}" type="checkbox" name="main-option-premium"
              [(ngModel)]="userService.main_options[i].premium">
            <label for="premium_{{ i }}"></label>
          </div>
        </div>
        <div class="add-option " *ngIf=" !userService.main_options || userService.main_options.length < 10">

          <button class="add btn-tetraty" (click)="addMainOptin()">
            <i class="material-icons">
              add_circle_outline
            </i>
            <span>Добавить опцию</span>
          </button>
        </div>
      </div>
    </div>
    <!-------------------- Extra Options -------------------->
    <div class="extra-packages-wrap">

      <app-third-step-extra-options *ngIf="userService" [userService]="userService"></app-third-step-extra-options>


    </div>

    <div class="form-butons">
      <button class="back">сохранить и выйти</button>
      <button class="save" (click)="saveStep()">сохранить и продолжить</button>
    </div>
  </form>
</div>
