<div class="step-wrapper">
  <form #form="ngForm" (ngSubmit)="nextStep(form)">
    <div class="form-title">
      <h3>3. Пакеты услуг и цены</h3>
      <div class="pckg-swap">
        <input class="tgl tgl-swp" id="cb2" type="checkbox" name="change-pack-val" [(ngModel)]="userService.allPackages" />
        <label class="tgl-btn" for="cb2"></label>
        <span>3 пакета</span>
      </div>
    </div>

    <!-------------------- main options -------------------->
    <div class="offer-packages">

      <!-------------------- block hiden 2 pack -------------------->
      <div class="show-all-pack" *ngIf="userService.allPackages !== true">
        <h4>Оформите услуги в трёх ценовых вариантах</h4>
        <p>
          Расширьте свои возможности
        </p>
        <button class="btn" (click)="openAllPackages()">открыть</button>
      </div>

      <!-------------------- packages-name -------------------->
      <div class="package-name line">
        <div>

        </div>
        <div>
          <h6>
            Базовый
          </h6>
        </div>
        <div>
          <h6>
            Стандарт
          </h6>
        </div>
        <div>
          <h6>
            Премиум
          </h6>
        </div>
      </div>
      <!--------------------packages-title -------------------->
      <div class="packages-titles line">
        <div class="packages-title title">
          <p>Название услуги</p>

        </div>
        <div class="packages-title" *ngFor="let package of packagesTypes; index as x" [ngClass]="{ 'field-required': title.invalid && submited }">
          <div class="textarea">
            <textarea [(ngModel)]="userService.packagesTitle[package +'Title']"
            name="title_{{ package }}" rows="2" [maxlength]="35" #title="ngModel"
            [required]="(x == '0' && !userService.allPackages) || (userService.allPackages ) && submited"></textarea>
          </div>
        </div>

      </div>
      <!-------------------- Descriptions -------------------->
      <div class="packages-description line">
        <div class="description-title">
          <p>
            Краткое описание
          </p>
        </div>
        <div class="textarea-wrap" *ngFor="let package of packagesTypes; let x = index">
          <textarea name="{{package + 'Description'}}" id=""
          [(ngModel)]="userService.packagesDescriptions[package + 'Description']"
           [maxlength]="270" [required]="(x == '0' && !userService.allPackages) || (userService.allPackages )"></textarea>
        </div>
      </div>
      <!--------------------Time to Do -------------------->
      <div class="package-deadlines line">
        <div class="deadline-title title">
          <p>
            Сроки (дней)
          </p>
        </div>

        <div *ngFor="let package of packagesTypes; let x = index">
          <div class="input-wrap">
            <input name="{{package + 'Term'}}" type="text" knifeOnlyNumbers
            maxlength="3" [(ngModel)]="userService.packagesTerms[package + 'Term']"
            [required]="(x == '0' && !userService.allPackages) || (userService.allPackages )">
          </div>
        </div>
      </div>

      <!-------------------- packages changes -------------------->
      <div class="packages-changes line">
        <div class="packages-change title">
          <p>Кол-во правок</p>
        </div>

        <div *ngFor="let package of packagesTypes; let x = index">
          <div class="select-wrap">
            <mat-select [(ngModel)]="userService.packagesChanges[package + 'Changes']"
            name="{{package + 'Changes'}}"
            [required]="(x == '0' && !userService.allPackages) || (userService.allPackages )">
              <mat-option *ngFor="let change of changesArrayCounter(); let i = index" [value]="change">
                {{ change }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <!--------------------package price -------------------->
      <div class="package-deadlines line">
        <div class="deadline-title title">
          <p>
            Цена
          </p>
        </div>

        <div *ngFor="let package of packagesTypes; let x = index">
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="7"
            [required]="(x == '0' && !userService.allPackages) || (userService.allPackages )"
            [(ngModel)]="userService.packagesPrices[package + 'Price']" name="{{package + 'Price'}}">
          </div>
        </div>
      </div>
      <!--------------------add options -------------------->
      <form #f="ngForm" class="package-options">
        <div class="added-option line" *ngFor="let arrayItem of userService.main_options; let i = index">
          <div class="option-title">
            <div class="input-wrap">
              <input type="text" [(ngModel)]="userService.main_options[i].title" required name="main_option_title_{{i}}" placeholder="Название опции" maxlength="15">
            </div>
            <i class="material-icons delete-pack" (click)="deleteMainOption(i)">delete</i>
            <!-- <span >delete</span> -->
          </div>
          <div class="checkbox-wrap" *ngFor="let package of packagesTypes">
            <input class="tgl tgl-classic" id="{{ package }}_{{ i }}" type="checkbox" name="main-option-{{ package }}-{{i}}" [(ngModel)]="userService.main_options[i][package]">
            <label for="{{ package }}_{{ i }}"></label>
          </div>
        </div>
        <div class="add-option " *ngIf=" !userService.main_options || userService.main_options.length < 10">

          <button [disabled]="!f.valid" class="add btn-tetraty" (click)="addMainOptin()">
            <i class="material-icons">
              add_circle_outline
            </i>
            <span>Добавить опцию</span>
          </button>
        </div>
      </form>
    </div>
    <!-------------------- Extra Options -------------------->
    <div class="extra-packages-wrap">

      <app-third-step-extra-options *ngIf="userService" [userService]="userService"></app-third-step-extra-options>


    </div>

    <div class="form-butons">
      <button class="back">сохранить и выйти</button>
      <button class="save" type="submit">сохранить и продолжить</button>
    </div>
  </form>
</div>
