<div class="step-wrapper">
    <form #form="ngForm" (ngSubmit)="nextStep(form)">
        <div class="form-title">
            <h3>3. Пакеты услуг и цены</h3>
            <span class="steps-counter">{{'dashboard.create-service.third-step.steps-counter' | translate}}</span>
            <div class="pckg-swap">
                <input class="tgl tgl-swp" id="cb2" type="checkbox" name="change-pack-val" [(ngModel)]="userService.allPackages" />
                <label class="tgl-btn" for="cb2"></label>
                <span>{{'dashboard.create-service.third-step.all-packages' | translate}}</span>
            </div>
        </div>

        <!-------------------- main options -------------------->
        <div class="offer-packages_wrapper">
          <div class="offer-packages">
            <!-------------------- block hidden 2 pack -------------------->
            <div class="show-all-pack" *ngIf="userService.allPackages === 0 || userService.allPackages === false">
                <h4>{{'dashboard.create-service.third-step.description-block.title' | translate}}</h4>
                <p>
                    {{'dashboard.create-service.third-step.description-block.subtitle' | translate}}
                </p>
                <button class="btn" type="button" (click)="openAllPackages()">{{'general.open' | translate}}</button>
            </div>

            <!-------------------- packages-name -------------------->
            <div class="package-name line">
                <div>
                </div>
                <div>
                    <h6>
                        {{'packages.basic' | translate}}
                    </h6>
                </div>
                <div>
                    <h6>
                        {{'packages.standart' | translate}}
                    </h6>
                </div>
                <div>
                    <h6>
                        {{'packages.premium' | translate}}
                    </h6>
                </div>
            </div>
            <!--------------------packages-title -------------------->
            <div class="packages-titles line" outsideTooltip="{{'dashboard.create-service.third-step.main-form.tool-tip.offer-name-title' | translate}}"
                 outsideTooltipDescription="{{'dashboard.create-service.third-step.main-form.tool-tip.offer-name-subtitle' | translate}}"
                placement="right">
                <div class="packages-title title">
                    <p>{{'dashboard.create-service.third-step.main-form.offer-name' | translate}}</p>
                </div>
                <div class="packages-title" *ngFor="let package of packagesTypes; index as x" >
                    <div class="textarea">
                        <textarea [(ngModel)]="userService.packagesTitle[package +'Title']" name="title_{{ package }}"
                                  rows="2" [maxlength]="35" [required]="(x == 0 &&( userService.allPackages === false || userService.allPackages === 0)) ||
                                  (userService.allPackages === true ||  userService.allPackages === 1 )"
                                  [ngClass]="{ 'submited': submited }"
                                  ></textarea>
                    </div>
                </div>

            </div>
            <!-------------------- Descriptions -------------------->
            <div class="packages-description line" outsideTooltip="{{'dashboard.create-service.third-step.main-form.tool-tip.description-title' | translate}}"
                 outsideTooltipDescription="{{'dashboard.create-service.third-step.main-form.tool-tip.description-subtitle' | translate}}"
                placement="right">
                <div class="description-title title">
                    <p>
                        {{'dashboard.create-service.third-step.main-form.description' | translate}}
                    </p>
                </div>
                <div class="textarea-wrap description-wrapper" *ngFor="let package of packagesTypes; let x = index" >
                    <textarea name="{{package + 'Description'}}" id="" [ngClass]="{ 'submited': submited }"
                              [(ngModel)]="userService.packagesDescriptions[package + 'Description']"  [maxlength]="270"
                              [required]="(x == 0 &&( userService.allPackages === false || userService.allPackages === 0)) ||
                              (userService.allPackages === true ||  userService.allPackages === 1 )"></textarea>
                </div>
            </div>
            <!--------------------Time to Do -------------------->
            <div class="package-deadlines line" outsideTooltip="{{'dashboard.create-service.third-step.main-form.tool-tip.time-to-do-title' | translate}}"
                 outsideTooltipDescription="{{'dashboard.create-service.third-step.main-form.tool-tip.time-to-do-subtitle' | translate}}"
                placement="right">
                <div class="deadline-title title">
                    <p>
                        {{'dashboard.create-service.third-step.main-form.time-to-do' | translate}}
                    </p>
                </div>

                <div *ngFor="let package of packagesTypes; let x = index" >
                    <div class="input-wrap">
                        <input name="{{package + 'Term'}}" type="text" knifeOnlyNumbers maxlength="3" [(ngModel)]="userService.packagesTerms[package + 'Term']"
                                [required]="(x == 0 &&( userService.allPackages === false || userService.allPackages === 0)) ||
                                (userService.allPackages === true || userService.allPackages === 1 )"
                                [ngClass]="{ 'submited': submited }">
                    </div>
                </div>
            </div>

            <!-------------------- packages changes -------------------->
            <div class="packages-changes line" outsideTooltip="{{'dashboard.create-service.third-step.main-form.tool-tip.changes-title' | translate}}"
                 outsideTooltipDescription="{{'dashboard.create-service.third-step.main-form.tool-tip.changes-subtitle' | translate}}"
                placement="right">
                <div class="packages-change title">
                    <p>{{'dashboard.create-service.third-step.main-form.changes' | translate}}</p>
                </div>
                <div *ngFor="let package of packagesTypes; let x = index" >
                    <div class="select-wrap">
                        <mat-select [(ngModel)]="userService.packagesChanges[package + 'Changes']" name="{{package + 'Changes'}}"
                        [required]="(x == 0 &&( userService.allPackages === false || userService.allPackages === 0)) ||
                        (userService.allPackages === true || userService.allPackages === 1 )"
                        [ngClass]="{ 'submited': submited }"
                        >
                            <mat-option *ngFor="let change of changesArrayCounter(); let i = index" [value]="change">
                                {{ change }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <!--------------------package price -------------------->
            <div class="package-deadlines line">
                <div class="deadline-title title">
                    <p>
                        {{'dashboard.create-service.third-step.main-form.price' | translate}}
                    </p>
                </div>

                <div *ngFor="let package of packagesTypes; let x = index">
                    <div class="input-wrap">
                        <input type="number" knifeOnlyNumbers maxlength="7" #packagePrice="ngModel"
                               [required]="(x == 0 &&( userService.allPackages === false || userService.allPackages === 0)) ||
                               (userService.allPackages === true ||  userService.allPackages === 1 )"
                               [(ngModel)]="userService.packagesPrices[package + 'Price']" name="{{package + 'Price'}}"
                            [min]="250" (ngModelChange)="priceChange($event, package)" placeholder="min 250"
                            [ngClass]="{ 'submited': submited }">
                    </div>
                </div>
            </div>
            <!--------------------add options -------------------->
            <form #f="ngForm" class="package-options extra">
                <div class="added-option line" *ngFor="let arrayItem of userService.main_options; let i = index"
                     outsideTooltip="{{'dashboard.create-service.third-step.main-form.add-option.tool-tip-title' | translate}}"
                     outsideTooltipDescription="{{'dashboard.create-service.third-step.main-form.add-option.tool-tip-subtitle' | translate}}"
                    placement="right">
                    <div class="option-title" [ngClass]="{ 'field-required': mainOptonTitle.invalid && submited }">
                        <div class="input-wrap">
                            <input type="text" [(ngModel)]="userService.main_options[i].title" required #mainOptonTitle="ngModel"
                                   name="main_option_title_{{i}}" placeholder="{{'dashboard.create-service.third-step.main-form.add-option.title' | translate}}" maxlength="15">
                        </div>
                        <i class="material-icons delete-pack" (click)="deleteMainOption(i)">delete</i>
                        <!-- <span >delete</span> -->
                    </div>
                    <div class="checkbox-wrap" *ngFor="let package of packagesTypes">
                        <input class="tgl tgl-classic" id="{{ package }}_{{ i }}" type="checkbox" name="main-option-{{ package }}-{{i}}"
                               [(ngModel)]="userService.main_options[i][package]">
                        <label for="{{ package }}_{{ i }}"></label>
                    </div>
                </div>
                <div class="add-option " *ngIf=" !userService.main_options || userService.main_options.length < 10"
                     outsideTooltip="{{'dashboard.create-service.third-step.main-form.tool-tip.add-option-title' | translate}}"
                     outsideTooltipDescription="{{'dashboard.create-service.third-step.main-form.tool-tip.add-option-subtitle' | translate}}"
                    placement="right">

                    <button [disabled]="!f.valid" class="add btn-third" (click)="addMainOptin()">
            <i class="material-icons">
              add_circle_outline
            </i>
            <span>{{'dashboard.create-service.third-step.add-option' | translate}}</span>
          </button>
                </div>
            </form>
        </div>
        </div>

        <!-------------------- Extra Options -------------------->
        <div class="extra-packages-wrap">

            <app-third-step-extra-options *ngIf="userService" [userService]="userService" [submited]="submited"></app-third-step-extra-options>


        </div>

        <div class="form-butons">
            <button (click)="quite()" class="back">{{'dashboard.create-service.go-back' | translate}}</button>
            <button class="save" type="submit">{{'dashboard.create-service.save-and-next' | translate}}</button>
        </div>
    </form>
</div>
