:host ::ng-deep .step-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form {
  display: flex;
  flex-direction: column;
  width: 77%;

  &.package-options {
    width: 100%;
  }

  .form-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  h3 {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #323c47;
    margin: 0;
  }

  .pckg-swap {
    display: flex;
    min-width: 110px;
    justify-content: space-between;

    input[type="checkbox"]:checked+label+span {
      color: #3c7eea;
      font-weight: 600;
    }

    span {
      // margin-left: 13px;
      font-family: Source Sans Pro, sans-serif;

      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #707683;
    }
  }
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;

  button {
    font-family: Source Sans Pro, sans-serif;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    // color: #4285F4;
    padding: 15px 24px;
    cursor: pointer;
    text-transform: uppercase;

    &:first-of-type {
      border: 1px solid #4285f4;
      background: #fff;
      color: #4285f4;
      box-shadow: none;

      &:hover {
        color: #fff;
        background: #3c7eea;
        box-shadow: 0px 2px 4px rgba(60, 9, 179, 0.3);
      }
    }

    color: #fff;
    background: #3c7eea;
    box-shadow: 0px 2px 4px rgba(60, 9, 179, 0.3);

    &:hover {
      border: 1px solid #4285f4;
      background: #fff;
      color: #4285f4;
      box-shadow: none;
    }
  }
}

.add-option {
  background: #f4f7fc;
  padding: 23px 20px 20px 20px;

  i {
    font-size: 18px;
    margin-right: 16px;
  }

  .add {
    display: flex;
    flex-direction: row;
    font-family: Source Sans Pro, sans-serif;
    // font-style: normal;
    // font-weight: 600;
    // font-size: 14px;
    // line-height: 18px;
    // color: #3c7eea;
    // cursor: pointer;
    // position: relative;
    // outline: none;

    // &:hover {
    //   color: #5695fd;
    // }

    // &:active {
    //   color: #1666ea;
    // }
  }

  &.secondary-optins {
    background: #ffffff;
    border-top: 1px solid #dce0e6;
    padding-bottom: 24px;
    padding-left: 37px;
  }
}

.offer-packages {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(128, 152, 213, 0.17);
  border-radius: 5px;
  margin-bottom: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;

  .show-all-pack {
    position: absolute;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0px 0px 5px 0px;
    height: 100%;
    width: 49.9%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      margin: 0;
      padding: 0;
      color: #323c47;
      width: 220px;
      padding-bottom: 20px;
    }

    p {
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #728096;
      margin: 0;
      padding: 0;
      margin-bottom: 60px;
    }
  }

  .textarea {
    width: 100%;
    height: 100%;
    // padding: 10px;
  }

  textarea {
    resize: none;
    padding: 10px;
    border: none;
    height: 100%;
    outline: none;
    width: 100%;
    // padding: 10px;
    // box-sizing: border-box;
    font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        &.submited.ng-invalid {
          border: 1px solid #f44336;
        }
  }

  .input-wrap {

    width: 100%;
    height: 100%;
    // margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;

    input {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 10px 10px 20px;
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #323c47;
      text-align: center;
      border: none;
      outline: none;
      &.submited.ng-invalid {
        border: 1px solid #f44336;
      }
    }
  }

  .select-wrap {


    .mat-select {
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #323C47;
      padding: 0 20px 0 10px;
      &.submited.ng-invalid {
        border: 1px solid #f44336;
      }
    }
  }

  &>div {
    width: 100%;
  }

  .line {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dce0e6;


    .title {
      display: flex;
      align-items: center;

      p {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .description-title.title {
      align-items: flex-start;
      p{
        padding-top: 16px;
        padding-left: 10px;
      }
    }

    &>div {
      width: 25%;
      border-right: 1px solid #dce0e6;

      &:last-of-type {
        border-right: none;
      }

      p {
        margin: 0;
        padding: 0;
        padding-left: 20px;
        // padding: 16px 10px 10px 20px;
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        color: #323c47;
      }
    }
  }

  .package-name {
    &>div {
      background: #f4f7fc;
      background: #f4f7fc;
      min-height: 67px;
      border-right: 1px solid #dce0e6;

      &:last-of-type {
        border-right: none;
      }

      h6 {
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 6px;
        letter-spacing: 0.15px;
        font-feature-settings: "liga"off;
        margin: 0;
        color: #323c47;
        padding: 30px 0 30px;
        text-align: center;
      }
    }
  }

  .packages-titles {
    &>div {
      height: 60px;
      border-right: 1px solid #dce0e6;
      display: flex;
    }

    .packages-title {
      .textarea {
        height: 100%;
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .packages-description {
    display: flex;
    flex-direction: row;
    width: 100%;

    &>div {
      width: 25%;
      height: 275px;
      border-right: 1px solid #dce0e6;
      padding: 10px;
      box-sizing: border-box;
      &.description-wrapper{
        padding: 0;
        textarea {
          padding: 10px;
        }
      }
      textarea {
        // padding: 10px;
        box-sizing: border-box;
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
      }

      .description-title {
        background: #f4f7fc;
      }

      p {
        padding: 16px 10px 10px 20px;
      }
    }
  }

  .package-deadlines,
  .packages-changes {
    &>div {
      height: 60px;
    }
  }

  .package-options {
    .added-option {
      height: 60px;

      .checkbox-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &.extra {
      input[type="text"] {
        font-size: 14px;
      }
    }
    .option-title {
      background: #f4f7fc;
      display: flex;

      input {
        background: #f4f7fc;
        text-align: left;
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-size: 14px;
          line-height: 18px;
          /* identical to box height */

          color: #99acb7;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          font-size: 14px;
          line-height: 18px;
          /* identical to box height */

          color: #99acb7;
        }

        &:-ms-input-placeholder {
          /* IE 10+ */
          font-size: 14px;
          line-height: 18px;
          /* identical to box height */

          color: #99acb7;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          font-size: 14px;
          line-height: 18px;
          /* identical to box height */

          color: #99acb7;
        }
      }
    }
  }
}

// -----------delete option ------------------------
.option-title {
  position: relative;
}

.delete-pack {
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 16px;
  color: #bfc5d1;
  cursor: pointer;

  &:hover {
    color: red;
  }
}

// -------------change deffault arrow --------------

mat-select::ng-deep .mat-select-arrow-wrapper {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(/assets/images/icons/up.png);
    top: -2px;
    left: -20px;
  }

  .mat-select-arrow {
    display: none;
  }
}

// ------------- extra packages ------------------------------//

.extra-packages-wrap {
  h4 {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: lowercase;
    color: #323c47;
  }

  .extra-packages {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(128, 152, 213, 0.17);
    border-radius: 5px;

    &>div>div {
      padding: 0 18px 0 38px;

      .select-wrap-extra {
        padding: 0 10px 0 10px;
        height: 100%;

        .mat-select {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    span.options-name {
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #323c47;
      margin-left: 10px;
    }

    .time-option {
      min-height: 73px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .option-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 73px;

        .show-pack-options {
          width: 24px;
          height: 24px;
          position: relative;
          border: none;
          background: none;
          box-shadow: none;
          outline: none;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(/assets/images/icons/up.png);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &.up {
            transform: rotate(180deg);
          }
        }
      }

      .checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;

        label {
          margin: 0;
          margin-top: -2px;
          padding: 0;
          line-height: 18xp;
        }
      }

      .options {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
        min-width: 310px;

        span {
          font-family: Source Sans Pro, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #aab2c0;
        }

        &>div {
          width: 95px;
          height: 34px;
          border: 1px solid #dce0e6;
          border-radius: 2px;
          margin-left: 20px;

          &.price {
            margin-left: 42px;
            padding: 3px 8px;
            width: 80px;
            height: 34px;
            box-sizing: border-box;

            input {
              width: 52%;
              height: 100%;
              margin: 0;
              padding: 0;
              outline: none;
              border: none;
              font-family: Source Sans Pro, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 21px;
              color: #707683;
            }

            .money {
              font-family: Source Sans Pro, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              color: #707683;
              text-transform: uppercase;
            }
          }
        }
      }

      .all-types {
        width: 100%;
        background: #f4f7fc;
        overflow: hidden;

        &.open {
          height: 230px;
          transition: height 0.5s;
        }

        &.closed {
          height: 0;
          transition: height 1s;
        }

        >div {
          width: 100%;
          background: #f4f7fc;
          display: flex;
          flex-direction: column;

          &>div {
            padding: 15px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input {
              background: transparent;
            }

            .extraoption-title {
              font-family: Source Sans Pro, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 20px;
              text-align: center;
              color: #323c47;
              padding-left: 30px;
            }

            &:first-of-type {
              margin-top: 27px;
            }

            &:last-of-type {
              margin-bottom: 2px;
            }
          }
        }
      }
    }

    // --------deffault extra field ------------

    .deffault-field {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 73px;

      border-top: 1px solid #dce0e6;

      .option-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }

      .show-pack-options {
        width: 24px;
        height: 24px;
        position: relative;
        border: none;
        background: none;
        box-shadow: none;
        outline: none;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: url(/assets/images/icons/up.png);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &.up {
          transform: rotate(180deg);
        }
      }

      &.extra-option {
        border: none;
        height: 34px;
        min-height: 34px;

        .option-wrap {
          justify-content: space-between;
        }
      }

      &.extra-option-preview {
        border-top: none;
        // border-bottom: 1px solid #dce0e6;
        padding: 0 18px 0 38px;
        width: auto;

        .select-wrap-extra {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Source Sans Pro, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
          color: #707683;
        }

        .price {
          display: flex;
          justify-content: space-around;
          font-family: Source Sans Pro, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
          color: #707683;

          .money {
            line-height: 20px;
          }
        }
      }
    }

    .checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        margin: 0;
        margin-top: -2px;
        padding: 0;
        line-height: 18px;
      }
    }

    .options {
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: space-between;
      min-width: 310px;

      span {
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #aab2c0;
      }

      &>div {
        width: 95px;
        height: 34px;
        border: 1px solid #dce0e6;
        border-radius: 2px;
        margin-left: 20px;

        &.price {
          margin-left: 42px;
          padding: 3px 8px;
          width: 80px;
          height: 34px;
          box-sizing: border-box;

          input {
            width: 52%;
            height: 100%;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            font-family: Source Sans Pro, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            color: #707683;
          }

          .money {
            font-family: Source Sans Pro, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #707683;
            text-transform: uppercase;
          }
        }
      }

      &.commercial {
        justify-content: flex-end;

        &>div {
          margin-left: 15px;
        }
      }
    }

    // ---------- extra secondary-options creations ---------- //
    .secondary-extra-options {
      display: flex;
      flex-direction: column;

      // border-top: 1px solid #DCE0E6;
      &-item {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #dce0e6;
        padding: 0;

        &.rolled {
          .extra-option-preview {
            border-bottom: 0;
          }
        }

      }

      .option-creation {
        padding: 0;
        height: 0;
        overflow: hidden;

        &>div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          h5 {
            width: 21%;
            font-family: Source Sans Pro, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: left;
            color: #323c47;
            margin: 0;

            &+div {
              width: 76%;
              border: 1px solid #dce0e6;
              box-sizing: border-box;
              border-radius: 2px;
            }
          }

          &.extra-option-title {
            margin-bottom: 36px;

            &>div {
              padding: 8px 12px;

              input {
                font-family: Source Sans Pro, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #323c47;
                width: 100%;
                padding: 0;
                margin: 0;
                outline: none;
                border: none;
              }
            }
          }

          &.extra-option-description {
            margin-bottom: 18px;
            align-items: flex-start;

            &>div {
              height: 93px;
              padding: 8px 38px 8px 15px;

              textarea {
                resize: none;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                font-family: Source Sans Pro, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
        }

        &.expanded {
          padding: 20px 18px 20px 62px;
          height: auto;
        }
      }
    }
  }
}

// --------------------- popover ------------------

ngb-popover-window {
  &.popover {
    background: #ffffff;
    box-shadow: 0px 15px 21px rgba(128, 152, 213, 0.5);
    border-radius: 8px;
    padding: 18px 23px 19px 28px;
    left: 14px !important;
    top: -30px !important;
    z-index: 2;
    max-width: 323px;
    z-index: 10;

    &:before {
      content: "";
      position: absolute;
      left: -9px;
      top: 8px;
      width: 22px;
      height: 22px;
      background: #ffffff;
      -webkit-transform: rotate(47deg);
      transform: rotate(47deg);
      box-sizing: border-box;
      z-index: -1;
    }

    h3 {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      margin: 0 0 12px;
    }

    .popover-body {
      margin: 0;
      font-family: "Source Sans Pro", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #707683;
    }
  }
}
}

@media (max-width: 1499px) {
  .step-wrapper {
    padding-right: 10px;
    &>form {
      width: 100%;
    }
  }
  .form-buttons {
    button {
      font-size: 13px;
      padding: 10px 24px;
      &:first-of-type{
        padding: 10px 24px;
      }
    }
  }
}

@media (max-width: 1024px) {
  form {
    h5{
      margin: 0 0 5px;
    }
    h3 {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 3px;
    }
    .steps-counter{
      display: block;
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #99ACB7;
    }
  }
  :host ::ng-deep .step-wrapper{
    padding-right: 15px;
    .offer-packages{
      .packages-description{
        height: 150px;
      }
    }
    .extra-packages-wrap h4{
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
  .form-group{
    margin-bottom: 0;
  }
  .form-buttons{
    margin-top: 25px;
    button{
      padding: 10px 24px;
      &:first-of-type {
        padding: 10px 72px;
      }
    }
  }
}

@media (max-width: 767px) {
  :host ::ng-deep .step-wrapper{
    padding-right: 10px;
    margin: 0 -5px 0 -15px;
    form{
      .form-title{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
      }
      .pckg-swap{
        margin-left: auto;
        max-width: max-content;
        span{
          display: block;
          margin-left: 15px;
        }
      }
    }
    .extra-packages-wrap h4{
      font-size: 12px;
      line-height: 16px;
      margin-left: 15px;
    }
    .offer-packages{
      width: 560px;
      border: 1px solid #dce0e6;
      margin-bottom: 10px;
      .packages-description{
        height: 150px;
      }
      .package-name > div{
        min-height: 40px;
        h6{
          padding: 15px 0 15px;
        }
      }
    }
    .offer-packages_wrapper{
      overflow: scroll;
      width: 100%;
      margin-bottom: 20px;
      &::-webkit-scrollbar {  height: 6px;}
    }
    .extra-packages-wrap .extra-packages{
      & > div > div{
        padding: 10px;
      }
      .option-wrap{
        min-height: 85x;
      }
      .options{
        justify-content: space-between;
        min-width: 100%;
        & > div.price{
          margin-left: 10px;
          font-size: 14px;
        }
        span{
          font-size: 14px;
          line-height: 18px;
        }
      }
      .time-option{
        min-height: auto;
        .option-wrap{
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;
          min-height: 40px;
          .show-pack-options{
            position: absolute;
            right: 15px;
            top: 7px;
          }
        }
        .options{
          min-width: 100%;
          & > div{
            font-size: 14px;
            line-height: 28px;
            margin-left: 10px;
            &.price{
              margin-left: 10px;
              input{
                font-size: 14px;
                line-height: 28px;
              }
            }
          }
          span{
            font-size: 14px;
            line-height: 16px;
          }
        }
        .all-types{
          & > div > div{
            flex-direction: column;
            align-items: flex-start;
            padding: 5px 0;
            &:first-of-type{
              margin-top: 0;
            }
            .extraoption-title{
              font-size: 14px;
              line-height: 18px;
              padding-left: 0px;
            }
          }
          &.closed{
            padding: 0;
          }
          &.open{
            height: auto;
          }
        }
      }
      .deffault-field{
        .option-wrap{
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;
          min-height: 85px;
        }
        &.extra-option-preview{
          padding: 0 10px 40px 10px;
          .price{
            font-size: 14px;
            line-height: 28px;
            .money{
              font-size: 14px;
              line-height: 28px;
            }
          }
          .select-wrap-extra{
            font-size: 14px;
            line-height: 28px;
          }
        }
      }
      .secondary-extra-options .option-creation{
        & > div{
          flex-direction: column;
          align-items: flex-start;
          &.extra-option-title {
            margin-bottom: 15px;
            & div input{
              font-size: 14px;
            }
          }
          &.extra-option-description{
            margin-bottom: 30px;
          }
          h5{
            width: 100%;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 7px;
            + div{
              width: 100%;
            }
          }
        }
        &.expanded{
          padding: 20px 10px 35px 0px;
        }
      }
      span{
        &.options-name{
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    .form-buttons{
      flex-direction: column;
      margin-bottom: 20px;
      button{
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        &:first-of-type{
          margin: 0 auto 20px;
        }
      }
    }
  }
  // -------------change deffault arrow --------------

  mat-select::ng-deep .mat-select-arrow-wrapper {
    &:before {
      top: 2px;
    }
  }

}

