<div class="wrapper">
  <div class="line">
    <div class="collocutor">
      Жанна Друкач <span>онлайн</span>
    </div>
    <div class="messager-tools">

    </div>
  </div>
  <div class="messager-wrap">
    <div class="previous-massages">
      <app-message-list></app-message-list>
    </div>
    <form #message="ngForm" (ngSubmit)="sendMessage(message)" class="message-input">
      <div class="text-input">
        <textarea name="messageText" [ngModel]="messageText" #textinput  id="message" placeholder="Сообщение"
          (keydown)="triggerFunction($event)" ></textarea>
      </div>
      <div class="tools">
        <div>
          <div class="emoji" (click)="showEmoji()" (clickOutside)="hideEmoji()">
            <!-- isEmojiVisible -->
            <!-- <div class="emoji-wrap"> -->
            <emoji-mart *ngIf="isEmojiVisible" (emojiClick)="addEmoji($event)" [showPreview]="false" ></emoji-mart>


          </div>
          <div class="file">
            <label class="add-file" for="add-file"></label>
            <input type="file" name="file-input" id="add-file">
          </div>
        </div>
        <button type="submit"  class="submit"></button>
      </div>
    </form>

  </div>
</div>
