<div class="wrapper">
  <div class="steps">
    <h3>Создание услуги</h3>
    <div class="steps-wrap" >
      <div class="step" *ngFor="let step of serviceCreationSteps, let i = index " (click)="goToStep(i+1)" [ngClass]="{dev: currentStep === i+1, done: currentStep > i+1 }">
        <h5>{{ step.title }}</h5>
        <p>{{ step.description }}</p>
        <span class="step-order">{{ i+1 }}</span>
      </div>

    </div>
  </div>
  <div class="step-detail">
    <!-- <app-first-step-service-creation *ngIf="userService && currentStep === 1" [userService]="userService" (setCurrentStep)="setCurrentStep($event)"></app-first-step-service-creation>
    <app-second-step-creation *ngIf="userService && currentStep === 2" [userService]="userService" (setCurrentStep)="setCurrentStep($event)"></app-second-step-creation> -->
    <app-third-step-creation></app-third-step-creation>
    <!--  <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div> -->
  </div>
</div>
