<div class="reset-pass-pg" >
  <div class="nav-menu">
      <app-main-header [pageName]="'authoriz'"></app-main-header>
  </div>

  <div class="wrapper">
    <h2>Восстановление пароля</h2>
    <form #form="ngForm" [formGroup]="resetPass" (ngSubmit)="ResetPass()">

      <mat-form-field appearance="legacy">
          <mat-label>Введите e-mail</mat-label>
        <input matInput type="email" name="email" placeholder="E-mail Address"  formControlName="email" required>

        <mat-error *ngIf="resetPass.get('email').hasError('required')">{{ "Введите email" }}</mat-error>
        <mat-error *ngIf="resetPass.get('email').hasError('email')">{{
              "Не корректный email"
            }}</mat-error>
      </mat-form-field>
      <section  class="submit">

        <button  mat-button  type="submit" mat-raised-button>
            Сбросить пароль
        </button>


      </section >
  </form>
  </div>

</div>
<app-inform-popup *ngIf="message" [(message)] ="message"></app-inform-popup>
