.reset-pass-pg {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.nav-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 72px;
    color: #323c47;
    margin-bottom: 93px;
    margin-top: 0;
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro", sans-serif;
  align-items: center;
  .form-group {
    border: 1px solid rgba(220, 224, 230, 0.9);
    width: 300px;
    padding: 0 12px;
    position: relative;
    .form-controll-feedback {
      position: absolute;
      left: 0;
      p {
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #FD1F3A;
        margin: 0;
        padding: 2px 0;
      }
    }
  }

  ::ng-deep {
    label {
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #99acb7;
      position: absolute;
      left: 0;
    top: -21px;
    }
    input {
      border: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #707683;
      height: 49px;
      background-color: transparent;
      // margin-top: 8px;
      // padding-left: 12px;
      // padding-right: 20px;
      width: 100%;
      background: transparent;
      outline: none;
      &:placeholder {
        color: #707683;
      }
    //   &:-internal-autofill-selected {
    //     background-color: rebeccapurple !important;
    //     background-image: none !important;
    //     color: rgb(0, 0, 0) !important;
    // }
    }
  }

  button {
    // background: #3C7EEA;
    border-radius: 0px 8px 8px 0px;
    // padding: 8px 22px;
    // color: #fff;
  }
}
