<div class="reset-pass-pg" >
  <div class="nav-menu">
      <app-main-header [pageName]="'authoriz'"></app-main-header>
  </div>

  <div class="wrapper">
    <h2>Восстановление пароля</h2>

    <form  #form="ngForm" [formGroup]="resetPass" (ngSubmit)="ResetPass()">
    <div class="form-group">
      <label for="email">Введите e-mail</label>
      <input type="email" placeholder="E-mail Address" id="email" formControlName="email" emailvalidator name="email" required >
      <div class="form-controll-feedback" *ngIf="resetPass.get('email').invalid">
        <p *ngIf="resetPass.get('email').hasError('required') && submitted">Введите email</p>
        <p *ngIf="resetPass.get('email').invalid && submitted">Не корректный email</p>
      </div>
    </div>
    <button class="btn" type="submit" [disabled]="form.invalid">
      Сбросить пароль
    </button>
  </form>
  </div>

</div>
<app-inform-popup *ngIf="message" [(message)] ="message"></app-inform-popup>
