
<div class="service-page-checkout">
  <div class="main-block" *ngIf="offerData">
    <ul class="service-order-steps">
      <li class="single-step" (click)='goToOffer()'>
        <div class="single-step__status done"></div>
        <h4>Выбор пакета услуг</h4>
      </li>
      <li class="single-step">
        <div class="single-step__status dev">2</div>
        <h4>Выбор дополнительных опций</h4>
      </li>
      <li class="single-step">
        <div class="single-step__status brief">3</div>
        <h4>Заполнение брифа</h4>
      </li>
    </ul>

    <div class="additional-options" *ngIf="offerData">
      <h3 class="additional-options__title">Добавить дополнительные опции к услуге?</h3>
      <h4 class="additional-options__name">{{offerData.title}}</h4>

      <form class="extra-features__form" [formGroup]="checkoutForm">
        <ul class="extra-features__list">
          <ng-container *ngFor="let extra_term of offerData.extra_terms">
            <div class="extra-features__item" *ngIf="extra_term.package == currentPackage && extra_term.published">
              <mat-checkbox class="extra-features__checkbox" formControlName="extraTerms" name="extraTerms">
                <div class="extra-features__text">
                  <span class="extra-features__title">Сжатые сроки  - {{extra_term.count_days}} дней</span>
                </div>
              </mat-checkbox>
              <div class="extra-features__price">{{extra_term.price}} грн</div>
            </div>
          </ng-container>
          <div class="extra-features__item" *ngIf="offerData.extra_changes.published">
            <mat-checkbox class="example-margin" formControlName="extraChanges" name='extraChanges'>
              <div class="extra-features__text">
                <span class="extra-features__title">Дополнительные правки</span>
              </div>
            </mat-checkbox>
            <div class="extra-features__price">{{offerData.extra_changes.price}} грн</div>
          </div>
          <div class="extra-features__item" *ngIf="offerData.extra_commercial.published">
            <mat-checkbox class="extra-features__checkbox" formControlName="extraCommercial" name='extraCommercial'>
              <div class="extra-features__text">
                <span class="extra-features__title">Коммерческое использование</span>
              </div>
            </mat-checkbox>
            <div class="extra-features__price">{{offerData.extra_commercial.price}} грн</div>
          </div>

          <ng-container *ngFor="let extra_feature of offerData.extra_features; let i = index">
            <div class="extra-features__item extra-features__item-column"  *ngIf="extra_feature.published">
              <div class="extra-features__item-wrapper">
                <mat-checkbox class="extra-features__checkbox" [formControlName]="extra_feature.title" name='extra_feature.title'>
                  <span class="extra-features__title">{{extra_feature.title}}</span>
                  
                </mat-checkbox>
                <div class="extra-features__price">{{extra_feature.price}} грн</div>
              </div>
              <div class="extra-features__text">
                <p class="extra-features__description">{{extra_feature.description}}</p>
              </div>
            </div>
            
          </ng-container>

        </ul>
        <div class="btn-checkout btn-checkoutForm" type="submit" (click)='chosenFeatures()'>добавить к услуге</div>
      </form>
    </div>
  </div>
  <div class="final-services">
    <h3 class="final-services__title">ваш выбор услуги</h3>
    <div class="final-services__wrapper">
      <div class="final-services__top">
        <h4 class="additional-options__name">{{currentPackage}}</h4>
        <div class="final-price__no-features">
          <span class="final-price__text">Общая стоимость (без доп. опций)</span><span class="final-price__price">{{offerData[currentPackage].price}} UAH</span>
        </div>
      </div>
      <div class="final-services__features">

        <div class="changes-term" >
          <div>{{ outputDealData.changesFinal }} правок</div>
          <div>{{ outputDealData.term }} дней выполнения</div>
        </div>

        <ul class="option-list">
          <ng-container *ngFor="let option of offerData.main_options">
            <li class="active" *ngIf="option[currentPackage]">{{ option.title }}</li>
          </ng-container>
        </ul>

      </div>
      <div class="final-services__extra-features" *ngIf="!noOneChecked">

        <div class="extra-features-title">Дополнительные опции</div>

        <ul class="option-list" >

          <ng-container *ngFor="let extra_term of offerData.extra_terms">
            <div class="extra-features__item" *ngIf="extra_term.package == currentPackage">
              <ng-container *ngIf="extraFeaturesResultArr[0]">

                <span class="extra-features__title">Сжатые сроки</span>
                <div class="extra-features__price">{{extra_term.price}} <span>UAH</span></div>

              </ng-container>
            </div>
          </ng-container>

          <div class="extra-features__item" *ngIf="extraFeaturesResultArr[2]">
            <span class="extra-features__title">Дополнительные правки</span>
            <div class="extra-features__price">{{offerData.extra_changes.price}} <span>UAH</span></div>
          </div>
          <div class="extra-features__item" *ngIf="extraFeaturesResultArr[1]">
            <span class="extra-features__title">Коммерческое использование</span>
            <div class="extra-features__price">{{offerData.extra_commercial.price}} <span>UAH</span></div>
          </div>

          <ng-container *ngFor="let extra_feature of offerData.extra_features; let i = index">
            <div class="extra-features__item" *ngIf="extraFeaturesResultArr[i + 3]">
              <span class="extra-features__title">{{extra_feature.title}}</span>
              <div class="extra-features__price">{{extra_feature.price}} <span>UAH</span></div>
            </div>
          </ng-container>
        </ul>

      </div>
      <div class="final-services__service-price">
        <div class="extra-features__item">
          <span class="extra-features__title">Комиссия за сервис</span>
          <div class="extra-features__price">{{serviceCommission}} <span>UAH</span></div>
        </div>
      </div>

      <div class="final-price">
        <div class="final-price__wrapper">
          <span class="final-price__title">конечная стоимость</span>
          <div class="final-price__price">{{finalSum}} <span>UAH</span></div>
        </div>
      </div>

      <div class="btn-wrapper"> 
        <div class="btn-checkout btn-accept-checkout" type="submit" (click)="sendDealData()">Подтвердить заказ</div>
      </div>
    </div>
  </div>
</div>



