<section class="message-wrap" *ngIf="messagesList">
  <div class="message-list" #messagesWrap (scroll)="onScroll()">
    <!-- <div  #messagesHeight > -->
      <div *ngFor="let message of messagesList, let i = index" >
        <div class="message" >
          <div class="photo">
            <img src="/assets/images/images/ava.jpg" alt="">
          </div>
          <div class="text" >
            {{message.message}}
          </div>
          <div class="message-control" *ngIf="false"></div>
          <span class="time">{{ message.dateTime | dateFormatPipe }}</span>
        </div>

      </div>

      <div *ngFor="let message of messagesList, let i = index" >
        <div class="message" >
          <div class="photo">
            <img src="/assets/images/images/ava.jpg" alt="">
          </div>
          <div class="text" >
            {{message.message}}
          </div>
          <div class="message-control" *ngIf="false"></div>
          <span class="time">{{ message.dateTime | dateFormatPipe }}</span>
        </div>

      </div>

      <div *ngFor="let message of messagesList, let i = index" >
        <div class="message" >
          <div class="photo">
            <img src="/assets/images/images/ava.jpg" alt="">
          </div>
          <div class="text" >
            {{message.message}}
          </div>
          <div class="message-control" *ngIf="false"></div>
          <span class="time">{{ message.dateTime | dateFormatPipe }}</span>
        </div>

      </div>
    </div>
  <!-- </div> -->
</section>

<!-- [ngClass]="{ autor: mess.id === 2 }"  -->
