.section-title {
  margin: 0 0 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #323c47;
}
.table {
  margin-bottom: 80px;
  display: table;
  position: relative;
  border: 1px solid rgba(220, 224, 230, 0.4);
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 6px 18px rgba(128, 152, 213, 0.17);
  &-titles {
    display: table-header-group;
    background: #f4f7fc;
    border-bottom: 1px solid #dce0e6;
    border-radius: 5px 5px 0px 0px;
    .table-cell {
      text-align: center;
      padding: 40px 0;
      border-left: 1px solid #dce0e6;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.15px;
      color: #323c47;

      width: 25%;
      &.centerMode {
        text-align: center;
      }
    }
  }
  &-item {
    display: table-row;
    border-bottom: 1px solid #dce0e6;
    background: #fff;
    .table-cell {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #323C47;
      position: relative;
      &.centerMode {
        text-align: center;
      }
      .check-icon{
        display: block;
        position: absolute;
        width: 15px;
        height: 11px;
        // top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        &.activeOption{
          background-image: url(/assets/images/svg/service-page/check-color.svg);
        }
        &.inactiveOption{
          background-image: url(/assets/images/svg/service-page/check-gray.svg);
        }
      }
    }
    &:last-child{
      .table-cell {
        padding-top: 18px;
        border-bottom: none
      }
    }
  }
  &-cell {
    display: table-cell;
    border-bottom: 1px solid #dce0e6;
    border-left: 1px solid #dce0e6;
    padding: 7px 15px 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    // text-align: center;
    color: #323c47;
    &.title-cell {
      background: #f4f7fc;
    }
    &.extra-options{
      padding: 25px 15px;
    }
    .btn-buy-package{
      background: #3C7EEA;
      box-shadow: 0px 2px 4px rgba(60, 9, 179, 0.3);
      border-radius: 4px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 1px;
      color: #FFFFFF;
      padding: 11px;
      margin: 18px auto 15px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    height: 1px;
    width: 100%;
    background: #EBEEFF;
  }
}

@media (max-width: 1499px) {
  .section-title {
    margin: 0 0 12px;
  }
  .table {
    margin-bottom: 80px;
    &-titles {
      .table-cell {
        padding: 18px 0;
        font-size: 14px;
      }
    }
    &-item {
      .table-cell {
        font-size: 14px;
        line-height: 18px;
        .check-icon{
          width: 12px;
        }
      }
      &:last-child{
        .table-cell {
          padding-top: 12px;
        }
      }
    }
    &-cell {
      padding: 10px 12px ;
      font-size: 14px;
      line-height: 18px;
      &.extra-options{
        padding: 15px;
      }
      .btn-buy-package{
        padding: 11px 0;
        margin: 15px auto 5px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .table {
    margin-bottom: 60px;
    &::after {
      display: none;
    }
  }
}

@media (max-width: 767.987px) {
  .compare{
    display: none;
  }

}
