<section class="compare">
  <h4 class="section-title">
    {{'service-page.compare-title' | translate}}
  </h4>
  <div class="table" *ngIf="offerData">
    <div class="table-titles">
      <div class="table-cell"></div>
      <div class="table-cell" >{{'packages.basic' | translate}}</div>
      <div class="table-cell" *ngIf="offerData.allPackages">{{'packages.premium' | translate}}</div>
      <div class="table-cell" *ngIf="offerData.allPackages">{{'packages.standart' | translate}}</div>
    </div>

    <ng-container *ngIf="offerData.allPackages">
      <div class="table-item" *ngFor="let service of services">
        <div class="table-cell title-cell">{{ service.serviceName | translate }}</div>
        <ng-container *ngFor="let package of packages">
          <div class="table-cell" [ngClass] = "{'centerMode extra-options': service.centerMode}">{{ offerData[package][service.serviceValue] }}  <ng-container *ngIf="service.extraWord">{{ 'service-page.' + service.extraWord | translate }}</ng-container></div>
        </ng-container>
      </div>
      <div class="table-item" *ngFor="let option of offerData.main_options">
        <div class="table-cell title-cell extra-options">{{option.title}}</div>
        <ng-container *ngFor="let package of packages">
          <div class="table-cell extra-options">
            <span class="check-icon activeOption" *ngIf="option[package]"></span>
            <span class="check-icon inactiveOption" *ngIf="!option[package]"></span>
          </div>
        </ng-container>
      </div>
      <div class="table-item">
        <div class="table-cell title-cell">{{'packages.price' | translate}}</div>
        <ng-container *ngFor="let package of packages">
          <div class="table-cell centerMode">
            {{ offerData[package].price }} ₴
            <div class="btn-buy-package" (click)="goCheckout(package); scrollToElement('page-top')">{{'general.choose' | translate}}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="!offerData.allPackages">
      <div class="table-item" *ngFor="let service of services">
        <div class="table-cell title-cell">{{ service.serviceName | translate }}</div>
        <ng-container>
          <div class="table-cell" [ngClass] = "{'centerMode extra-options': service.centerMode}">{{ offerData.basic[service.serviceValue] }} {{ service.extraWord | translate }}</div>
        </ng-container>
      </div>
      <div class="table-item" *ngFor="let option of offerData.main_options">
        <div class="table-cell title-cell extra-options">{{option.title}}</div>
        <ng-container>
          <div class="table-cell extra-options">
            <span class="check-icon activeOption" *ngIf="option.basic"></span>
            <span class="check-icon inactiveOption" *ngIf="!option.basic"></span>
          </div>
        </ng-container>
      </div>
      <div class="table-item">
        <div class="table-cell title-cell">{{'general.price' | translate}}</div>
        <ng-container>
          <div class="table-cell centerMode">
            {{ offerData.basic.price }} ₴
            <div class="btn-buy-package" (click)="goCheckout('basic')">{{'general.choose' | translate}}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>

  </div>
</section>
