<section class="questions">
  <h4 class="section-title">
    Часто задаваемые вопросы
  </h4>
  <div class="question-list">
      <div class="question-item" [ngClass]="btnNumber === 1? 'active': 'none'">
        <h4 class="question-item__title" (click)="showfull(1)">Как подтвердить свой профиль на Gigrum?<div class="element-plus"></div></h4>
        <p class="question-item__text">Gigrum стал часто отказывать в подтверждении новых профилей. Аргументируется это невостребованностью навыков среди клиентов, которые фрилансер указал при регистрации. Как все же пройти эту преграду и начать работать на Gigrum?</p>
      </div>
      <div class="question-item" [ngClass]="btnNumber === 2? 'active': 'none'">
        <h4 class="question-item__title" (click)="showfull(2)">Есть ли комиссия работы на Gigrum?<div class="element-plus"></div></h4>
        <p class="question-item__text">Gigrum стал часто отказывать в подтверждении новых профилей. Аргументируется это невостребованностью навыков среди клиентов, которые фрилансер указал при регистрации. Как все же пройти эту преграду и начать работать на Gigrum?</p>
      </div>
      <div class="question-item" [ngClass]="btnNumber === 3? 'active': 'none'">
        <h4 class="question-item__title" (click)="showfull(3)">Как подтвердить свой профиль на Gigrum?<div class="element-plus"></div></h4>
        <p class="question-item__text">Gigrum стал часто отказывать в подтверждении новых профилей. Аргументируется это невостребованностью навыков среди клиентов, которые фрилансер указал при регистрации. Как все же пройти эту преграду и начать работать на Gigrum?</p>
      </div>
      <div class="question-item" [ngClass]="btnNumber === 4? 'active': 'none'">
        <h4 class="question-item__title" (click)="showfull(4)">Есть ли комиссия работы на Gigrum?<div class="element-plus"></div></h4>
        <p class="question-item__text">Gigrum стал часто отказывать в подтверждении новых профилей. Аргументируется это невостребованностью навыков среди клиентов, которые фрилансер указал при регистрации. Как все же пройти эту преграду и начать работать на Gigrum?</p>
      </div>
    </div>
</section>
