<section class="about-offer">
  <h4 class="section-title">
    Другие услуги фрилансера <span>()</span>
  </h4>
  <div class="cards-list" *ngIf="offerData">
    <div class="card" *ngFor="let offer of offerData.user.userOffers">
      <div class="card-preview__bg" (click)="openOffer(offer.id)">
        <img class="card-preview" [src]="offer.mainImage">
      </div>
      <div class="card-description">

        <p class="card-description__about" (click)="openOffer(offer.id)">{{offer.title}}</p>
        <div class="card-description__bottom">
          <div class="card-description__level">{{offer.raiting}}</div>
          <div class="card-description__comments"><a>({{offer.comments_count}} отзывов)</a></div>
        </div>

      </div>
      <div class="card-bottom">
        <div class="card-bottom__like" [class.liked]="offer.liked"></div>
        <div class="card-bottom__price">
          от
          <span>{{offer.minPrice}}</span>
        </div>
      </div>

    </div>
  </div>
</section>

