<section class="another-services"  *ngIf="offerData.user.userOffers.length">
  <h4 class="section-title">
    Другие услуги фрилансера <span *ngIf="offerData.user.userOfferCount > 4">({{showedOffersCount}} из {{offerData.user.userOfferCount}})</span>
  </h4>
  <div class="cards-list" *ngIf="offerData">
    <ng-container *ngFor="let offer of offerData.user.userOffers; let i = index">
      <div class="card" *ngIf="i+1 <= showedOffersCount">
        <div class="card-preview__bg" (click)="openOffer(offer.id)">
          <img class="card-preview" [src]="offer.mainImage">
        </div>
        <div class="card-description">
  
          <p class="card-description__about" (click)="openOffer(offer.id)">{{offer.title}}</p>
          <div class="card-description__bottom">
            <div class="star-rating" [ngClass]="{'empty-rating': offer.rating === 0}">{{offer.rating}}</div>
            <div class="card-description__comments"><a>({{offer.comments_count}} отзывов)</a></div>
          </div>
  
        </div>
        <div class="card-bottom">
          <div class="card-bottom__like" [class.liked]="offer.liked"></div>
          <div class="card-bottom__price">
            от
            <span>{{offer.minPrice}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="btn-wrapper" *ngIf="offerData.user.userOfferCount > 4">
    <div class="btn-watch-more" [routerLink]="['/user', offerData.user_id]">больше услуг в профиле</div>
  </div>
</section>

