<div class="login-bl">
  <div class="container">
    <div class="row">
      <div class="">
        <h2>Войти в личный кабинет</h2>
        <p class="text">Рады видеть вас снова</p>
        <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="authenticate()">

          <mat-form-field appearance="legacy">
              <mat-label>Email</mat-label>
            <input matInput type="email" name="email"  formControlName="email" required>

            <mat-error *ngIf="loginForm.get('email').hasError('required')">{{ "Введите email" }}</mat-error>
            <mat-error *ngIf="loginForm.get('email').hasError('email')">{{
                  "Не корректный email"
                }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" required>
            <mat-label>Пароль</mat-label>
            <button class="pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide" [style.color]="hide ? '#DBDBDB': '#000'">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password').hasError('required')">{{ "Введите пароль" }}</mat-error>
          </mat-form-field>
          <section class="controls">
              <mat-checkbox  class="remember-me" formControlName="checked">Запомнить меня</mat-checkbox>
              <a [routerLink]="['/auth/reset-pass' | localize ]">Не помню пароль</a>
          </section>

          <section  class="submit">

            <button  mat-button  type="submit" mat-raised-button>
                Войти
            </button>


          </section >

        </form>
        <section class="social-login">
            <span>или  войти с помощью </span>
              <div class="social">
                  <button class="fb"></button><button class="gl"></button><button class="lin"></button>
              </div>
          </section>
      </div>
    </div>
  </div>
  <app-inform-popup *ngIf="message" [(message)] ="message"></app-inform-popup>
