<div class="login-bl">
  <div class="container">
    <div class="row">
      <div class="">
        <h2>{{'auth-page.login.title' | translate}}</h2>
        <p class="text">{{'auth-page.login.subtitle' | translate}}</p>
        <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="authenticate()">

          <mat-form-field >
              <mat-label>Email</mat-label>
            <input matInput type="email" name="email"  formControlName="email" required>

            <mat-error *ngIf="loginForm.get('email').hasError('required')">{{'auth-page.login.put-mail' | translate}}</mat-error>
            <mat-error *ngIf="loginForm.get('email').hasError('email')">
                  "{{'auth-page.login.wrong-mail' | translate}}"
                </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input class="pass" matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" required>
            <mat-label>{{'general.password' | translate}}</mat-label>

            <span class="show-pass" (click)="hide = !hide" [style.color]="hide ? '#DBDBDB': '#000'">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="loginForm.get('password').hasError('required')">{{'auth-page.login.put-password' | translate}}</mat-error>
          </mat-form-field>
          <section class="controls">
              <mat-checkbox  class="remember-me" formControlName="foreignComp">{{'auth-page.login.alient-pc' | translate}}</mat-checkbox>
              <a [routerLink]="['/auth/reset-pass' | localize ]">Н{{'auth-page.login.forgot-pass' | translate}}</a>
          </section>

          <section  class="submit">

            <button class="btn" type="submit"  >
              {{'general.enter' | translate}}
            </button>


          </section >

        </form>
        <section class="social-login">
            <span>или  войти с помощью </span>
              <div class="social">
                  <button  type="button" class="fb"></button><button type="button"class="gl"></button><button type="button" class="lin"></button>
              </div>
          </section>
      </div>
    </div>
  </div>
  <app-inform-popup *ngIf="message" [(message)] ="message"></app-inform-popup>
