<div class="user" *ngIf="userFinance" [ngClass]="paymentsFullSize? 'modal': ''">
    <div class="statistic">
        <!-- User finance statistic -->
        <section class="compressed-statistic">

          <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="main-statistic-carousel">
            <div class="statistic-item" *ngFor="let el of allStatisticInfo, let i = index">
              <div class="icon">
                  <img src="/assets/images/icons/finance/{{el.type}}.png" alt="">
              </div>
              <div class="data">
                  <p class="value">
                      <span *ngIf="el.type !== 'summ'">
                        {{ userFinance.purse[el.type] | thousandSeparator: "all"  }}
                      </span>
                      <ng-container *ngIf="i >1">
                          UAH
                      </ng-container>
                  </p>
                  <p class="title">&#32; {{ el.name | translate }}</p>
              </div>
            </div>
            <div class="statistic-item balance balance-copy laptop">
                <div class="icon"><img src="/assets/images/icons/finance/current.png" alt=""></div>
                <div class="data">
                    <p class="value"><span>{{ userFinance.purse.summ }}</span> UAH</p>
                    <p class="title">&#32; {{'dashboard.cards-on-top.balance' | translate}}</p>
                </div>
            </div>
          </ngx-slick-carousel>


          <button class="btn-next" (click)="next()"></button>
          <button class="btn-prev" (click)="prev()"></button>


        </section>
        <section class="graphics">
            <div class="graphic">
                <div class="title">{{'dashboard.finances.my-profit' | translate}} <span> (UAH)</span></div>
                <app-diagram></app-diagram>
            </div>
            <div class="calendar">
                <app-calendar [userFinance]="userFinance.history"></app-calendar>
                <div class="info">
                    <div>
                        <span>{{'general.income' | translate}}</span>
                    </div>
                    <div>
                        <span>{{'general.money-output' | translate}}</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="paymenst" (clickOutside)="rollPaymentsList()" [ngClass]="paymentsFullSize? 'full-size': ''">
            <div class="title">
                <span>{{'dashboard.payment-history.title' | translate}}</span> <span class="open" (click)="unrollPaymentsList()"></span>
            </div>
            <!-- Paymants-history -->
            <app-payment-history *ngIf="userFinance" [userFinance]="userFinance"></app-payment-history>
        </section>
        <div class="wallet wallet-section-copy laptop">
            <div class="wallet-section ">
                <div class="title">{{'dashboard.payment-history.input-output' | translate}}</div>
                <form class="form" #form=ngForm>
                    <div class="operation-type">
                        <mat-select name="transactionType" [(ngModel)]="transactions.transactionType" [(value)]="transactions.transactionType" required>
                            <mat-option [value]="'deffault'" disabled>{{'dashboard.cash-box.choose-operation-type' | translate}}</mat-option>
                            <mat-option [value]="'input'">
                                {{'dashboard.cash-box.input-money' | translate}}
                            </mat-option>
                            <mat-option [value]="'output'">
                                {{'dashboard.cash-box.output-money' | translate}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="cash-form">
                        <div class="count">
                            <p>{{'dashboard.cash-box.wright-summ' | translate}}</p>
                            <div>
                                <input [(ngModel)]="transactions.amount" id="count" type="text" name="amount" [ngClass]="{'invalid': submited && form.controls.name.invalid }"><label for="count">
                    <span>UAH</span></label>
                            </div>
                        </div>
                        <div class="password">
                            <p>{{'dashboard.cash-box.ur-password' | translate}}</p>
                            <input type="password" required [(ngModel)]="transactions.password" name="password" [ngClass]="{'invalid': submited && form.controls.password.invalid }">
                        </div>
                        <button class="btn" type="submit" (click)="makePayment(form)">{{'general.success' | translate}}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="wallet">
        <div class="balance">
            <div class="icon"><img src="/assets/images/icons/finance/current.png" alt=""></div>
            <div class="data">
                <p class="value"><span>{{ userFinance.purse.summ }}</span> UAH</p>
                <p class="title">&#32; {{'dashboard.cards-on-top.balance' | translate}}</p>
            </div>
        </div>
        <div class="wallet-section">
            <div class="title">{{'dashboard.payment-history.input-output' | translate}}</div>
            <form class="form" #form="ngForm">
                <div class="operation-type">
                    <mat-select name="transactionType" [(ngModel)]="transactions.transactionType" [(value)]="transactions.transactionType">
                        <mat-option [value]="'deffault'" disabled>{{'dashboard.cash-box.choose-operation-type' | translate}}</mat-option>
                        <mat-option [value]="'input'">
                            {{'dashboard.cash-box.input-money' | translate}}
                        </mat-option>
                        <mat-option [value]="'output'">
                            {{'dashboard.cash-box.output-money' | translate}}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="cash-form">
                    <div class="count">
                        <p>{{'dashboard.cash-box.wright-summ' | translate}}</p>
                        <div>
                            <input [(ngModel)]="transactions.amount" id="count" type="text"><label for="count">
                  <span>UAH</span></label>
                        </div>

                    </div>


                    <div class="password">
                        <p>{{'dashboard.cash-box.ur-password' | translate}}</p>
                        <input type="password" [(ngModel)]="transactions.password">
                    </div>
                    <button class="btn" type="submit" (click)="makePayment(form)">{{'general.success' | translate}}</button>
                </div>
            </form>

        </div>
    </div>

</div>
<div class="error-wrap" *ngIf="errorMessage">
    <div class="error">
        <p>Не верный пароль</p>
        <button class="submit-popup" (click)="tryPayAgain()">{{'general.back' | translate}}</button>
    </div>

</div>
