<div class="user-settings-wrapper">
  <h1>Настройки</h1>

  <mat-tab-group class="tabs" animationDuration="2000ms" mat-align-tabs="center" >
    <mat-tab label="Общие">
      <app-general-user-settings *ngIf="userSettingsModel" [userSettingsModel]="userSettingsModel"></app-general-user-settings>
    </mat-tab>
    <mat-tab label="Финансы"></mat-tab>
    <mat-tab label="Уведомления">
      <app-notifications-user-settings *ngIf="userSettingsModel" [userSettingsModel]="userSettingsModel"></app-notifications-user-settings>
    </mat-tab>
    <mat-tab label="Безопасность"></mat-tab>
  </mat-tab-group>
</div>



