.user-settings-wrapper{
  height: 100%;
  overflow: auto;
}
h1{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  margin: 30px;
  color: #323C47;
}
.mat-tab-group ::ng-deep{
  padding-bottom: 30px;
  .mat-tab-label{
    opacity: 1;
    &-content{
      font-size: 18px;
      line-height: 23px;
      color: #323C47;
      font-style: normal;
      font-weight: normal;
      font-family: "Source Sans Pro", sans-serif;
    }
    &-active{
      .mat-tab-label-content{
        font-weight: 600;
        color: #3C7EEA;
      }
    }
  }
   mat-ink-bar.mat-ink-bar{
    height: 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #3C7EEA;
  }
}
::ng-deep.save-all{
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;

  color: #FFFFFF;
  background: #3C7EEA;
  box-shadow: 0px 2px 4px rgba(60, 9, 179, 0.3);
  border-radius: 4px;
  border: none;
  margin: 30px auto 20px;
  padding: 17px 35px 15px;
  text-transform: uppercase;
}


@media (max-width: 1499px) {
  h1{
    margin: 30px auto 0px 15px; 
  }
  .mat-tab-group ::ng-deep{
    .mat-tab-label{
      opacity: 1;
      &-content{
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  ::ng-deep.save-all{
    padding: 10px 35px;
  }
}