.inform_section{
  // border-bottom: 1px solid #EBEEFF;
  &__title{
    // width: 31%;
    box-sizing: border-box;
    // padding: 50px 30px;
    border-bottom: 1px solid #EBEEFF;
  }
  &__fields{
    border-bottom: 1px solid #EBEEFF;
  }
  form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.inputs-wrapper{
  max-width: 630px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-title{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #707683;
}
.fields-title{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #323C47;
  margin: 0;
  margin-bottom: 3px;
}

.fields{
  margin-bottom: 15px;
  &-title{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #323C47;
    margin: 0;
    margin-bottom: 3px;

  }
  &-value{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    color: #707683;
    padding: 15px;
    box-sizing: border-box;
    background: #F4F7FC;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
}


.inputs-wrapper{
  max-width: 630px;
  position: relative;
  .field-block{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    &.basicNotification{
      flex-direction: column;
    }
  }
}

.fields-text{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #707683;
  margin: 0;
  max-width: 68%;
}
input[type=checkbox].tgl-classic + label{
  background: #fbfcfd;
}
.pckg-swap {
  display: flex;
  min-width: 40px;
  width: fit-content;
  justify-content: space-between;

  input[type="checkbox"]:checked+label+span {
    color: #3c7eea;
    font-weight: 600;
  }

  span {
    // margin-left: 13px;
    font-family: Source Sans Pro, sans-serif;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #707683;
  }
}

.checkbox{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  span{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #707683;
    padding-left: 15px;
  }
}

.form-butons{
  margin: 0 auto;
}
