<div class="wrapper">
    <div class="section-info">
        <div class="section-info__wrap">
            <h3 class="section-info__subtitle">{{'home-page.app-news-subtitle' | translate}}</h3>
            <h2 class="section-info__title">{{'home-page.app-news-title' | translate}}<br>
                {{'home-page.app-news-title2' | translate}}</h2>
            <p class="section-info__text">
                {{'home-page.app-news-text' | translate}}
            </p>
        </div>
    </div>
    <div class="section-img">
        <div class="img-wrap">
            <img class="phone-screen" src="assets/images/home-page/phone-screen.png" alt="">
            <div class="phone-message small">
                <img src="assets/images/home-page/app-news-message1.svg" alt="">
            </div>
            <div class="phone-message big">
                <img src="assets/images/home-page/app-news-message2.svg" alt="">
            </div>
        </div>
        <div class="side-wrap"></div>
    </div>
</div>
