.wrapper {
  display: flex;
}

.section-info {
  width: 50%;
  color: #C3DAFA;
  position: relative;
  padding: 90px 0 100px;

  &__wrap {
    position: relative;
    z-index: 9;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 15px;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.2px;
    margin: 0 0 28px;
    color: #FFFFFF;
  }

  &__text {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.2px;
    margin: 0;
  }

  &::before {
    content: "";
    width: 730px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 730px;
    height: 560px;
    background-image: url(/assets/images/home-page/app-news-decoration.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
  }
}

.section-img {
  width: 50%;
  position: relative;
  .img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    width: 275px;
    height: 562px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 50px 10px 60px;

    .phone-screen {
      width: auto;
      height: auto;
      position: relative;
    }

    .phone-message {
      display: flex;
      justify-content: center;
      align-items: center;

      background: #FFFFFF;
      box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
      border-radius: 3px;

      &.small {
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 88px;
        height: 106px;
      }

      &.big {
        position: absolute;
        left: 130%;
        top: 65%;
        transform: translate(-50%, -50%);
        width: 262px;
        height: 115px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      width: 38px;
      height: 38px;
      border: 3px solid #E7E7E7;
      border-radius: 50%;
    }
  }

  .side-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
  }
  &::before {
    content: "";
    width: 730px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    // width: 960px;
    // height: 1070px;
    background-image: url(/assets/images/home-page/app-news-decoration2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

@media (max-width: 1499px) {
  .section-info {
    &__subtitle {
      font-size: 12px;
      line-height: 15px;
    }

    &__title {
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 28px;
    }

    &__text {
      font-size: 18px;
      line-height: 23px;
    }

    &::before {
      width: 730px;
      height: 560px;
      top: 50%;
      left: 20%;
      width: 730px;
      height: 560px;
    }
  }

  .section-img {
    .img-wrap {
      width: 184.14px;
      height: 376px;
      padding: 33px 7px 40px;

      .phone-screen {
        max-width: 100%;
      }

      .phone-message {
        &.small {
          width: 59px;
          height: 71px;
        }

        &.big {
          left: 130%;
          top: 65%;
          width: 175px;
          height: 77px;
        }
        img{
            width: auto;
            height: auto;
            max-width: 90%;
            max-height: 90%;
            object-fit: contain;
        }
      }

      &::before {
        bottom: 8px;
        width: 25px;
        height: 25px;

      }
    }
    &::before{
      display: none;
    }
    .side-wrap {
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 0;

      &::before {
        width: 660px;
        height: 500px;
        top: 50%;
        left: 50%;
      }
    }
  }
}

@media (max-width: 1199px) {
  .section-info {
    width: 60%;
    padding: 40px 0 50px;
    &__subtitle {
      font-size: 12px;
      line-height: 15px;
    }

    &__title {
      font-size: 22px;
      line-height: 26px;
      margin: 0 0 15px;
    }

    &__text {
      font-size: 16px;
      line-height: 23px;
      max-width: 350px;
    }

    &::before {
      top: 50%;
      left: 30%;
      width: 380px;
      height: 380px;
    }
  }

  .section-img {
    width: 40%;
    .img-wrap {
      width: 166.02px;
      height: 339px;
      padding: 29px 6px 35px;
      .phone-message {
        &.small {
          width: 53.19px;
          height: 64.01px;
        }

        &.big {
          left: 100%;
          top: 65%;
          width: 157.78px;
          height: 69.42px;
        }
        img{
            width: auto;
            height: auto;
            max-width: 90%;
            max-height: 90%;
            object-fit: contain;
        }
      }
    }

    .side-wrap {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .section-info {
    padding: 20px 0 30px;

    &__subtitle {
      font-size: 10px;
      line-height: 13px;
      margin-bottom: 30px;
    }

    &__title {
      font-size: 18px;
      line-height: 21px;
      margin: 0 0 18px;
    }

    &__text {
      font-size: 14px;
      line-height: 18px;
      max-width: none;
    }

    &::before {
      top: 50%;
      left: 30%;
      width: 380px;
      height: 380px;
    }
  }

  .section-img {
    width: 40%;
    .img-wrap {
      width: 105px;
      height: 210px;
      padding: 18px 4px 21px;
      border-radius: 10px;
      .phone-message {
        &.small {
          width: 31.99px;
          height: 38.49px;
        }

        &.big {
          width: 94.88px;
          height: 41.75px;

        }
      }
      &::before{
        bottom: 4px;
        width: 13px;
        height: 13px;
      }
    }

    .side-wrap {
      display: none;
    }
  }
}
