.rating {
  text-align: center;
  width: 103px;
  display: flex;
  justify-content: space-between;
}
fa-icon {
  color: #ffcb55;
  font-size: 12px;
  line-height: 12px;
  max-height: 12px;
}
i {
  font-family: FontAwesome;

}
