<div class="wrapper">
  <div class="title">
    <div>
      <div class="breef-icon"></div>
      <div>
        <h4>Бриф</h4>
        <p>{{ collocutorData.offers_title }}</p>
      </div>
    </div>
  </div>

  <div class="breef" *ngIf="BreefItems"
    [ngClass]="{ 'show': isBreefElVisible && isBreefElVisible === true, 'hidden': !isBreefElVisible && isBreefElVisible === false }">
    <div>
      <div class="item" *ngFor="let breef of BreefItems, let i = index">
        <h5>{{i+1}}. {{ breef.title }}</h5>
        <p *ngIf="breef.isanswerArr !== true">{{ breef.answer }}</p>
        <ng-container *ngIf="breef.isanswerArr === true">
          <p *ngFor="let el of breef.answer">
            {{ el }}
          </p>
        </ng-container>

      </div>
    </div>
  </div>
  <button class="btn-tetraty breef-wrap-btn" (click)="showHideBreef()" [ngClass]="isBreefElVisible? 'up': 'down'"> {{ buttonText }}</button>
  <div class="breef-decisions-options"
    *ngIf="collocutorData.freelanser_id === userId && collocutorData.status == 'sentBreef' && !dealApproved">
    <button class="btn-sec" (click)="refuseBreef()">ОТКЛОНИТЬ</button>
    <button class="btn" (click)="approveBreef()">ПРИНЯТЬ ЗАЯВКУ</button>
  </div>
</div>
