<div class="wrapper" *ngIf="errorMessage && errorMessageText">

    <div class="message">
        <span class="close-popup" (click)="cancel()"></span>

        <img src="/assets/images/icons/attention.png" alt="attention">

        <p class="title">{{ errorMessageText.title }}</p>
        <p class="description">
            {{ errorMessageText.description }}
        </p>
        <div>
            <button class="cancel-popup" (click)="cancel()"><span>{{ errorMessageText.btn_cancel }}</span> </button>
            <button class="submit-popup" (click)="onSubmit()"><span>{{ errorMessageText.btn_submit }}</span> </button>
        </div>
    </div>
</div>