<div class="wrapper">
  <div class="menu">
    <div class="logo">
      <!-- <a [routerLink]="'' | localize"> <img src="assets/images/logo.svg" alt=""></a> -->
      <a [routerLink]="'' | localize"> Whocan</a>
    </div>
    <nav *ngIf="pageName !== 'authoriz'">
      <a [routerLink]="''">{{'header.how_it_works' | translate}}</a>
      <a [routerLink]="['/catalog', 'design'] | localize">Каталог</a>
      <a [routerLink]="''">Проэкты</a>
    </nav>
  </div>
  <div class="auth" *ngIf="pageName !== 'authoriz'">
    <div class="login">
      <a [routerLink]="'/auth' | localize" role="button">Вход</a>
    </div>
    <div class="registrate">
      <a [routerLink]="'/auth' | localize" role="button">Зарегистрироваться</a>
    </div>
  </div>
  <div *ngIf="pageName === 'authoriz'">
    <app-language></app-language>
  </div>
</div>
