<div class="step-wrapper" *ngIf="userService && titlePosition">
    <form #form="ngForm" (ngSubmit)="goNextStep(form)">
        <h3>{{'dashboard.create-service.first-step.title' | translate}}</h3>
        <span class="steps-counter">{{'dashboard.create-service.first-step.steps-counter' | translate}}</span>
        <h5>{{'dashboard.create-service.first-step.subtitle' | translate}}</h5>
        <mat-form-field floatLabel="always" class="service-title" appearance="outline" maxlength="70">
            <textarea name="title" #serviceTit [(ngModel)]="userService.title" matInput required maxlength="70" tooltip="{{'dashboard.create-service.first-step.tool-tip.name-title' | translate}}" tooltipDescription="{{'dashboard.create-service.first-step.tool-tip.name-subtitle' | translate}}"
                placement="{{titlePosition}}"></textarea>
            <mat-hint align="end">{{ serviceTit.value.length }}&nbsp;{{'dashboard.create-service.first-step.min-title-length' | translate}}</mat-hint>
        </mat-form-field>
        <div class="service-selects">
            <div class="category">
                <h5>{{'dashboard.create-service.first-step.category-title' | translate}}</h5>
                <mat-form-field appearance="outline">
                    <mat-select (ngModelChange)="loadSubcategoryFilter($event)" [(ngModel)]="userService.category" name="category" required tooltipDescription="{{'dashboard.create-service.first-step.tool-tip.category-subtitle' | translate}}" tooltip="{{'dashboard.create-service.first-step.tool-tip.category-title' | translate}}"
                        placement="right">
                        <mat-option *ngFor="let category of categoryList" [value]="category.link">
                            {{ category['name_' + currentLang] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="subcat" *ngIf="userService.category">
                <h5>{{'dashboard.create-service.first-step.subcategory-title' | translate}}</h5>
                <mat-form-field appearance="outline">
                    <mat-select required [(ngModel)]="userService.subCategory" name="subCategory" tooltipDescription="{{'dashboard.create-service.first-step.tool-tip.subcategory-subcategory' | translate}}" tooltip="{{'dashboard.create-service.first-step.tool-tip.subcategory-title' | translate}}"
                        placement="right">
                        <mat-option *ngFor="let subcategory of sub_categories" [value]="subcategory.link">
                            {{ subcategory['name_' + currentLang] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="tags">
            <h5>{{'dashboard.create-service.first-step.tags-title' | translate}}</h5>

            <mat-form-field class="example-chip-list" appearance="outline" ngbPopover="{{'dashboard.create-service.first-step.tool-tip.tag-subtitle' | translate}}" popoverTitle="{{'dashboard.create-service.first-step.tool-tip.tag-title' | translate}}" placement="right"
                popoverClass="popover" closeDelay="200">
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" color="silver" [removable]="removable" (removed)="remove(tag)">
                        {{tag.tag}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" [disabled]="tags.length === 5">
                </mat-chip-list>
            </mat-form-field>
            <span *ngIf="tags.length === 0">макс 5 тем</span>
            <span *ngIf="tags.length > 0">{{ tags.length }} из 5 тем</span>
        </div>

        <div class="portfolio"
        outsideTooltipOnHover="{{'dashboard.create-service.first-step.tool-tip.file-loader-title' | translate}}"
            outsideTooltipHoverDescription="{{'dashboard.create-service.first-step.tool-tip.file-loader-subtitle' | translate}}" placement="right"
        >

            <h5>{{'dashboard.create-service.first-step.portfolio-title' | translate}}</h5>

            <div class="items" >
                <ng-container *ngIf="previewUrl">
                    <div class="img-item" *ngFor="let imgUrl of previewUrl, let i = index" [ngClass]="{ 'main-photo': userService.mainImage == imgUrl.link}">
                        <div class="delete-file" (click)="deleteAttachment(imgUrl.id)"></div>
                        <img [src]="imgUrl.link" height="300" />
                        <div class="choose-as-main-photo" (click)="putAsMainPhoto(imgUrl.link)">{{'dashboard.create-service.first-step.main-photo-btn' | translate}} </div>
                    </div>

                </ng-container>

                <div class="dr-dp" appDragDrop (onFileDropped)="fileProgress($event)" >
                    <div class="upload"></div>
                    <span>.JPG .PNG .GIF </span>
                    <span class="dr-dr-text">{{'file-loader.drop-files' | translate}}</span>
                    <input type="file" id="file" multiple="true" class="input-file" #fileInput (change)="fileProgress($event.target.files)" />
                    <label for="file">{{'file-loader.click-here' | translate}}</label>
                </div>
            </div>
        </div>
        <div class="form-buttons">
            <button (click)="quite()" class="back">{{'general.exit' | translate}}</button>
            <button class="save" type="submit">
              {{'dashboard.create-service.save-and-next' | translate}}
            </button>
        </div>
    </form>
</div>
