h3 {
  margin-bottom: 19px;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 66%;

  h3 {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #323c47;
  }
}

form::ng-deep {
  *:not(mat-icon) {
    font-family: "Source Sans Pro", sans-serif;
  }

  .mat-placeholder-required.mat-form-field-required-marker.ng-star-inserted {
    display: none !important;
  }

  .mat-form-field-subscript-wrapper {
    padding: 0;
  }

  .mat-form-field-outline-thick {
    background-color: #fff;
    div {
      color: rgba(0, 0, 0, 0.1);
      border-width: 0px;
    }
  }

  h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #323c47;
    text-transform: uppercase;
    margin: 0 0 13px;
  }
  // .example-chip-list {
  //   .mat-form-field-infix {
  //     border: none;
  //     padding: 0;
  //   }
  // }
mat-form-field{
  &:not(.example-chip-list ) {
    .mat-form-field-infix {
      border: none;
      padding: 0;
    }
  }
  .mat-form-field-infix {
    border: none;
  }
}


  .mat-form-field-invalid .mat-input-element {
    caret-color: #323c47;
  }

  .mat-form-field-outline:first-of-type {
    color: #dce0e6;
    background-color: #fff;

    &+div div {
      color: #dce0e6;
      border-width: 1px;
    }
  }

  textarea {
    height: 60px;
    resize: none;
    margin: 15px 10px 5px;
  }

  ngb-popover-window {
    &.popover {
      background: #ffffff;
      box-shadow: 0px 15px 21px rgba(128, 152, 213, 0.5);
      border-radius: 8px;
      padding: 18px 23px 19px 28px;
      left: 14px !important;
      top: -5px !important;
      z-index: 2;
      max-width: 323px;

      &:before {
        content: "";
        position: absolute;
        left: -9px;
        top: 8px;
        width: 22px;
        height: 22px;
        background: #ffffff;
        -webkit-transform: rotate(47deg);
        transform: rotate(47deg);
        box-sizing: border-box;
        z-index: -1;
      }

      h3 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin: 0 0 12px;
      }

      .popover-body {
        margin: 0;
        font-family: "Source Sans Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;

        color: #707683;
      }
    }

    &.popover-select {
      top: 25px !important;
    }
    &.popover-file {
      top: -43px !important;
    }
  }

  .service-selects {
    .mat-form-field-infix {
      border-top: none;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding-left: 16px;
    }
  }

  .service-selects {
    .mat-form-field {
      &.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
        transform: none;
      }

      .mat-select-arrow {
        border: none;
        width: 24px;
        height: 24px;
        // background: #000;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 30%;
          height: 30%;
          border-bottom: 2px solid #000;
          border-left: 2px solid #000;
          transform: rotate(-45deg) translateY(50%);
        }
      }

      width: 100%;

      // &.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
      //   // color: #f44336;
      //   div {
      //     // color: #f44336;
      //   }
      // }
      .mat-form-field-outline:first-of-type {
        box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.1);
        background-color: #fff;
        div {
          border-color: rgba(220, 224, 230, 0.1);
        }
      }

      .mat-form-field-outline-thick {
        background-color: #fff;
        div {
          border-width: 1px;
          color: rgba(255,255,255);
          box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.1);
        }
      }

      .mat-form-field-infix {
        padding: 15px 0 10px 0;
        border-top: none;
      }

      .ng-star-inserted {
        // font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #323c47;

        &.mat-error {
          color: #f44336;
        }
      }

      mat-select {
        // border: 1px solid rgba(220, 224, 230, 0.1);
        //
        border-radius: 3px;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height, or 131% */

        color: #323c47;
      }
    }
  }

  .tags {
    mat-form-field {
      width: 100%;
    }
  }


}

::ng-deep .cdk-overlay-container {
  .mat-option {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    color: #707683;
  }

  .mat-option:hover:not(.mat-option-disabled),
  .mat-option:focus:not(.mat-option-disabled) {
    background: #3c7eea;
    color: #fff;
  }

  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    // bg selected
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #323c47;
  }
}

.service-selects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 23px 0;

  &>div {
    width: 46.6%;
  }

  h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #323c47;
  }
}

// ---------------------------file upload form ---------------------------
.items {
  display: flex;
  flex-wrap: wrap;
  .img-item {
    width: 198px;
    height: 198px;
    margin-right: 3%;
    margin-bottom: 20px;
    position: relative;
    button.delete-file {
      position: absolute;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-color: #fff;
      border: none;
      box-shadow: none;
      right: 13px;
      top: 13px;
      outline: none;
      padding: 0;
      cursor: pointer;
      outline: none;
      &:before{
        position: absolute;
        content: '\e900';
        font-size: 18px;
        font-family: 'icomoon';
        transform: translate(-50%, -50%);
        color:  red;
      }
    }
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border: 2px dashed #DCE0E6;

    }

    .main-photo{
      display: none;
      height: 44px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-49%);
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      background-color: #fff;
      border: none;
      cursor: pointer;
      outline: none;
      color: #4285F4;
      &:hover {
        color: #5695FD;
      }
      &:active {
        color: #1666EA;
      }
    }
    &:hover {
      .main-photo {
        display: block;
      }
    }
  }
  img {

    object-fit: contain;

  }

  .img-item +.dr-dp {
    width: 198px;
    height: 198px;
  }

}

.dr-dp {
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 213px;
  border: 1px dashed #dce0e6;
  position: relative;
  z-index: 2;
  .upload {
    position: relative;
    height: 41px;
    margin-bottom: 19px;
    &:before{
      position: absolute;
      content: '\e902';
      font-family: icoMoon;
      color: #BFC5D1;
      font-size: 40px;
      left: 50%;
      transform: translateX(-50%);

    }
  }


  span {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: #33596e;

    &:first-of-type {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */
      letter-spacing: -0.0841176px;
      margin-bottom: 7px;
    }
  }
}

.portfolio {
  img {
    width: 198px;
    height: 198px;


  }
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  &+label {
    cursor: pointer;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    color: #3c7eea;
  }

}


// -----------------buttons ----------------------//

.form-butons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    font-family: Source Sans Pro, sans-serif;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    // color: #4285F4;
    padding: 15px 24px;
    cursor: pointer;
    text-transform: uppercase;

    &:first-of-type {
      border: 1px solid #4285F4;
      background: #fff;
      color: #4285F4;
      box-shadow: none;
      &:hover {
        color: #fff;
        background: #3C7EEA;
        box-shadow: 0px 2px 4px rgba(60, 9, 179, 0.3);
      }
    }

    color: #fff;
    background: #3C7EEA;
    box-shadow: 0px 2px 4px rgba(60, 9, 179, 0.3);
    &:hover {
      border: 1px solid #4285F4;
      background: #fff;
      color: #4285F4;
      box-shadow: none;
    }
  }
}
