<div class="step-wrapper" *ngIf="userService">
  <form #form="ngForm" (ngSubmit)="goNextStep(form)">
    <h3>1. Титульная информация</h3>

    <h5>Название услуги</h5>
    <mat-form-field floatLabel="always" class="service-title" appearance="outline" maxlength="70" ngbPopover="Оно должно отражать суть вашего предложения
    и описывать услугу, которую вы готовы выполнить."
      popoverTitle="Введите название услуги" placement="right" popoverClass="popover" closeDelay="200">
      <textarea name="title" #serviceTit [(ngModel)]="userService.title" matInput required maxlength="70"></textarea>
      <mat-hint align="end">{{ serviceTit.value.length }} из 70 максимально</mat-hint>
    </mat-form-field>
    <div class="service-selects">
      <div class="category">
        <h5>Категория Вашей деятельности</h5>
        <mat-form-field appearance="outline" ngbPopover="Это позволит покупателям быстро найти Вашу услугу."
           popoverTitle="Выберите категорию, наиболее подходящую для Вашей услуги"
          placement="right" popoverClass="popover-select" closeDelay="200">
          <mat-select (ngModelChange)="loadSubcategoryFilter($event)" [(ngModel)]="userService.category" name="category"
            required>
            <mat-option *ngFor="let category of categoryList" [value]="category.link">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="subcat" *ngIf="userService.category">
        <h5>Подкатегория Вашей деятельности</h5>
        <mat-form-field appearance="outline" ngbPopover="Это позволит покупателям быстро найти Вашу услугу."
           popoverTitle="Выберите подкатегорию, наиболее подходящую для Вашей услуги"
          placement="right" popoverClass="popover-select" closeDelay="200">
          <mat-select required [(ngModel)]="userService.subCategory" name="subCategory">
            <mat-option *ngFor="let subcategory of sub_categories" [value]="subcategory.link">
              {{ subcategory.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="tags">
      <h5>Ключевые слова для поиска вашей услуги</h5>

      <mat-form-field class="example-chip-list" appearance="outline"
        ngbPopover="Это поможет заказчикам найти Вас во время поиска."
        popoverTitle="Введите теги" placement="right" popoverClass="popover tag" closeDelay="200">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable" color="silver" [removable]="removable"
            (removed)="remove(tag)">
            {{tag.tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" [disabled]="tags.length === 5">
        </mat-chip-list>
      </mat-form-field>
      <span *ngIf="tags.length === 0">макс 5 тем</span>
      <span *ngIf="tags.length > 0">{{ tags.length }} из 5 тем</span>
    </div>

    <div class="portfolio">
      <h5>Загрузка портфолио</h5>

      <div class="items">


        <ng-container *ngIf="previewUrl">
          <div class="img-item" *ngFor="let imgUrl of previewUrl, let i = index"
            [ngClass]="{ 'main-photo': userService.offerMainImage === imgUrl.link}">
            <div class="delete-file" (click)="deleteAttachment(imgUrl.id)">

            </div>
            <img [src]="'https://www.thecubetest.site/Backend/storage/app/' + imgUrl.link" height="300" />
            <div class="choose-as-main-photo" (click)="putAsMainPhoto(imgUrl.link)">сделать обложкой</div>
          </div>

        </ng-container>

        <div class="dr-dp" appDragDrop (onFileDropped)="fileProgress($event)" ngbPopover="Добавьте запоминающийся контент в свою галерею, чтобы отличаться от конкурентов.
        С загруженных файлов, вы можете выбрать один для титульного изображения на странице."
          popoverTitle="Загрузка портфолио" placement="right"
          popoverClass="popover-file" closeDelay="200">
          <div class="upload"></div>
          <span>.JPG .PNG .GIF </span>
          <span>Перетащите файлы или </span>
          <input type="file" id="file" multiple="true" class="input-file" #fileInput
            (change)="fileProgress($event.target.files)" />
          <label for="file">кликните сюда</label>
        </div>
      </div>
    </div>
    <div class="form-butons">
      <button (click)="quite()" class="back">выйти</button>
      <button class="save" type="submit">
        сохранить и продолжить
      </button>
    </div>
  </form>
</div>
