.wrapper::ng-deep {
    // padding: 25px 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    padding: 25px 15px 0;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    &>section:not(.file-loader) {
        height: 100%;
        // overflow: auto;
        display: flex;
        flex-direction: column;
        &>* {
            height: 100%;
        }
        .line {
            background: #f4f7fc;
            box-shadow: 0px 9px 21px rgba(128, 152, 213, 0.25);
            border-radius: 4px 4px 0px 0px;
            // height: 66px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
    }
    .collocutors {
        width: 23%;
        .line {
            padding: 27px 48px 18px 20px;
            font-family: Source Sans Pro, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 0.15px;
            text-transform: uppercase;
            color: #323c47;
            // justify-content: center;
            align-items: center;
            span {
                font-size: 14px;
                line-height: 16px;
                color: #707683;
                font-weight: 400;
            }
            a {
                text-decoration: none;
            }
        }
        .collocutors-wrap {
            height: 100%;
            background: #ffffff;
            box-shadow: -10px 9px 21px rgba(128, 152, 213, 0.15);
            border-radius: 0px 0px 4px 4px;
            // overflow: auto;
        }
    }
    .messager {
        width: 56%;
        .line {
            padding: 23px 23px 20px 20px;
            .collocutor {
                a {
                    text-decoration: none;
                    font-family: Source Sans Pro, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 23px;
                    color: #323c47;
                }
                span {
                    font-size: 14px;
                    line-height: 18px;
                    color: #707683;
                    margin-left: 24px;
                    font-weight: 400;
                }
            }
            .messager-tools {
                width: 64px;
                // background-color: red;
            }
        }
        .messager-wrap {
            background: #ffffff;
            box-shadow: 0px 9px 21px rgba(128, 152, 213, 0.25);
            border-radius: 0px 0px 4px 4px;
            height: 100%;
        }
    }
    .collocutors-tools {
        width: 19%;
        background: #ffffff;
    }
}

.attention {
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(224, 225, 249, 0.4);
        backdrop-filter: blur(8px);
        z-index: 1;
        top: 0;
        left: 0;
    }
}
// File Loader

.file-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(224, 225, 249, 0.3);
  backdrop-filter: blur(4px);
}
.toggleCollocutoInfo, .toggleCollocutor{
  display: none;
}

@media (max-width: 1499px) {
  .wrapper::ng-deep {
    padding: 19px 15px 0;
    .collocutors {
      width: 23%;
      .line {
        padding: 13px 18px 11px 18px;
        font-size: 13px;
      }
    }
    .messager {
      width: 55%;
      .line {
        padding: 12px 24px 12px 20px;
        .collocutor {
          a {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
    & > section:not(.file-loader) {
      .line {
        .collocutor{
          max-height: 20px;
        }
      }
    }
    .collocutors-tools{
      width: 20%;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper::ng-deep {
    justify-content: space-between;
    .collocutors-tools{
      // display: none!important;
      width: 30%;
      border: 1px solid #eae8ed;
      transition: all .3s ease-out;
      position: absolute;
      right: 5px;
      z-index: 10;
      &.open{
        right: 5px;
      }
      &.hidden{
        right: -190px;
      }
      .information{
        .rating{
          flex-wrap: wrap;
        }
      }
    }
    .messager{
      width: 60%;
      .line {
        .collocutor {
            a {
              font-size: 14px;
              line-height: 18px;
            }
        }
        .messager-tools {
            width: 64px;
            // background-color: red;
        }
      }
    }
    .collocutors {
      width: calc(40% - 15px);
      transition: all .3s ease-out;
    }
  }
  .toggleCollocutoInfo, .toggleCollocutor{
    display: block;
    background: #1565D8;
    border-radius: 50%;
    position: absolute;
    width: 28px;
    height: 28px!important;
    top: 40%;

    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background-image: url(/assets/images/icons/white-chevron-right.png);
      background-size: cover;
      height: 13px;
      width: 6px;
      transform: translate(-50%, -50%);
    }
  }
  .toggleCollocutoInfo{
    left: -15px;
    &:before{
      transform: translate(-50%, -50%) rotate(180deg);
    }
    &.open{
      &::before{
        transform: translate(-50%, -50%) ;
      }
    }
    &.hidden{
      &::before{
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
  .toggleCollocutor{
    right: -15px;
        &:before{
      transform: translate(-50%, -50%);
    }
    &.open{
      &::before{
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
    &.hidden{
      &::before{
        transform: translate(-50%, -50%);
      }
    }
  }
  .toggleCollocutor{
    display: none;
  }
}

@media (max-width: 767px) {
  .wrapper::ng-deep {
    .collocutors-tools{
      max-width: 260px;
      width: 100%;
      right: 5px;
      &.open{
        right: 0;
        z-index: 9;
      }
      &.hidden{
        right: -245px;
        z-index: 99;
      }
      .information{
        .rating{
          flex-wrap: wrap;
        }
      }
      app-messenger-tools{
        height: 100%;
        max-height: 100%;
        overflow-y: scroll;
      }
    }
    .messager{
      width: 100%;
      z-index: 1;
      .line {
        .collocutor {
            a {
              font-size: 14px;
              line-height: 18px;
            }
        }
        .messager-tools {
            width: 64px;
            // background-color: red;
        }
      }
      .text{
        width: 100%;
      }
      .photo{
        display: none;
      }
    }
    .collocutors {
      width: 260px;
      position: absolute;
      z-index: 9;
      left: 10px;
      border: 1px solid #eae8ed;
      &.hidden{
        left: -245px;
        z-index: 9;
      }
      &.open{
        z-index: 99;
        left: 0;
      }
    }
  }
  .toggleCollocutor{
    display: block;
  }
}
