<div class="step-wrapper">
  <form #form="ngForm" [formGroup]="packagesForm">
    <h3>3. Пакеты услуг и цены</h3>
    <div class="offer-packages">
      <!-- title -->
      <div class="package-title">
        <div>

        </div>
        <div>
          <h6>
              Базовый
          </h6>
        </div>
        <div>
          <h6>
              Стандарт
          </h6>
        </div>
        <div>
          <h6>
              Премиум
          </h6>
        </div>
      </div>
      <!-- descriptions -->
    <div class="packages-description">
      <div>text</div>
      <div class="textarea-wrap">
        <div class="textarea">
          <textarea name="" id="" ></textarea>
        </div>

      </div>
      <div class="textarea-wrap">
        <div class="textarea">
          <textarea name="" id="" ></textarea>
        </div>

      </div>
      <div class="textarea-wrap">
        <div class="textarea">
          <textarea name="" id="" ></textarea>
        </div>

      </div>
    </div>
<!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
    </div>
    <div class="form-butons">
      <button class="back">сохранить и выйти</button>
      <button class="save" (click)="saveStep()">сохранить и продолжить</button>
    </div>
  </form>
</div>


 <!-- <div class="package-fields packages">
    <div class="title">

    </div>
    <div class="short-description">
      <p>Краткое описание</p>
    </div>
  </div>
 basic packages
  <div class="basic-package packages">
    <div class="title">
      <h6></h6>
    </div>
    <div class="short-description">
      <textarea name="" rows="1">

      </textarea>
    </div>
  </div>
  <div class="advanced-packages">
     standart packages column
    <div class="standart-packages packages">
      <div class="title">
        <h6>Стандарт</h6>
      </div>
      <div class="short-description">
        <textarea name="" rows="1">

        </textarea>
      </div>
    </div>
     premium packages column
    <div class="premium-packages packages">
      <div class="title">
        <h6>Премиум</h6>
      </div>
      <div class="short-description">
        <textarea  name="" rows="1">

        </textarea>
      </div>
    </div>
  </div>
-->
