<div class="step-wrapper">
  <form #form="ngForm" [formGroup]="packagesForm">
    <div class="form-title">
      <h3>3. Пакеты услуг и цены</h3>

      <!-- <mat-slide-toggle>3 пакета</mat-slide-toggle> -->
      <div class="pckg-swap">
        <input class="tgl tgl-swp" id="cb2" type="checkbox" formControlName="allPackages"
          (ngModelChange)="changePackageAmount($event)" />
        <label class="tgl-btn" for="cb2"></label>
        <span>3 пакета</span>
      </div>
    </div>

    <!-- main options -->
    <div class="offer-packages">

      <!-- block hiden 2 pack -->
      <div class="show-all-pack" *ngIf="showPackages !== true">
        <h4>Оформите услуги в трёх ценовых вариантах</h4>
        <p>
          Расширьте свои возможности
        </p>
        <button class="btn" (click)="openAllPackages()">открыть</button>
      </div>

      <!-- packages-name-->
      <div class="package-name line">
        <div>

        </div>
        <div>
          <h6>
            Базовый
          </h6>
        </div>
        <div>
          <h6>
            Стандарт
          </h6>
        </div>
        <div>
          <h6>
            Премиум
          </h6>
        </div>
      </div>
      <!-- packages-title -->
      <div class="packages-titles line">
        <div class="packages-title title">
          <p>Название услуги</p>

        </div>
        <div class="packages-title">
          <div class="textarea">
            <textarea name="" id="" rows="2" maxlength="35"></textarea>
          </div>

        </div>
        <div class="packages-title">
          <div class="textarea">
            <textarea name="" id="" rows="2" maxlength="35"></textarea>
          </div>

        </div>
        <div class="packages-title">
          <div class="textarea">
            <textarea name="" id="" rows="2" maxlength="35"></textarea>
          </div>

        </div>
      </div>
      <!-- descriptions -->
      <div class="packages-description line">
        <div class="description-title">
          <p>
            Краткое описание
          </p>
        </div>
        <div class="textarea-wrap">
          <div class="textarea">
            <textarea name="" id="" maxlength="270"></textarea>
          </div>

        </div>
        <div class="textarea-wrap">
          <div class="textarea">
            <textarea name="" id="" maxlength="270"></textarea>
          </div>

        </div>
        <div class="textarea-wrap">
          <div class="textarea">
            <textarea name="" id="" maxlength="270"></textarea>
          </div>

        </div>
      </div>
      <!-- time to Do -->
      <div class="package-deadlines line">
        <div class="deadline-title title">
          <p>
            Сроки (дней)
          </p>
        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="3">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="3">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="3">
          </div>

        </div>
      </div>

      <!-- packages changes -->
      <div class="packages-changes line">
        <div class="packages-change title">
          <p>Кол-во правок</p>
        </div>
        <div>
          <div class="select-wrap">
            <mat-select formControlName="basicChanges">
              <mat-option *ngFor="let change of changesArrayCounter(); let i = index" [value]="change">
                {{ change }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div>
          <div class="select-wrap">
            <mat-select formControlName="classicChanges">
              <mat-option *ngFor="let change of changesArrayCounter(); let i = index" [value]="change">
                {{ change }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div>
          <div class="select-wrap">
            <mat-select formControlName="premiumChanges">
              <mat-option *ngFor="let change of changesArrayCounter(); let i = index" [value]="change">
                {{ change }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <!-- package price -->
      <div class="package-deadlines line">
        <div class="deadline-title title">
          <p>
            Цена
          </p>
        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="7" mask="000 000">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="7" mask="000 000">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="7" mask="000 000">
          </div>

        </div>
      </div>
      <!-- add options -->
      <div class="package-options " formArrayName="mainOptions">
        <div class="added-option line" *ngFor="let arrayItem of mainOptionsArray.controls; let i = index"
          [formGroupName]="i">


          <div class="option-title">
            <div class="input-wrap">
              <input type="text" formControlName="title" placeholder="Название опции" maxlength="15">
            </div>
            <i class="material-icons delete-pack" (click)="deleteMainOption(i)">delete</i>
            <!-- <span >delete</span> -->
          </div>
          <div class="checkbox-wrap">
            <input class="tgl tgl-classic" id="basic_{{ i }}" type="checkbox" formControlName="basic">
            <label for="basic_{{ i }}"></label>
          </div>
          <div class="checkbox-wrap">
            <input class="tgl tgl-classic" id="standart_{{ i }}" type="checkbox" formControlName="standart">
            <label for="standart_{{ i }}"></label>
          </div>
          <div class="checkbox-wrap">
            <input class="tgl tgl-classic" id="premium_{{ i }}" type="checkbox" formControlName="premium">
            <label for="premium_{{ i }}"></label>
          </div>
        </div>
        <div class="add-option" *ngIf="mainOptionsArray.controls.length < 10">

          <span class="add" (click)="addMainOptin()">
            <i class="material-icons">
              add_circle_outline
            </i>
            <span>Добавить опцию</span>
          </span>
        </div>
      </div>
    </div>
    <!-- extra options -->
    <div class="extra-packages-wrap">
      <h4>дополнительно к пакетам услуг </h4>
      <div class="extra-packages">
        <!-- options -->
        <div class="time-option">
          <div class="checkbox">
            <input type="checkbox" name="" class="tgl-classic" id="timeToDo">
            <label for="timeToDo"></label>
            <span class="options-name">Сжатые сроки</span>
          </div>
          <div class="options">
            <span>Сделаю за</span>
            <div>
              <div class="select-wrap">
                <mat-select formControlName="basicCompressTime">
                  <mat-option *ngFor="let change of changesArrayCounter(); let i = index" [value]="change">
                    {{ change }}
                  </mat-option>
                </mat-select>
              </div>
            </div>

          </div>
        </div>
        <!-- <div class="package-options " formArrayName="extraOptions"> -->


        <!-- <div class="added-option line" *ngFor="let arrayItem of extraOptionsArray.controls; let i = index"
          [formGroupName]="i">

            <div class="option-title">
              <div class="input-wrap">
                <input type="text" formControlName="title" placeholder="Название опции" maxlength="15">
              </div>
              <i class="material-icons delete-pack" (click)="deleteMainOption(i)">delete</i>
              
            </div>
            <div class="checkbox-wrap">
              <input class="tgl tgl-classic" id="basic_{{ i }}" type="checkbox" formControlName="basic">
              <label for="basic_{{ i }}"></label>
            </div>
            <div class="checkbox-wrap">
              <input class="tgl tgl-classic" id="standart_{{ i }}" type="checkbox" formControlName="standart">
              <label for="standart_{{ i }}"></label>
            </div>
            <div class="checkbox-wrap">
              <input class="tgl tgl-classic" id="premium_{{ i }}" type="checkbox" formControlName="premium">
              <label for="premium_{{ i }}"></label>
            </div> -->
        <!-- </div>  -->
        <!-- <div class="add-option" *ngIf="mainOptionsArray.controls.length < 10">

          <span class="add" (click)="addMainOptin()">
            <i class="material-icons">
              add_circle_outline
            </i>
            <span>Добавить опцию</span>
          </span>
        </div> -->
      </div>
    </div>

    <div class="form-butons">
      <button class="back">сохранить и выйти</button>
      <button class="save" (click)="saveStep()">сохранить и продолжить</button>
    </div>
  </form>
</div>
