<div class="step-wrapper">
  <form #form="ngForm" [formGroup]="packagesForm">
    <h3>3. Пакеты услуг и цены</h3>
    <div class="offer-packages">
      <!-- packages-name-->
      <div class="package-name line">
        <div>

        </div>
        <div>
          <h6>
            Базовый
          </h6>
        </div>
        <div>
          <h6>
            Стандарт
          </h6>
        </div>
        <div>
          <h6>
            Премиум
          </h6>
        </div>
      </div>
      <!-- packages-title -->
      <div class="packages-titles line">
        <div class="packages-title title">
          <p>Название услуги</p>

        </div>
        <div class="packages-title">
          <div class="textarea">
            <textarea name="" id="" rows="2" maxlength="35"></textarea>
          </div>

        </div>
        <div class="packages-title">
          <div class="textarea">
            <textarea name="" id="" rows="2" maxlength="35"></textarea>
          </div>

        </div>
        <div class="packages-title">
          <div class="textarea">
            <textarea name="" id="" rows="2" maxlength="35"></textarea>
          </div>

        </div>
      </div>
      <!-- descriptions -->
      <div class="packages-description line">
        <div class="description-title">
          <p>
            Краткое описание
          </p>
        </div>
        <div class="textarea-wrap">
          <div class="textarea">
            <textarea name="" id="" maxlength="270"></textarea>
          </div>

        </div>
        <div class="textarea-wrap">
          <div class="textarea">
            <textarea name="" id="" maxlength="270"></textarea>
          </div>

        </div>
        <div class="textarea-wrap">
          <div class="textarea">
            <textarea name="" id="" maxlength="270"></textarea>
          </div>

        </div>
      </div>
      <!-- time to Do -->
      <div class="package-deadlines line">
        <div class="deadline-title title">
          <p>
            Сроки (дней)
          </p>
        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="3">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="3">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="3">
          </div>

        </div>
      </div>

      <!-- packages changes -->
      <div class="packages-changes line">
        <div class="packages-change title">
          <p>Кол-во правок</p>
        </div>
        <div>
          <div class="select-wrap">
            <mat-select>
              <mat-option *ngFor="let change of changesArrayCounter(), let i = index" [value]="change">
                {{ change }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div>
            <div class="select-wrap">
              <mat-select>
                <mat-option *ngFor="let change of changesArrayCounter(), let i = index" [value]="change">
                  {{ change }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div>
              <div class="select-wrap">
                <mat-select>
                  <mat-option *ngFor="let change of changesArrayCounter(), let i = index" [value]="change">
                    {{ change }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
      </div>
      <!-- package price -->
      <div class="package-deadlines line">
        <div class="deadline-title title">
          <p>
            Цена
          </p>
        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="7" mask="000 000">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="7" mask="000 000">
          </div>

        </div>
        <div>
          <div class="input-wrap">
            <input type="text" knifeOnlyNumbers maxlength="7" mask="000 000">
          </div>

        </div>
      </div>
    </div>
    <div class="form-butons">
      <button class="back">сохранить и выйти</button>
      <button class="save" (click)="saveStep()">сохранить и продолжить</button>
    </div>
  </form>
</div>
