<div class="wrapper" *ngIf="collocutorData">
  <div class="line">
    <div class="collocutor">
      <a [routerLink]="'/user/' + collocutorData.collocutorId | localize" >
      {{ collocutorData.collocutorName }} {{ collocutorData.collocutorSurname }} </a><span>онлайн</span>
    </div>
    <div class="massager-tools">
      <app-show-uploaded-files [chatRoom]="collocutorData.roomId"></app-show-uploaded-files>
    </div>
  </div>
  <div class="massager-wrap">
    <div class="previous-massages" [ngClass]="canChatting? '': 'full'">
      <app-message-list [chatRoom]="collocutorData" *ngIf="collocutorData && messagesList" [messagesList]="messagesList"
      [chatType]="chatType"
        [collocutorData]="collocutorData"></app-message-list>
    </div>
    <form *ngIf="canChatting" #message="ngForm" (ngSubmit)="sendMessage(message)" class="message-input" >
      <div class="text-input">
        <textarea name="messageText" [ngModel]="messageText" #textarea id="message" placeholder="Сообщение"
          (keydown)="keyDown($event, message)"></textarea>
      </div>
      <div class="tools">
        <div>
          <app-emoji [textareaInput]="textareaInput"></app-emoji>
          <div class="file" (click)="openFilesLoader()">
            <!-- <app-upload-file></app-upload-file> -->
            <!-- <label class="add-file" for="add-file"></label>
            <input type="file" name="file-input" id="add-file"> -->
          </div>
        </div>
        <button type="submit" class="submit"></button>
      </div>
    </form>
    <!-- deal  -->
    <app-rate-deal *ngIf="dealCanBeRated && (isUserFreelancer && collocutorData.commented_freelancer == 0 || !isUserFreelancer && collocutorData.commented_customer == 0  )" [offer_id]="collocutorData.offers_id"></app-rate-deal>
  </div>
</div>
