<div class="step-wrapper">
    <form #form="ngForm" (ngSubmit)="nextStep(form)">
        <h3>4. Часто задаваемые вопросы</h3>
        <div class="form-group">
            <div *ngFor="let item of userService.offer_faq; let i = index">
                <div class="faq-item" [ngClass]="{ hiddenItem: showedItem !== i+1 }" [style.borderColor]="showedItem !== i+1  && (!question.valid || !answer.valid)? '#f44336': '#dce0e6'" outsideTooltip="Добавьте часто задаваемые вопросы. " outsideTooltipDescription="Составьте список часто задаваемых вопросов 
      от клиентов. Постарайтесь ничего не упустить, чтобы не тратить своё время и время покупателя.
      Впишите вопрос, а за ним ниже ответ." placement="right">
                    <div class="item-question">
                        <h6>{{ i+1 }}.
                            <ng-container *ngIf="userService.offer_faq[i].question">
                                {{ userService.offer_faq[i].question.substr(0, 45) }}</ng-container>
                        </h6>
                        <div class="item-options">
                            <button type="button" class="change"><i class="material-icons create"
                  (click)="changeFaqItem(i+1)">create</i></button>
                            <button type="button" class="delete"><i class="material-icons delete-pack"
                  (click)="deleteFaqItem(i)">delete</i></button>
                        </div>
                        <div class="question-title" [ngClass]="{ 'field-required': !question.valid && submited }">
                            <input type="text" required placeholder="Напишите вопрос" #question="ngModel" name="question-{{ i }}" maxlength="45" [(ngModel)]="userService.offer_faq[i].question">
                        </div>
                    </div>
                    <div class="item-unswer" [ngClass]="{ 'field-error': !answer.valid && submited }">
                        <quill-editor required [modules]="config" #answer="ngModel" [(ngModel)]="userService.offer_faq[i].answer" name="editor-{{i}}" placeholder="Ответьте на вышезаданный вопрос"></quill-editor>
                    </div>
                </div>
                <div class="options" *ngIf="showedItem === i+1">
                    <button type="button" class="btn-sec" [disabled]="userService.offer_faq.length === 1" (click)="showedItem = null">отменить</button>
                    <button type="button" [disabled]="(question.invalid || answer.invalid)" class="btn" (click)="hideItem()">Добавить</button>
                </div>
            </div>
            <div class="add-item">
                <button type="button" class="add btn-third" [disabled]="form.invalid" (click)="addFaqItem()">
          <i class="material-icons">
            add_circle_outline
          </i>
          <span>Добавить опцию</span>
        </button>
            </div>
        </div>
        <div class="form-butons">
            <button (click)="quite()" class="back">выйти</button>
            <button class="save" type="submit">сохранить и продолжить</button>
        </div>
    </form>
</div>