.option-wrap {
  position: relative;

  .delete-pack {
    left: -25px;
    top: 30px;
  }
  .create {
    left: -25px;
    top: -10px;
    position: absolute;
    font-size: 16px;
    color: #bfc5d1;
    cursor: pointer;
    &:hover {
        color: #649af3;
    }
  }
}

.secondary-extra-options ::ng-deep {
  width: 100% !important;
  .select-wrap-extra {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .mat-select-trigger {
    width: 100%;
  }
}
.material-icons {
  font-size: 18px;
}
button.hide-option{
  display: flex;
  align-items: center;
  span {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .option-wrap{
    .create{
      left: auto;
      right: 20px;
      bottom: -25px;
      top: auto;
      display: block;
      width: max-content;
    }
    .delete-pack{
      left: auto;
      right: 60px;
      bottom: -25px;
      top: auto;
      display: block;
      width: max-content;
    }
  }
}
