.wrapper{
    padding: 150px 0 150px;
}
.main-info{
    margin-bottom: 70px;
}
.freelancer-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -19px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        
        z-index: 0;
        top: -70px;
        right: 0px;
        width: 102px;
        height: 118px;
        background-image: url(/assets/images/images/dots-advantages.svg)
    }
}
.freelancer-item__wrapper{
    width: calc(33% - 36px);
    margin: 0 18px 64px;
    text-decoration: none;
    z-index: 9;
}
.freelancer-item{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(128, 152, 213, 0.2);
    border-radius: 16px;
    z-index: 9;
    height: 100%;
    padding: 23px 29px 26px;
    &__top{
        margin-bottom: 14px;
        display: flex;
        align-items: center;
    }
    &__icon{
        width: 45px;
        height: 45px;
        margin-right: 20px;
        img{
            width: auto;
            height: auto;
            object-fit: cover;
        }
    }
    &__title{
        font-size: 22px;
        line-height: 28px;
        color: #323C47;
        font-weight: 600;
    }
    &__text{
        font-size: 18px;
        line-height: 23px;
        color: #707683;
        max-width: 320px;
        margin-left: 65px;
    }
}

@media (max-width: 1499px) {
    .wrapper{
        padding: 80px 0 80px;
    }
    .main-info{
        max-width: 440px;
        margin-bottom: 40px;
    }
    .freelancer-list{
        margin: 0 -16px;
        &::after{
            content: "";
            position: absolute;
            z-index: 0;
            top: -70px;
            right: 0px;
            width: 102px;
            height: 118px;
            background-image: url(/assets/images/images/dots-advantages.svg)
        }
    }
    .freelancer-item__wrapper{
        width: calc(33% - 30px);
        margin: 0 15px 40px;
    }
    .freelancer-item{
        &__top{
            margin-bottom: 5px;
        }
        &__icon{
            width: 33px;
            height: 33px;
            margin-right: 14px;
            img{
                max-width: 100%;
            }
        }
        &__title{
            font-size: 16px;
            line-height: 18px;
        }
        &__text{
            font-size: 14px;
            line-height: 18px;
            margin-left: 48px;
        }
    }
}

@media (max-width: 1199.98px) {
    .wrapper{
        padding: 80px 0 80px;
    }
    .main-info{
        max-width: 440px;
        margin-bottom: 30px;
        &__wrap{
            margin-bottom: 30px; 
        }
    }
    .freelancer-list{
        margin: 0 -16px;
        &::after{
            content: "";
            position: absolute;
            z-index: 0;
            top: -70px;
            right: 0px;
            width: 102px;
            height: 118px;
            background-image: url(/assets/images/images/dots-advantages.svg)
        }
    }
    .freelancer-item__wrapper{
        width: calc(33% - 30px);
        margin: 0 15px 25px;
    }
    .freelancer-item{
        padding: 20px 5px 18px 19px;
        &__top{
            margin-bottom: 12px;
            align-items: flex-start;
        }
        &__icon{
            width: 20px;
            height: 20px;
            margin-right: 12px;
            display: flex;

            img{
                max-width: 100%;
            }
        }
        &__title{
            font-size: 13px;
            line-height: 15px;
        }
        &__text{
            font-size: 13px;
            line-height: 16px;
            margin-left: 0;
        }
    }
}
@media (max-width: 767.98px) {
    .wrapper{
        padding: 10px 15px 20px;
    }
    .freelancer-item__wrapper{
        max-width: 240px;
        width: 100%;
        margin: 0 15px 25px;
    }
    .freelancer-item{      
        padding: 21px 10px 20px 19px;
        &__top{
            align-items: center;
        }

        &__title{
            font-size: 13px;
            line-height: 15px;
        }
        &__text{
            font-size: 13px;
            line-height: 16px;
            margin-left: 0;
        }
    }
    .freelancer-list{
        margin: 0;
        justify-content: center;
        &::after{
            display: none;
        }
    }
}