<div class="wrapper">
  <div class="main-info">
    <div class="main-info__wrap">
      <h3 class="section__subtitle">{{'home-page.specialist-subtitle' | translate}}</h3>
      <h2 class="section__title">{{'home-page.specialist-title' | translate}}</h2>
    </div>
  </div>
  <div class="freelancer-list">

    <a [routerLink]="['/catalog', 'Design-Art'] | localize" class="freelancer-item__wrapper">
      <div class="freelancer-item">
        <div class="freelancer-item__top">
          <div class="freelancer-item__icon"><img src="assets/images/home-page/specialist-designer.svg" alt="">
          </div>
          <div class="freelancer-item__title">{{'home-page.specialist-item1' | translate}}</div>
        </div>
        <div class="freelancer-item__text">{{'home-page.specialist-item1-text' | translate}}
        </div>
      </div>
    </a>

    <a [routerLink]="['/catalog', 'Webprogramming'] | localize" class="freelancer-item__wrapper">
      <div class="freelancer-item">
        <div class="freelancer-item__top">
          <div class="freelancer-item__icon"><img src="assets/images/home-page/specialist-web.svg" alt=""></div>
          <div class="freelancer-item__title">{{'home-page.specialist-item2' | translate}}</div>
        </div>
        <div class="freelancer-item__text">{{'home-page.specialist-item2-text' | translate}}</div>
      </div>
    </a>

    <a [routerLink]="['/catalog', 'WorkingwithTexts'] | localize" class="freelancer-item__wrapper">
      <div class="freelancer-item">
        <div class="freelancer-item__top">
          <div class="freelancer-item__icon"><img src="assets/images/home-page/specialist-copyright.svg" alt=""></div>
          <div class="freelancer-item__title">{{'home-page.specialist-item3' | translate}}</div>
        </div>
        <div class="freelancer-item__text">{{'home-page.specialist-item3-text' | translate}}
        </div>
      </div>
    </a>
    <a [routerLink]="['/catalog', 'Marketing', 'SEOsiteaudit'] | localize" class="freelancer-item__wrapper">
      <div class="freelancer-item">
        <div class="freelancer-item__top">
          <div class="freelancer-item__icon"><img src="assets/images/home-page/specialist-seo.svg" alt=""></div>
          <div class="freelancer-item__title">{{'home-page.specialist-item4' | translate}}</div>
        </div>
        <div class="freelancer-item__text">{{'home-page.specialist-item4-text' | translate}}</div>
      </div>
    </a>
    <a [routerLink]="['/catalog', 'Marketing'] | localize" class="freelancer-item__wrapper">
      <div class="freelancer-item">
        <div class="freelancer-item__top">
          <div class="freelancer-item__icon"><img src="assets/images/home-page/specialist-marketing.svg" alt=""></div>
          <div class="freelancer-item__title">{{'home-page.specialist-item5' | translate}}</div>
        </div>
        <div class="freelancer-item__text">{{'home-page.specialist-item5-text' | translate}}</div>
      </div>
    </a>
    <a [routerLink]="['/catalog', 'Audio-Video'] | localize" class="freelancer-item__wrapper">
      <div class="freelancer-item">
        <div class="freelancer-item__top">
          <div class="freelancer-item__icon"><img src="assets/images/home-page/specialist-video.svg" alt=""></div>
          <div class="freelancer-item__title">{{'home-page.specialist-item6' | translate}}</div>
        </div>
        <div class="freelancer-item__text">{{'home-page.specialist-item6-text' | translate}}</div>
      </div>
    </a>

  </div>
</div>
