.user-menu {
  position: relative;
  & > div:first-of-type {
    display: flex;
    align-items: center;
  }
  span {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #707683;
    margin-right: 15px;
    cursor: pointer;
  }
  .img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    img {
      width: 130%;
      height: auto;
      min-height: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%);
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}

.menu {
  position: absolute;
  z-index: 15;
  right: 0;
  top: 52px;
  width: 200px;
  padding: 10px 10px 0px;
  background: #FFFFFF;
  border: 1px solid rgba(220, 224, 230, 0.1);
  box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
  border-radius: 3px;
  &::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -10px;
    transform: translateX(-50%);
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    box-shadow: 6px 25px 32px rgba(128, 152, 213, 0.5);
  }
  &.close {
    display: none;
  }
  &.open {
    display: block;
  }

  ul {
    list-style-type: none;
    padding: 0;
    a {
      text-decoration: none;
      color: #000;
    }
    li {
      cursor: pointer;
      margin: 6px 0;
      font-size: 16px;
      line-height: 24px;
      background-color: transparent;
      &.system-item{
        color: #707683;
        a{
          color: #707683;
        } 
      }
      &.arrow-top{
        padding-top: 5px;
        margin-top: 10px;    
        border-top: 1px solid #EBEEFF;
      }
    }
  }

}
@media (max-width: 1199.98px) {
  .user-menu {
    max-width: 160px;
    .img{
      min-width: 40px;
    }
    span{
      font-size: 14px;
      margin-right: 8px;
    }
  }
}
@media (max-width: 767.98px) {
  .user-menu span{
    display: none;
  }
  .menu.open{
    display: block;
    min-width: 150px;
    right: -15px;
    top: 45px;
  }
}
