<div class="user-menu" *ngIf="user" (click)="toggleMenu()">
  <div>
    <span>Привет, {{ user.name }}</span>
    <div class="img">
      <img [src]="user.avatar" alt="">
    </div>
  </div>
  <div class="menu" [ngClass]="menuOpen? 'open': 'close'">
    <ul>
      <li> <a [routerLink]="'/dashboard'| localize">Дашбоард</a> </li>
      <li> <a [routerLink]="'/dashboard/finance'| localize">Финансы</a> </li>
      <li> <a [routerLink]="'/dashboard/chat-room'| localize">Чат</a> </li>
      <li> <a [routerLink]="'/dashboard/projects'| localize">Проекты</a> </li>  
      <li> <a [routerLink]="'/dashboard/my-services'| localize">Мои услуги</a> </li>
      <li class="system-item arrow-top"> <a [routerLink]="'/dashboard/settings'| localize">Настройки</a> </li>
      <li class="system-item" (click)="logOut()">Выйти</li>
    </ul>
  </div>
</div>
