.pagination-wrapper{
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 16px 27px;
  margin: 50px auto;
  width: fit-content;
}

.pagination{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  .page-item{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;
    margin: 0 4px;
    border-radius: 2.85px;

    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    font-family: Source Sans Pro;
    color: #AAB2C0;
    cursor: pointer;
    a{
      text-decoration: none;
      color: #AAB2C0;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    &:hover{
      background: #0077FF;
      a{
        color: #FFFFFF;
      }
    }
    &.active{
      background: #0077FF;
      a{
        color: #FFFFFF;
      }
    }
    &.disabled{
      pointer-events: none;
    }
  }
  .next-item, .previous-item {
    background: #BFC5D1;
    margin: 0 15px;
    a{
      color: #FFFFFF;
      position: relative;
    }
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .next-item img {

    transform: translate(-50%, -50%) rotate(180deg);
  }
  .hidden-pages{

    &:hover{
      background: transparent;
    }
    &.hidden {
      display: none;
      cursor: default;
    }
  }
}
