.wrapper{
  max-width: 1499px;
  min-height: 600px;
  margin: 0 auto;
}
.bread-crumbs{
  margin-top: 35px;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }
  li{
    padding-right: 20px;
    position: relative;
    &::after {
      content: ">";
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    a{
      text-decoration: none;
      font-family: "Source Sans Pro";
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #323C47;
    }
    &:last-child{
      a{
        font-weight: 600;
      }
      &::after{
        display: none;
      }
    }
    &:hover{
      a{
        text-decoration: underline;
      }
    }
  }
}
.category-title{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #323C47;
  text-align: center;
}



.pagination-wrapper{
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 16px 27px;
  margin: 75px auto;
  width: fit-content;
}

.pagination{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  .page-item{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;
    margin: 0 4px;
    border-radius: 2.85px;

    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    font-family: Source Sans Pro;
    color: #AAB2C0;
    cursor: pointer;
    a{
      text-decoration: none;
      color: #AAB2C0;
    }
    &:hover{
      background: #0077FF;
      a{
        color: #FFFFFF;
      }
    }
  }
  .next-item, .previous-item {
    background: #BFC5D1;
    margin: 0 15px;
    a{
      color: #FFFFFF;
    }
  }
  .hidden-pages{
    &:hover{
      background: transparent;
    }
  }
}
