.wrapper{
  max-width: 1499px;
  margin: 0 auto;
}
.bread-crumbs{
  margin-top: 35px;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }
  li{
    padding-right: 20px;
    position: relative;
    &::after {
      content: ">";
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    a{
      text-decoration: none;
      font-family: "Source Sans Pro";
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #323C47;
    }
    &:last-child{
      a{
        font-weight: 600;
      }
      &::after{
        display: none;
      }
    }
    &:hover{
      a{
        text-decoration: underline;
      }
    }
  }
}
.category-title{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #323C47;
  text-align: center;
}

.pagination{
  display: flex;
  list-style-type: none;


  li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 1px solid black;
  }
}

