<section class="chart-wrap">
  <div class="title">
    <div class="current-year">Год: <span>{{ showedYear }}</span></div>
    <div class="chart-year-btns">
      <button class="prev" *ngIf="showedYear >2020" (click)="prevYear()">{{ showedYear -1  }} год</button>
      <button class="next" (click)="nextYear()">{{ showedYear + 1 }} год</button>
    </div>
  </div>
  <div class="chart">
    <div class="score">
      <div>{{ maxInput | thousandSeparator }}</div>
      <div *ngFor="let el of stepsCount | reverse">{{ maxInput/maxStepCount * el | thousandSeparator }}</div>
      <div>
      </div>
    </div>
    <div class="charts-items">
      <div class="charts-data">
        <div class="lines">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="chart-items">
          <div class="chart-item" *ngFor="let line of yearsCash" [style.height.%]="line.value / maxInput*100" >
            <span>{{ line.value }}</span>
          </div>
        </div>
      </div>
      <div class="months" >
        <span *ngFor="let month of allMonths">{{ month | monthPipe: 'MMMM' }}</span>
        </div>
    </div>
  </div>
</section>
