

  h3 {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #323c47;
    margin-bottom: 19px;
  margin-top: 0;
  }
