<div class="step-wrapper">
    <form #form="ngForm" >
      <h3>5. Готово к публикации</h3>
      <section>
          <h4>
              Вы почти у цели!
          </h4>
          <p>
              Публикуйте услугу и получайте уже первые заказы.
          </p>
      </section>
      <div class="form-butons">
        <button class="back" (click)="roureToServices()">сохранить и выйти</button>
        <button class="save" (click)="publishOffer()">опубликовать</button>
      </div>
    </form>
  </div>
