<header>
<app-main-header></app-main-header>
</header>
<div class="wrapper"></div>
<section class="search">
    <app-home-page-search></app-home-page-search>
</section>
<section class="advantages">
    <div class="arrows">
        <img class="arrow" src="assets/images/images/arow-advantages.svg" alt="">
        <img class="arrow" src="assets/images/images/arow-advantages2.svg" alt="">
    </div>
    <app-home-page-advantages></app-home-page-advantages>
</section>
 <section class="how-work">
    <app-home-page-how-work></app-home-page-how-work>
</section>
<section class="find-specialist">
    <div class="arrows">
        <img class="arrow" src="assets/images/home-page/find-specialiset-line.svg" alt="">
        <img class="arrow" src="assets/images/home-page/find-specialiset-line.svg" alt="">
    </div>
    <app-home-page-find-specialist></app-home-page-find-specialist>
</section>

<section class="question">
    <div class="arrows">
        <img class="arrow" src="assets/images/home-page/find-specialiset-line.svg" alt="">
        <img class="arrow" src="assets/images/home-page/find-specialiset-line.svg" alt="">
    </div>
    <app-home-page-questions></app-home-page-questions>
</section>
<section class="app-news">
    <app-home-page-app-news></app-home-page-app-news>
</section>
<section class="support">
    <app-home-page-support></app-home-page-support>
</section>
<section class="get-start">
    <div class="wrapper">
        <div class="get-start__wrap">
            <div class="top">
                <h3 class="get-start__title">Готовы начать?</h3>
                <p class="get-start__text">Создайте аккаунт и находите лучших фрилансеров для своего бизнеса. </p>    
            </div>
            <a class="btn" [routerLink]="['/auth'] | localize">Создать аккаунт</a>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="wrapper">
        <div class="columns-list">
            <div class="column column-info">
                <h4>gigrum</h4>
                <p>oнлайн биржа фрилансеров для бизнеса</p>
            </div>
            <ul class="column">
                <li class="column-title">Категории</li>
                <li class="column-item"><a [routerLink]="['/catalog', 'Design-Art'] | localize">Графика и Дизайн </a></li>
                <li class="column-item"><a [routerLink]="['/catalog', 'Webprogramming'] | localize">Вёрстка и Разработка </a></li>
                <li class="column-item"><a [routerLink]="['/catalog', 'WorkingwithTexts'] | localize">Копирайтинг и Переводы </a></li>
                <li class="column-item"><a [routerLink]="['/catalog', 'Marketing', 'SEOsiteaudit'] | localize">SЕО и Аналитика </a></li>
                <li class="column-item"><a [routerLink]="['/catalog', 'Marketing'] | localize">Интернет маркетинг </a></li>
                <li class="column-item"><a [routerLink]="['/catalog', 'Audio-Video'] | localize">Видио и Анимация </a></li>
            </ul>
            <ul class="column">
                <li class="column-title">Поддержка</li>
                <li class="column-item"><a>Центр поддержки </a></li>
                <li class="column-item"><a>Вопросы </a></li>
                <li class="column-item"><a>Условия соглашения </a></li>
                <li class="column-item"><a>Отказ от ответственности </a></li>
                <li class="column-item"><a>Политика конфиденциальности </a></li>
            </ul>
            <ul class="column">
                <li class="column-title">Gigrum</li>
                <li class="column-item"><a>Как это работает </a></li>
                <li class="column-item"><a>Вопросы </a></li>
                <li class="column-item"><a>Блог </a></li>
            </ul>
        </div>
        <div class="copyright">
            <span>© Gigrum, все права защищены, 2019</span>
        </div>
    </div>
    <div class="arrows">
        <img class="arrow" src="assets/images/home-page/gray-line.svg" alt="">
        <img class="arrow" src="assets/images/home-page/gray-line2.svg" alt="">
    </div>
</footer>