h1 {
  text-align: center;
}

:host::ng-deep {
  div{
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
  }
  .wrapper{
    width: 100%;
    max-width: 1495px;
    margin: 0 auto;
  }
  .section__subtitle{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #36B37E;
    margin: 0 0 20px;
  }
  .section__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin: 0 0 55px;
    color: #323C47;
  }
  .btn{
    &.outline{
      border: 1px solid #4285f4;
      background: #fff;
      color: #4285f4;
      box-shadow: none;

      &:hover{
        color: #5695FD;
        background: #fff;
        border: 1px solid #5695FD;
        box-shadow: 0px 2px 4px rgba(60, 9, 179, 0.3);
      }
      &:active{
        color: #1666EA;
        border: 1px solid #1666EA;
      }
    }
  }
}

.search{
  background-color: #F6FAFF;
  width: 100%;
  height: 810px;
  position: relative;
  overflow: hidden;
  background-image: url(/assets/images/images/pseudo-elements3.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  &::after{
    content: "";
    position: absolute;
    background-image: url(/assets/images/images/pseudo-elements.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35%;
    height: 45%;
    top: 10%;
    left: 0%;
    z-index: 5;
  }
  &::before{
    content: "";
    position: absolute;
    background-image: url(/assets/images/images/pseudo-elements2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35%;
    height: 45%;
    top: -20%;
    right: -5%;
    z-index: 5;
  }
}

.advantages{
  background-color: #F6FAFF;
  position: relative;
  height: 80%;
  .arrows{
    width: 100%;
    height: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .arrow{
      position: absolute;
      width: 100%;
    }
  }
}

.how-work{
  padding: 150px 0 50px;
}

.find-specialist{
  background-image: url(/assets/images/home-page/find-specialist-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  .arrows{
    position: absolute;
    width: 100%;
    height: auto;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    .arrow{
      position: absolute;
      width: 100%;
      &:first-child{
        top: -50px;
      }
    }
  }
}

.question{
  position: relative;
  padding-top: 200px;
  overflow: hidden;
  z-index: 1;
  .arrows{
    position: absolute;
    width: 100%;
    height: 390px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
    .arrow{
      position: absolute;
      width: 100%;
      &:first-child{
        transform: rotate(180deg)
      }
      &:last-child{
        transform: rotate(6deg);
      }
    }
  }
  &::before{
      content: "";
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 73%;
      width: 100%;
      height: 100%;
      max-width: 700px;
      max-height: 700px;
      background: #F6FAFF;
      border-radius: 97px;
      transform: translate(-50%, -50%) rotate(29.35deg);
  }
}

.app-news{
  background: #3C7DEA;
  // padding: 90px 0 100px;
  // overflow-x: hidden;
}
.support{
  z-index: 9;
}

.get-start{
  background: linear-gradient(180deg, #F6FAFF 0%, rgba(250, 251, 251, 0.0001) 100%);
  padding: 200px 200px 100px;
  .wrapper{
    position: relative;
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: -80px;
      left: 70px;
      width: 102px;
      height: 118px;
      background-image: url(/assets/images/images/dots-advantages.svg)
    }
  }
  &__wrap{
    max-width: 1240px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(128, 152, 213, 0.16);
    border-radius: 15px;
    padding: 50px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    position: relative;
    .top{
      width: 70%;
    }
  }
  &__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #323C47;
  }
  &__text{
    font-size: 24px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #707683;
    margin: 0;
  }
  .btn{
    color: #fff;
  }
}

@media (max-width: 1499px) {
  :host::ng-deep {
    .wrapper{
      max-width: 1010px;
    }
    .section__subtitle{
      font-size: 12px;
      line-height: 15px;
      margin: 0 0 16px;
    }
    .section__title{
      font-size: 36px;
      line-height: 45px;
      margin: 0 0 25px;
    }
  }

  .search{
    height: 540px;
    &::after{
      width: 75%;
      height: 105%;
      top: 0%;
      left: -20%;
    }
    &::before{
      width: 85%;
      height: 95%;
      top: -50%;
      right: -15%;
    }
  }
  .how-work{
    padding: 120px 0 0px;
  }
  .question{
    padding-top: 100px;
    .arrows{
      position: absolute;
      width: 100%;
      height: 390px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      overflow: hidden;
      .arrow{
        position: absolute;
        width: 100%;
        &:first-child{
          transform: rotate(180deg)
        }
        &:last-child{
          transform: rotate(6deg);
        }
      }
    }
    &::before{
      top: 50%;
      left: 73%;
      max-width: 500px;
      max-height: 500px;
    }
  }
  .app-news{
    padding: 50px 0 60px;
  }
  .get-start{
    padding: 80px 150px;
    .wrapper{
      &::after {
        top: -40px;
        left: -60px;
      }
    }
    &__wrap{
      max-width: 840px;
      padding: 30px 20px;
    }
    &__title{
      font-size: 24px;
      line-height: 30px;
    }
    &__text{
      font-size: 16px;
      line-height: 20px;
    }
  }
  .footer{
    height: 400px;
    &::after{
      width: 35%;
      height: 100%;
      top: 10%;
      left: -6%;
    }
    &::before{
      width: 65%;
      height: 85%;
      bottom: -20%;
      right: -5%;
    }
    .column{
      width: 16%;
      margin-bottom: 20px;
      &-title{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 15px;
      }
      &-item{
        font-size: 14px;
        line-height: 18px;
      }
    }
    .copyright{
      font-size: 13px;
      line-height: 16px;
    }
    .arrows{
      width: 100%;
      height: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .arrow{
        position: absolute;
        width: 100%;
        top: 20%;
      }
    }
  }
}

@media (max-width: 1199px) {
  :host::ng-deep {
    .wrapper{
      max-width: 690px;
    }
    .section__subtitle{
      font-size: 10px;
      line-height: 13px;
      margin: 0 0 18px;
    }
    .section__title{
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 30px;
    }
  }
  .search{
    height: 330px;
    &::after{
      width: 65%;
      height: 95%;
      top: 0%;
      left: -10%;
    }
    &::before{
      width: 85%;
      height: 105%;
      top: -60%;
      right: -25%;
    }
  }
  .app-news{
    padding: 0;
  }
  .advantages{
    height: 55%;
  }
  .how-work{
    padding: 140px 0 0px;
    overflow: hidden;
  }
  .question{
    padding-top: 20px;
    padding-bottom: 20px;
    &::before{
      top: 48%;
      left: 69%;
      max-width: 340px;
      max-height: 340px;
    }
  }
  .get-start{
    padding: 80px 0;
    .wrapper{
      &::after {
        top: -50px;
        left: -10px;
        width: 60px;
        height: 70px;
        background-size: contain;
      }
    }
    &__wrap{
      max-width: initial;
    box-shadow: 0px 0px 17px rgba(128, 152, 213, 0.16);
    }
    &__title{
      font-size: 18px;
      line-height: 23px;
    }
    &__text{
      font-size: 14px;
      line-height: 18px;
    }
  }

  .footer{
    height: 330px;
    &::after{
      width: 35%;
      height: 100%;
      top: 10%;
      left: -6%;
    }
    &::before{
      width: 65%;
      height: 85%;
      bottom: -20%;
      right: -5%;
    }
    .column{
      width: auto;
      margin-bottom: 20px;
      &-title{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 15px;
      }
      &-item{
        font-size: 13px;
        line-height: 16px;
      }
      .column{
        &:nth-child(1){
          margin-right: auto;
          width: 20%;
        }
        &:nth-child(2){
          width: 28%;
        }
        &:nth-child(3){
          width: 29%;
        }
        &:nth-child(4){
          width: 14%;
        }
      }
    }
    .copyright{
      font-size: 13px;
      line-height: 16px;
    }
    .arrows{
      width: 100%;
      height: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .arrow{
        position: absolute;
        width: 100%;
        top: 20%;
      }
    }
  }
}

@media (max-width: 767px) {
  :host::ng-deep {
    .wrapper{
      max-width: 420px;
      width: 100%;
      padding: 0 15px;
    }
    .section__subtitle{
      font-size: 10px;
      line-height: 13px;
      margin: 0 0 10px;
    }
    .section__title{
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 22px;
    }
  }
  .search{
    height: 280px;
    &::after{
      display: none;
    }
    &::before{
      display: none;
    }
  }
  .advantages{
    height: auto;
  }
  .how-work{
    padding: 30px 0 30px;
  }
  .question{
    padding-bottom: 50px;
  }
  .app-news{
    padding: 0;
    overflow: hidden;
  }
  .get-start{
    flex-direction: column;
    padding: 40px 0;
    .wrapper{
      &::after {
        display: none;
      }
    }
    &__wrap{
      flex-direction: column;
      .top{
        width: 100%;
      }
    }
    &__title{
      margin: 0 auto 5px;
      width: max-content;
      text-align: center;
      max-width: 100%;
    }
    &__text{
      text-align: center;
      margin-bottom: 16px;
      margin: 0 auto 10px;
      width: max-content;

    }
    .btn{
      padding: 13px 35px;
    }
  }
  .footer{
    height: auto;
    &::after{
      display: none;
    }
    &::before{
      display: none;
    }
    .wrapper{
      padding: 0 35px;

    }
    .columns-list{
      flex-direction: column;
      padding-top: 90px;
    }
    .column{
      width: 100%;
      margin-bottom: 10px;
      &-title{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 15px;
      }
      &-item{
        font-size: 14px;
        line-height: 18px;
      }

      &.column-info{
        width: 100%;
        order: 4;
        justify-content: center;
        align-items: center;
        h4, p{
          text-align: center;
          margin-top: 0;

        }
      }

    }
    .copyright{
      font-size: 13px;
      line-height: 16px;
    }
    .arrows{
      display: none;
    }
  }
}
