<footer class="footer">

    <div class="wrapper">
        <div class="columns-list">
            <div class="column column-info">
                <h4>gigrum</h4>
                <p>{{'footer.text' | translate}}</p>
            </div>
            <ul class="column categories">
                <li class="column-title">{{'footer.list-title1' | translate}}</li>
                <li class="column-item"><a [routerLink]="['/catalog', 'Design-Art'] | localize">{{'home-page.specialist-item1' | translate}} </a></li>
                <li class="column-item"><a [routerLink]="['/catalog', 'Webprogramming'] | localize">{{'home-page.specialist-item2' | translate}} </a></li>
                <li class="column-item"><a [routerLink]="['/catalog', 'WorkingwithTexts'] | localize">{{'home-page.specialist-item3' | translate}} </a></li>
                <li class="column-item"><a [routerLink]="['/catalog', 'Marketing', 'SEOsiteaudit'] | localize">{{'home-page.specialist-item4' | translate}} </a></li>
                <li class="column-item"><a [routerLink]="['/catalog', 'Marketing'] | localize">{{'home-page.specialist-item5' | translate}} </a></li>
                <li class="column-item"><a [routerLink]="['/catalog', 'Audio-Video'] | localize">{{'home-page.specialist-item6' | translate}} </a></li>
            </ul>
            <!-- <ul class="column">
                <li class="column-title">{{'footer.list-title2' | translate}}</li>
                <li class="column-item"><a>{{'footer.list2-item1' | translate}} </a></li>
                <li class="column-item"><a>{{'footer.list2-item2' | translate}} </a></li>
                <li class="column-item"><a>{{'footer.list2-item3' | translate}} </a></li>
                <li class="column-item"><a>{{'footer.list2-item4' | translate}} </a></li>
                <li class="column-item"><a>{{'footer.list2-item5' | translate}} </a></li>
            </ul>
            <ul class="column">
                <li class="column-title">Gigrum</li>
                <li class="column-item"><a>{{'header.how_it_works' | translate}} </a></li>
                <li class="column-item"><a>{{'footer.list2-item1' | translate}} </a></li>
                <li class="column-item"><a>{{'footer.blog' | translate}} </a></li>
            </ul> -->
        </div>
        <div class="copyright">
            <span>{{'footer.copyright' | translate}}</span>
        </div>
    </div>
<div class="arrows">
    <img class="arrow" src="assets/images/home-page/gray-line.svg" alt="">
    <img class="arrow" src="assets/images/home-page/gray-line2.svg" alt="">
</div>
</footer>
