.wrapper {
  margin-top: 34px;
  background: #FFFFFF;
  box-shadow: 0px 0px 21px rgba(128, 152, 213, 0.074983);
  border-radius: 4px;
  padding-bottom: 26px;

  &>* {
    font-family: Source Sans Pro, sans-serif;
  }

  h4 {
    background: #F4F7FC;
    border-radius: 4px 4px 0px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #323C47;
    padding-top: 25px;
    position: relative;
    padding: 25px 20px;
    .ask {
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url(/assets/images/icons/ask.png);
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      border: none;
      box-shadow: none;

    }
  }

  .main-status {
    padding: 0 20px;

    p {
      margin-top: 28px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #33596E;
      opacity: 0.5;
    }

    .line-wrap {
      height: 48px;
      display: flex;
      justify-content: space-between;
      position: relative;

      .dot {
        width: 48px;
        height: 100%;
        border-radius: 50%;
        background-color: #4285F4;
        position: relative;
        z-index: 5;

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          text-transform: uppercase;
          color: #728096;
          position: absolute;
          bottom: -17px;

          &:nth-child(2) {
            left: 55%;
            transform: translateX(-50%);
          }
        }

        &:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-repeat: no-repeat;
          background-position: center;

        }

        &.start:after {
          background-image: url(/assets/images/icons/achives/beginer.png);
        }

        &.middle:after {
          background-image: url(/assets/images/icons/achives/middle.png);
        }

        &.pro:after {
          background-image: url(/assets/images/icons/achives/pro.png);
        }
      }

      .line {
        height: 1px;
        position: absolute;
        width: 100%;
        background-color: #BDC3C7;
        top: 50%;
        left: 0;

        .position {
          position: absolute;
          height: 100%;
          background: #4285F4;

          &:after {
            position: absolute;
            content: '';
            width: 2px;
            height: 34px;
            right: 2px;
            top: 50%;
            transform: translateY(-50%);
            background: #507BFC;
          }

          span {
            position: absolute;
            top: -42px;
            right: -20px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #507BFC;
          }
        }
      }
    }
  }

  .all-achive-types {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 46px;
    justify-content: space-between;
    padding: 0 20px;

    .achive-el {
      width: 48%;
      margin-bottom: 15px;
      display: flex;
      align-items: flex-start;


      &>div {
        display: flex;
        align-items: flex-start;
      }

      .detail-achive-line {
        margin-left: 17px;
        align-items: center;

        .line {
          margin-right: 8px;
          width: 170px;
          height: 7px;
          background: #BDC3C7;
          border-radius: 2px;
          position: relative;

          span {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            background: #5DDFA9;
            border-radius: 2px;
          }
        }

        .current-val {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #728096;
        }
      }

    }

    .icon {
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      position: relative;
      background: #BDC3C7;
      margin-right: 14px;

      &:before {
        position: absolute;
        content: '\e906';
        font-family: icomoon;
        font-size: 9px;
        color: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.full {
        background: #4285F4;
      }
    }

    p {
      margin: 0;
      width: 240px;
    }
  }

}

// e906
