<div class="wrapper">
  <header>
    <a [routerLink]="'/' | localize" class="logo">whocan</a>
    <div class="controls">
      <section class="notifications">
          <mat-icon aria-hidden="false" matBadge="1" aria-label="Example home icon" matBadgeColor="warn">notifications</mat-icon>
      </section>
      <section class="type-section">
        <div class="switch">
          <input
            id="radio-a"
            type="radio"
            name="first-switch"
            checked="checked"
          /><label  for="radio-a">Фрилансер</label
          ><input id="radio-b" type="radio" name="first-switch" /><label class="radio-b"
            for="radio-b"
            >Заказчик</label
          ><span class="toggle-outside"
            ><span class="toggle-inside"></span
          ></span>
        </div>
      </section>
      <section class="exit">
        <button (click)="userExit()">Выйти</button>
      </section>
    </div>
  </header>
  <div class="side-bar">
    <section class="avatar">
      <div class="lines"></div>
      <img src="/assets//images/images/ava.jpg" alt="avatar" />
      <p class="name">Анна Цветаева</p>
      <div class="raiting"></div>
    </section>
    <section class="menu">
      <nav>
        <a [routerLink]="'/dashboard' | localize">главная</a>
        <a [routerLink]="'/dashboard/my-services' | localize" >услуги</a>
      </nav>
    </section>
  </div>
  <div class="content-part">
    <router-outlet></router-outlet>
  </div>
</div>
