.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  header {
    background-color: #649af3;
    padding: 0 80px 0 50px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 6.5%;
    align-items: center;
    .logo {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
      text-transform: lowercase;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

:host ::ng-deep {
  .controls {
    .mat-slide-toggle-bar {
      width: 34px;
      height: 20px;
      background-color: #fff;
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
      border-radius: 16px;
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
      transform: translate3d(14px, 0, 0);
    }
    .mat-slide-toggle-thumb-container {
      left: 2px;
      top: 2px;
    }
    .mat-slide-toggle-thumb {
      width: 16px;
      height: 16px;
      background-color: #3c7eea;
    }
  }
}

//  --------------------------- togle btn ------------------------
.switch {
  position: relative;
  label {
    cursor: pointer;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    opacity: 0.33;
    transition: opacity 0.25s ease;
    width: 50%;
    height: 100%;
    &:first-of-type {
      margin-right: 62px;
    }
  }
  input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    &:checked {
      z-index: 1;
      & + label {
        opacity: 1;
        cursor: default;
      }
    }
    &:not(:checked) + label {
      opacity: 0.6;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .toggle-outside {
    width: 34px;
    height: 20px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
    overflow: hidden;
    transition: 0.25s ease all;
    background: #fff;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
  }
  .toggle-inside {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: #3c7eea;
    position: absolute;
    transition: 0.25s ease all;
    top: 2px;
  }
  input {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }
  input:checked ~ .toggle-outside .toggle-inside {
    left: 2px;
  }
  input ~ input:checked ~ .toggle-outside .toggle-inside {
    left: 16px;
  }
}
.notifications {
  margin-right: 30px;
  mat-icon {
    color: #fff;
    span {
      color: transparent;
      width: 8px;
      height: 8px;
      border: 1px solid #ffffff;
      right: -5px;
      top: -5px;
    }
  }
}
.controls {
  display: flex;
  .exit {
    button {
      border: none;
      background: none;
      margin-left: 80px;
      font-family: "Source Sans Pro", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
      color: #ffffff;
      cursor: pointer;
    }
  }
  .notifications {
    margin-right: 30px;
  }
}
.side-bar {
  width: 20%;
  height: 93.4%;
  .avatar {
    height: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      background: #649af3;
      height: 345px;
      top: 0;
      left: 0;
      z-index: -1;
    }
    img {
      width: 107px;
      height: 107px;
      border-radius: 50%;
      margin-bottom: 8px;
    }
  }
  .name {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
  }
  .menu{
    padding: 64px 45px;
    nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    a {
      width: 44%;
      height: 95px;
      display: block;
      background: #FFFFFF;
      border-radius: 8px;
      margin-bottom: 32px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      text-decoration: none;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        font-family: icoMoon;
        color: #BFC5D1;
        top: 35%;
        left: 50%;
        font-size: 30px;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-color: rgb(250, 249, 249);
      }
      &.active {
        background: #3C7EEA;
        box-shadow: 0px 10px 20px rgba(80, 123, 252, 0.5);
        border-radius: 8px;
      }
      span {
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #728096;
        margin-bottom: 17px;
      }
      &.dashboard:before {
        content: '\e903';
      }
      &.projects:before {
        content: '\e904';
      }
      &.chat:before {
        content: '\e90e';
        background: #BFC5D1;
        color: #fff;
      }
      &.services:before {
        content: '\e90f';
      }
      &.finance:before {
        content: '\e905';

      }
      &.settings:before {
        content: '\e914';
      }


    }
  }
}
.content-part {
  width: 77%;
  height: 93.4%;
  // overflow-y: auto;
  background: #fbfcfd;
  box-shadow: 0px 9px 21px rgba(128, 152, 213, 0.1);
  border-radius: 4px;
  overflow: scroll;
}
