<div class="inform_section">
  <div class="inform_section__title">
    <h3>{{'general.education' | translate}}</h3>
  </div>
  <div class="inform_section__fields">
    <div class="field-block-multiple">

      <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <div class="single-education-block" *ngFor="let arrayItem of userSettings.education; let i = index">

         <div class="field-block">
            <h5 class="fields-title">{{'user-settings.institution-name' | translate}}</h5>
            <input
              class="fields-value institution-name"
              type="text"
              required
              #institution="ngModel"
              minlength="2"
              name="institution-{{i}}"
              placeholder="{{'user-settings.institution-name' | translate}}"
              [(ngModel)]="userSettings.education[i].institution"
              [ngClass] = "{'not_Valid': !institution.valid && formSubmitted}"
            >

            <div *ngIf="!institution.valid && formSubmitted" class="alert-danger">
              <p>{{'user-settings.alert-min-length3' | translate}}</p>
            </div>

          </div>

          <div class="toggle_block" [ngClass]="{ hidden: openItem !== i + 1 && !closeAfterSaveSettings || closeAfterSaveSettings}">
            <div class="academicBlock">
              <div class="field-block academic-degrees service-selects">
                <label class="block-title" for="academicDegree">{{'user-settings.academic-degree' | translate}}</label>
                <mat-select name="academicDegree" id="academicDegree"
                  [(ngModel)]="userSettings.education[i].academicDegree">
                  <ng-container *ngFor="let academicDegree of academicDegrees">
                    <mat-option [value]="academicDegree">{{ academicDegreesTranslations[academicDegree-1]  | translate}}</mat-option>
                  </ng-container>
                </mat-select>
              </div>

              <div class="field-block">
                <h5 class="fields-title">{{'user-settings.specialty' | translate}}</h5>
                <input
                  class="fields-value"
                  type="text"
                  required
                  #specialty="ngModel"
                  minlength="4"
                  name="specialty-{{i}}"
                  placeholder="{{'user-settings.specialty' | translate}}"
                  [(ngModel)]="userSettings.education[i].specialty"
                  [ngClass] = "{not_Valid: !specialty.valid && formSubmitted}"

                  >
                  <div *ngIf="!specialty.valid && formSubmitted" class="alert-danger">
                    <p>{{'user-settings.alert-min-length3' | translate}}</p>
                  </div>
              </div>

            </div>

            <div class="studyPeriod">
              <div class="field-block service-selects">
                <label class="block-title" for="startEducation">{{'user-settings.education-start' | translate}}</label>
                <mat-select name="startEducation" id="startEducation"
                  [(ngModel)]="userSettings.education[i].startEducation" (selectionChange)="createYearsFinished($event.value)">
                  <ng-container *ngFor="let startEducation of yearsArr">
                    <mat-option [value]="startEducation">{{ startEducation }}</mat-option>
                  </ng-container>
                </mat-select>
              </div>
              <div class="field-block service-selects">
                <label class="block-title" for="finishEducation">{{'user-settings.education-end' | translate}}</label>
                <mat-select name="finishEducation" id="finishEducation" (selectionChange)="createYears($event.value)"
                  [(ngModel)]="userSettings.education[i].finishEducation">
                  <ng-container *ngFor="let finishEducation of yearsFinishArr">
                    <mat-option [value]="finishEducation">{{ finishEducation }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </div>
            </div>

            <div class="items">
              <ng-container *ngFor="let diplomaPhoto of userSettings.education[i].diploma; let x = index">
                <div  class="img-item" *ngIf="diplomaPhoto != null" >
                  <img  [src]="diplomaPhoto" height="300" />
                  <div class="delete-photo" (click)="deleteDiplomaPhoto(diplomaPhoto, i, x)"></div>
                </div>
              </ng-container>
            </div>

            <div class="add-photos" *ngIf="userSettings.education[i].diploma && userSettings.education[i].diploma.length < 5">
              <input type="file" id="diplomaFiles-{{i}}"  class="input-file" #file name="file"
                (change)="fileProgress($event.target.files, userSettings.education[i].id, i)" />
              <label for="diplomaFiles-{{i}}">{{'user-settings.onload-diploma' | translate}}</label>
            </div>

            <button type="button" class="change">
              <i class="material-icons create" (click)="chooseItem(i+1)">create</i>
            </button>
          </div>

          <button type="button" class="delete-education" (click)="deleteEducation(userSettings.education[i].id, i)">
            <i class="material-icons" >delete</i>
          </button>
        </div>

        <div class="add-education">
          <button class="add btn-third" type="submit">
            <i class="material-icons">add_circle_outline</i>
            <span>{{'user-settings.add-education' | translate}}</span>
          </button>
        </div>

      </form>


    </div>
  </div>
</div>
