.notifications {
  margin-right: 30px;
  position: relative;
  mat-icon {
    color: #fff;
    cursor: pointer;
    outline: none;
    &.active{
      &::after{
        display: block;
      }
    }
    &:after{
      position: absolute;
      display: none;
      content: "";
      width: 8px;
      height: 8px;
      background: #5ddfab;
      border-radius: 50%;
      left: 80%;
      top: -40%;
      transform: translate(50%, 50%);
    }
  }
}

.notifications-wrap{
  // display: none;
  position: absolute;
  z-index: 9;
  top: 40px;
  right: -20px;
  width: 395px;
  height: auto;
  max-height: 700px;
  // overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 15px 21px rgba(128, 152, 213, 0.5);
  border-radius: 8px;
  border: 1px solid #F4F7FC;
  &::after{
    content: "";
    background-color: #fff;
    border-top: 1px solid #F4F7FC;
    border-right: 1px solid #F4F7FC;
    transform: rotate(45deg);
    height: 20px;
    width: 20px;
    top: -10px;
    right: 20px;
    position: absolute;
    z-index: 9;
  }
  .notifications-title{
    font-size: 16px;
    line-height: 150%;
    color: #33596E;
    opacity: 0.5;
    padding: 16px;
    cursor: pointer;
    // border-bottom: 1px solid #F4F7FC;
    box-sizing: border-box;
  }
  .notifications-list{
    font-family: 'Source Sans Pro', sans-serif;
    overflow: scroll;
    max-height: 500px;
    padding-right: 0px;
    margin-right: 4px;
  }
  .notification-item{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 45px 6px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #F4F7FC;
    position: relative;
    &:first-child{
      border-top: 1px solid #F4F7FC;;
    }
    &:last-child{
      border-bottom: none;
    }
  }
  .notification-item__icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img{
      margin-top: 0px;
      max-width: 95%;
      position: relative;
      top: -5px;
    }
  }
  .notification-item__text{
    width: calc(100% - 50px);
    font-size: 16px;
    line-height: 131%;
    letter-spacing: 0.1px;
    color: #323C47;
    span{
      color: #3C7EEA;
      cursor: pointer;
      font-weight: 600;
    }
  }
  .notification-item__date{
    margin-left: 50px;    
    font-size: 14px;
    line-height: 171%;
    color: #33596E;
    opacity: 0.5;
  }
  .notification-delete{
    position: absolute;
    top: 13px;
    right: 17px;
    width: 19px;
    height: 19px;
    background-color: transparent;
    cursor: pointer;
    &::before, &::after{
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      height: 1px;
      width: 16px;
      background-color: #BFC5D1;
    }
    &::before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  .emptyList{
    display: block;
    font-size: 18px;
    line-height: 150%;
    color: #33596E;
    opacity: 0.5;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
  }
}