.wrapper {
  display: flex;
  padding: 250px 0 120px;
}

.personal-wrapper {
  width: 50%;
  min-height: 640px;
}

.main-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;

  &__text {
    font-size: 24px;
    line-height: 33px;
    color: #707683;
    margin-bottom: 45px;

    p {
      margin-bottom: 33px;
    }
  }

  &__wrap {
    max-width: 550px;
  }

  .btn {
    width: fit-content;
  }
}
