<div class="wrapper">
  <div class="personal-wrapper">
    <app-home-page-support-personal></app-home-page-support-personal>
  </div>
  <div class="main-info">
    <div class="main-info__wrap">
      <h3 class="section__subtitle">{{'home-page.support-subtitle' | translate}}</h3>
      <h2 class="section__title">{{'home-page.support-title' | translate}}</h2>
      <div class="main-info__text">
        <p>{{'home-page.support-text' | translate}}
        </p>
      </div>
      <a class="btn outline">{{'home-page.support-btn' | translate}}</a>
    </div>
  </div>
</div>
