<div class="wrapper">
  <div class="personal-wrapper">
    <app-home-page-support-personal></app-home-page-support-personal>
  </div>
  <div class="main-info">
    <div class="main-info__wrap">
      <h3 class="section__subtitle">всегда на связи</h3>
      <h2 class="section__title">Поддержка 24/7</h2>
      <div class="main-info__text">
        <p>Техническая и консультационная поддержка команды Gigrum, которая доступна круглые сутки каждый день недели.
        </p>
      </div>
      <a class="btn outline">перейти на страницу поддержки</a>
    </div>
  </div>
</div>
