<div class="paymenst-list">
  <div class="title">
    <span class="name">Контрагент</span>
    <span class="date">Дата операции</span>
    <span class="service">Услуга</span>
    <span class="type">Тип операции</span>
    <span class="cash">Сумма</span>
  </div>
  <div class="payment-items">
    <div class="item" *ngFor="let payment of userCashMoves">
      <div class="name">
        <div class="ava">
          <img [src]="payment.user.avatar" alt="user-avatar">
        </div>
        <span> {{ payment.user.name + ' ' +   payment.user.surname }}</span>
      </div>
      <div class="date">{{ payment.created_at | dateFormatPipe: 'dd.MM.yyyy' }}</div>
      <div class="service">{{ payment.OffersTitle }}</div>
      <div class="type ">
        <ng-container *ngFor="let el of paymentsTypes">
          <ng-container *ngIf="el.type === payment.trnsactonType">
              {{ el.name }}
          </ng-container>

        </ng-container>
      </div>
      <div class="cash"><span class="{{payment.trnsactonType}}">
          <span *ngIf="payment.trnsactonType === 'output'">-</span>{{ payment.amount }}
        </span> UAH</div>
    </div>
  </div>
</div>
