<section class="wrap" *ngIf="userServices">
    <h3>{{'dashboard.services.title' | translate}}</h3>

    <section #scrolledBlock>

        <ng-container *ngIf="userServices.length > 0">

            <mat-tab-group animationDuration="0ms" (selectedTabChange)="setCurrentTab($event)">

                <mat-tab *ngFor="let tab of tabs" label="{{ tab.name }}">
                    <div class="add-service" *ngIf="userServices.length > 0" (click)="createNewService()">
                        <button class="btn-third"> <i class="material-icons">
                add_circle_outline
              </i>{{'dashboard.services.create-service' | translate}}</button><br><br>
                    </div>
                    <ng-container *ngFor="let userService of userServices; let i = index">
                        <ng-container *ngIf="currentTab === 0 || userService.published && currentTab === 1 ||
            userService.canPublish && !userService.published && currentTab === 2 || !userService.canPublish && !userService.published &&  currentTab === 3 ">
                            <div class="item">
                                <div class="service-photo" (click)="openOffer(userService.id)">
                                    <img [src]="userService.mainImage" alt="offer-img">
                                </div>
                                <div class="offer-name">
                                    <h6>
                                        {{ userService.title }}
                                    </h6>
                                    <div class="item-menu">
                                        <button class="show-menu" (click)="showMenu(i)"><i class="material-icons">
                        more_vert
                      </i></button>
                                        <div class="menu" *ngIf="menuOpen === i" (clickOutside)="hideMenu($event, i)" [exclude]="'.show-menu'">
                                            <ul>
                                                <li (click)="openOffer(userService.id)"><i class="material-icons">
                            create
                          </i>{{'dashboard.services.change-service' | translate}}</li>
                                                <li>

                                                    <i class="material-icons">
                            visibility_off
                          </i> {{'dashboard.services.hide-service' | translate}} </li>
                                                <li (click)="deleteService(userService.id)">
                                                    <i class="material-icons">
                            delete
                          </i> {{'general.delete' | translate}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>

                </mat-tab>
            </mat-tab-group>

        </ng-container>

        <!-- first service creation -->

        <div class="no-offer-msg" *ngIf="!userServices || userServices.length === 0">
            <h4>{{'dashboard.services.empty-page-title' | translate}}</h4>
            <p>{{'dashboard.services.empty-page-subtitle' | translate}}</p>

            <button class="btn" (click)="createNewService()">{{'dashboard.services.create-service' | translate}}</button>
        </div>
    </section>

    <div class="dmsg-wrap" *ngIf="serviceToDeleteId">
        <div class="msg">
            <h5>{{'dashboard.services.delete-service-title' | translate}}</h5>
            <button class="btn" (click)="cencel()">{{'general.cancel' | translate}}</button>
            <button class="btn-sec" (click)="confirmDelete()">{{'general.delete' | translate}}</button>
        </div>
    </div>
</section>
