.section-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #323c47;

  display: flex;
  align-items: center;
}
.tabContent{
  background: #FFFFFF;
  border: 1px solid rgba(220, 224, 230, 0.5);
  border-top: none;
  box-sizing: border-box;
  border-radius: 3px;
  max-height: 850px;
  overflow: scroll;


}
.comments{
  font-family: Source Sans Pro;
  font-weight: normal;
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }
  .tabs{
    display: flex;
  }
  .tab{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;

    color: #323C47;
    padding: 12px 40px 12px 22px;
    margin-right: 7px;

    background: #FFFFFF;
    border: 1px solid rgba(220, 224, 230, 0.1);
    box-shadow: 0px 10px 16px rgba(128, 152, 213, 0.2);
    border-radius: 3px;
    cursor: pointer;
    &:last-child{
      margin-right: 0;
    }
    &.active{
      color: rgba(255, 255, 255, 0.9);
      background: #3C7EEA;
    }
  }
}
.comment{
  padding: 20px 20px 13px;

  font-family: Source Sans Pro;
  font-weight: normal;
  &__service-name{
    margin: 0 0 13px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #3C7EEA;
  }
  &__wrapp{
    display: flex;
  }
  &__img-wrapper{
    position: relative;
    padding-right: 32px;
    margin-right: 22px;
    min-width: 77px;
    height: 48px;
    &::after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
      background-image: url(/assets/images/svg/user/arrow-curly.svg);
    }
    img{
      min-width: 77px;
      height: 48px;
    }
  }
  &__avatar {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 22px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: 130%;
      border-radius: 50%;
    }
  }
  &__text-wrapper{
    display: flex;
    flex-direction: column;
  }
  &__top{
    display: flex;
  }
  &__name{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #4E5051;

    margin-right: 60px;
  }
  &__date{
    font-size: 16px;
    line-height: 20px;
    color: #99ACB7;
  }
  &__message{
    color: #4E5051;
    font-size: 18px;
    line-height: 23px;

    margin-bottom: 12px;
  }
  &__raiting{
    display: flex;

    font-size: 16px;
    line-height: 20px;
    color: #707683;
    &-item{
      display: flex;
      margin-right: 25px;
      span{
        padding-right: 7px;
      }
    }
  }
  &:nth-child(odd){
    background-color: #FBFCFD;
  }
}
