.user-settings-wrapper{
  // overflow: scroll;
  padding-bottom: 100px;
}
h1{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  margin: 30px;
  color: #323C47;
}

.tabs{

}
.mat-tab-group ::ng-deep{
  .mat-tab-label{
    opacity: 1;
    &-content{
      font-size: 18px;
      line-height: 23px;
      color: #323C47;
      font-style: normal;
      font-weight: normal;
      font-family: "Source Sans Pro";
    }
    &-active{
      .mat-tab-label-content{
        font-weight: 600;
        color: #3C7EEA;
      }
    }
  }
   mat-ink-bar.mat-ink-bar{
    height: 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #3C7EEA;
  }
}
