.gallery{
  margin-top: 25px;
  position: relative;
  ::ng-deep ngx-gallery-image{
    border: 1px solid #F2F5FB;
    box-sizing: border-box;
  }
  ::ng-deep .ngx-gallery-image.ngx-gallery-active{
    z-index: 1;
  }
  ::ng-deep .ngx-gallery-arrow-wrapper{
    width: 41px;
    height: 100.2%;
    background-color: #fff;
    z-index: 9;
    &.ngx-gallery-arrow-left{
      .ngx-gallery-icon::after{
        transform: translate(-30%, -50%) rotate(135deg);
      }
      .ngx-gallery-arrow{
        left: 0;
      }
    }
    &.ngx-gallery-arrow-right{
      .ngx-gallery-icon::after{
        transform: translate(-70%, -50%) rotate(-45deg);
      }
      .ngx-gallery-arrow{
        right: 0;
      }
    }
    .ngx-gallery-icon{
      width: 100%;
      height: 100%;
      background-color: transparent;
      top: 0;
      left: 0;
      transform: translate(0);
      z-index: 9;
      &::after{
        content: "";
        position: absolute;
        border: 3px solid #3F60FB;
        border-left: transparent;
        border-top: transparent;
        width: 10px;
        height: 10px;
        top: 50%;
        left: 50%;
      }
    }
  }
  ::ng-deep .ngx-gallery-close{
    background-color: black;
  }

  ::ng-deep ngx-gallery-thumbnails{
    .ngx-gallery-thumbnail{
      border: 1px solid #F2F5FB;
      box-sizing: border-box;
    }
    .ngx-gallery-arrow-wrapper{
      width: 27px;
    }
  }
  .fantom_full-size{
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.77);
    // background-image: url(/assets/images/svg/service-page/full-size.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 56px;
    width: 56px;
    top: 15px;
    right: 60px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 2;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}




